.banner {
    position: relative;
}

.banner > img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.banner .btn {
    width: 250px;
    height: 40px;
    border: none;
    line-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #8b071e;
    transition: all ease .3s;
    font-size: 14px;
    cursor: pointer;
}

@media screen and (max-width: 1919px) {
    .banner .btn {
        width: 250px;
    }
}

@media screen and (max-width: 1023px) {
    .banner .btn {
        width: 250px;
    }
}

@media screen and (max-width: 1023px) {
    .banner .btn {
        width: 250px;
    }
}

@media screen and (max-width: 639px) {
    .banner .btn {
        width: 120px;
    }
}

@media screen and (max-width: 1919px) {
    .banner .btn {
        height: 40px;
    }
}

@media screen and (max-width: 1023px) {
    .banner .btn {
        height: 40px;
    }
}

@media screen and (max-width: 1023px) {
    .banner .btn {
        height: 40px;
    }
}

@media screen and (max-width: 639px) {
    .banner .btn {
        height: 35px;
    }
}

@media screen and (max-width: 639px) {
    .banner .btn {
        height: 40px;
    }
}

.banner .btn:hover {
    background: #8b071e;
}

.banner__text-title {
    font-size: 30px;
}

@media screen and (max-width: 1919px) {
    .banner__text-title {
        font-size: 30px;
    }
}

@media screen and (max-width: 1023px) {
    .banner__text-title {
        font-size: 30px;
    }
}

@media screen and (max-width: 1023px) {
    .banner__text-title {
        font-size: 24px;
    }
}

@media screen and (max-width: 639px) {
    .banner__text-title {
        font-size: 18px;
    }
}

.banner__text-subtitle {
    margin-bottom: 20px;
}

@media screen and (max-width: 1919px) {
    .banner__text-subtitle {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 1023px) {
    .banner__text-subtitle {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 1023px) {
    .banner__text-subtitle {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 639px) {
    .banner__text-subtitle {
        margin-bottom: 10px;
    }
}

#preloader {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: white;
    z-index: 100000000000;
}

.preloader {
    width: 56px;
    height: 56px;
    border: 8px solid rgba(139, 7, 30, 0.25);
    border-top-color: #8b071e;
    border-radius: 50%;
    position: relative;
    animation: loader-rotate 1s linear infinite;
    top: 50%;
    margin: -28px auto 0 auto;
}

@keyframes loader-rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    width: 1800px;
}

@media screen and (max-width: 1919px) {
    .container {
        width: 1325px;
    }
}

@media screen and (max-width: 1365px) {
    .container {
        width: 950px;
    }
}

@media screen and (max-width: 1023px) {
    .container {
        width: 630px;
    }
}

@media screen and (max-width: 639px) {
    .container {
        width: 320px;
    }
}

.banner__text {
    height: 100%;
    position: relative;
}

.banner__text-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 450px;
    width: 540px;
}




.banner__text-title {
    color: white;
    margin-bottom: 15px;
}

.banner__text-subtitle {
    font-size: 14px;
    color: white;
}

.banner__plate {
    width: 103px;
    height: 22px;
    background: #ffddad;
    color: #8b071e;
    margin-bottom: 15px;
    font-size: 12px;
    line-height: 22px;
    text-align: center;
    border-radius: 3px;
}

.banner__text {
    height: 100%;
    position: relative;
}

.banner__text-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 450px;
    width: 540px;
}

@media screen and (max-width: 1919px) {
    .banner__text-wrap {
        height: 450px;
    }
}

@media screen and (max-width: 1023px) {
    .banner__text-wrap {
        height: 450px;
    }
}

@media screen and (max-width: 1023px) {
    .banner__text-wrap {
        height: 320px;
    }
}

@media screen and (max-width: 639px) {
    .banner__text-wrap {
        height: 320px;
        position: relative;
        bottom: 50px;
    }
}


.banner__text-title {
    color: white;
    margin-bottom: 15px;
}

.banner__text-subtitle {
    font-size: 14px;
    color: white;
}

.banner__plate {
    width: 103px;
    height: 22px;
    background: #ffddad;
    color: #8b071e;
    margin-bottom: 15px;
    font-size: 12px;
    line-height: 22px;
    text-align: center;
    border-radius: 3px;
}

@media screen and (max-width: 1919px) {
    .banner__text-wrap {
        height: 450px;
        width: 540px;
    }
}


@media screen and (max-width: 1023px) {
    .banner__text-wrap {
        height: 450px;
        width: 310px;
    }
}

@media screen and (max-width: 639px) {
    .banner__text-wrap {
        height: 360px;
        width: 240px;
    }
}