.title, .slider__title, .news__text-title, .calendar__title, .calendar__num, .calendar__month, .quarry__num, .contacts__title, .contacts__info strong, .footer-first, .footer-second__title, .enrollee-slider__title, .enrollee-info__reception-item, .docs__list-title {
  font-weight: 700; }

.tags__tag {
  font-weight: 500; }

.news__display-btn, .calendar__tag, .contacts__info span, .footer-second__item, .footer-three__info, .header-first a, .header-second__dropdown-item-list a {
  font-weight: 400; }

.slider__title {
  text-transform: uppercase; }

body::-webkit-scrollbar-track, html::-webkit-scrollbar-track {
  border-radius: 4px;
  height: 4px;
  background: #ffddad; }

body::-webkit-scrollbar, html::-webkit-scrollbar {
  width: 4px;
  height: 4px; }

body::-webkit-scrollbar-thumb, html::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #ffddad;
  height: 4px; }

.enrollee-slider__title {
  margin-bottom: 10px; }

.ancors__list-img {
  margin-bottom: 15px; }

.enrollee-info__reception-icon {
  margin-right: 15px; }

.tags, .enrollee-info__help-item, .enrollee-info__lists-item {
  margin-bottom: 20px; }

.tags {
  padding-bottom: 20px; }

.title, .contacts__title, .enrollee-info__tabs, .docs__list-title {
  margin-bottom: 30px; }

.enrollee-info__important-item {
  margin-bottom: 40px; }

.contacts {
  padding-top: 70px; }

.contacts {
  padding-bottom: 70px; }

.quarry {
  padding-top: 100px; }

.quarry {
  padding-bottom: 100px; }

.ancors__list-img:not(.video):before, .slider__item:before, .tags__tag, .tags__list-item, .news__more, .news__display-btn, .news__item:before, .calendar__tag, .calendar__more, .partners__item, .contacts__social-item, .footer-second__title .fa-angle-down, .footer-second__item, .header-first__social-item svg path, .header-first__timetable, .header-first__search, .header-first__look, .header-first__lk-list a, .header-first__rector, .header-first__comission, .header-first__rector-list a, .header-second__menu-item > a, .header-second__dropdown-button, .header-second__dropdown-item, .header-second__dropdown-item.blocked .fa-chevron-down, .header-second__dropdown-item .fa-chevron-down, .enrollee-info__tab, .enrollee-info__help-item, .enrollee-info__reception-item, .enrollee-info__important-item, .ancors__list-item span {
  transition: all ease .3s; }

.enrollee-info, .ancors, .docs {
  padding: 100px 0; }
@media screen and (max-width: 1919px) {
  .enrollee-info, .ancors, .docs {
    padding: 100px 0; } }
@media screen and (max-width: 1023px) {
  .enrollee-info, .ancors, .docs {
    padding: 100px 0; } }
@media screen and (max-width: 1023px) {
  .enrollee-info, .ancors, .docs {
    padding: 50px 0; } }
@media screen and (max-width: 639px) {
  .enrollee-info, .ancors, .docs {
    padding: 40px 0; } }

.slider__item, .news__item, .enrollee-slider__item, .enrollee-info__reception-icon, .ancors__list-img {
  position: relative; }
.slider__item > img, .news__item > img, .enrollee-slider__item > img, .enrollee-info__reception-icon > img, .ancors__list-img > img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover; }

.banner .btn {
  width: 150px;
  height: 40px;
  border: none;
  line-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #8b071e;
  transition: all ease .3s;
  font-size: 14px;
  color: white;
  cursor: pointer; }
  @media screen and (max-width: 639px) {
    .banner .btn {
      width: 120px;
      height: 35px;
      line-height: 35px; } }
  .banner .btn:hover {
    background: #8b071e; }

.ancors__list-img:not(.video):before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: block;
  z-index: 1;
  background-color: #8b071e;
  opacity: 0; }


.header-first__search input {
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  border: 1px solid transparent; }
  .header-first__search input.error {
    border: 1px solid #e20020; }
  @media screen and (max-width: 1023px) {
    .header-first__search input {
      font-size: 13px; } }

.title, .banner__text-title, .calendar__title {
  line-height: 36px; }
  @media screen and (max-width: 1919px) {
    .title, .banner__text-title, .calendar__title {
      line-height: 30px; } }
  @media screen and (max-width: 1023px) {
    .title, .banner__text-title, .calendar__title {
      line-height: 30px; } }
  @media screen and (max-width: 1023px) {
    .title, .banner__text-title, .calendar__title {
      line-height: 30px; } }
  @media screen and (max-width: 639px) {
    .title, .banner__text-title, .calendar__title {
      line-height: 24px; } }

.news__text-title, .enrollee-slider__content, .ancors__list-item span {
  line-height: 24px; }
@media screen and (max-width: 1919px) {
  .news__text-title, .enrollee-slider__content, .ancors__list-item span {
    line-height: 18px; } }
@media screen and (max-width: 1023px) {
  .news__text-title, .enrollee-slider__content, .ancors__list-item span {
    line-height: 18px; } }
@media screen and (max-width: 1023px) {
  .news__text-title, .enrollee-slider__content, .ancors__list-item span {
    line-height: 18px; } }
@media screen and (max-width: 639px) {
  .news__text-title, .enrollee-slider__content, .ancors__list-item span {
    line-height: 18px; } }

.enrollee-info__tab {
  display: flex;
  align-items: center;
  justify-content: center; }

.enrollee-slider__wrap, .enrollee-info__reception-item, .docs__list-item {
  display: flex;
  align-items: center; }

.title {
  font-size: 24px; }
  @media screen and (max-width: 1919px) {
    .title {
      font-size: 24px; } }
  @media screen and (max-width: 1023px) {
    .title {
      font-size: 20px; } }
  @media screen and (max-width: 1023px) {
    .title {
      font-size: 20px; } }
  @media screen and (max-width: 639px) {
    .title {
      font-size: 18px; } }

.slider__title {
  font-size: 18px; }
  @media screen and (max-width: 1919px) {
    .slider__title {
      font-size: 18px; } }
  @media screen and (max-width: 1023px) {
    .slider__title {
      font-size: 18px; } }
  @media screen and (max-width: 1023px) {
    .slider__title {
      font-size: 18px; } }
  @media screen and (max-width: 639px) {
    .slider__title {
      font-size: 14px; } }

.enrollee-slider__info {
  font-size: 16px; }
@media screen and (max-width: 1919px) {
  .enrollee-slider__info {
    font-size: 16px; } }
@media screen and (max-width: 1023px) {
  .enrollee-slider__info {
    font-size: 16px; } }
@media screen and (max-width: 1023px) {
  .enrollee-slider__info {
    font-size: 16px; } }
@media screen and (max-width: 639px) {
  .enrollee-slider__info {
    font-size: 14px; } }

.slider__subtitle, .news__display-btn, .calendar__tag, .contacts__info, .enrollee-info__reception-item, .enrollee-info__lists-item, .ancors__list-item span, .ancors__list-img, .docs__list-item span, .docs__list-title {
  font-size: 14px; }
@media screen and (max-width: 1919px) {
  .slider__subtitle, .news__display-btn, .calendar__tag, .contacts__info, .enrollee-info__reception-item, .enrollee-info__lists-item, .ancors__list-item span, .ancors__list-img, .docs__list-item span, .docs__list-title {
    font-size: 14px; } }
@media screen and (max-width: 1023px) {
  .slider__subtitle, .news__display-btn, .calendar__tag, .contacts__info, .enrollee-info__reception-item, .enrollee-info__lists-item, .ancors__list-item span, .ancors__list-img, .docs__list-item span, .docs__list-title {
    font-size: 14px; } }
@media screen and (max-width: 1023px) {
  .slider__subtitle, .news__display-btn, .calendar__tag, .contacts__info, .enrollee-info__reception-item, .enrollee-info__lists-item, .ancors__list-item span, .ancors__list-img, .docs__list-item span, .docs__list-title {
    font-size: 14px; } }
@media screen and (max-width: 639px) {
  .slider__subtitle, .news__display-btn, .calendar__tag, .contacts__info, .enrollee-info__reception-item, .enrollee-info__lists-item, .ancors__list-item span, .ancors__list-img, .docs__list-item span, .docs__list-title {
    font-size: 13px; } }

.quarry {
  padding-bottom: 100px; }
  @media screen and (max-width: 1919px) {
    .quarry {
      padding-bottom: 100px; } }
  @media screen and (max-width: 1023px) {
    .quarry {
      padding-bottom: 80px; } }
  @media screen and (max-width: 1023px) {
    .quarry {
      padding-bottom: 60px; } }
  @media screen and (max-width: 639px) {
    .quarry {
      padding-bottom: 50px; } }

.quarry {
  padding-top: 100px; }
  @media screen and (max-width: 1919px) {
    .quarry {
      padding-top: 100px; } }
  @media screen and (max-width: 1023px) {
    .quarry {
      padding-top: 80px; } }
  @media screen and (max-width: 1023px) {
    .quarry {
      padding-top: 60px; } }
  @media screen and (max-width: 639px) {
    .quarry {
      padding-top: 50px; } }

.contacts {
  padding-bottom: 70px; }
  @media screen and (max-width: 1919px) {
    .contacts {
      padding-bottom: 70px; } }
  @media screen and (max-width: 1023px) {
    .contacts {
      padding-bottom: 60px; } }
  @media screen and (max-width: 1023px) {
    .contacts {
      padding-bottom: 40px; } }
  @media screen and (max-width: 639px) {
    .contacts {
      padding-bottom: 30px; } }

.contacts {
  padding-top: 70px; }
  @media screen and (max-width: 1919px) {
    .contacts {
      padding-top: 70px; } }
  @media screen and (max-width: 1023px) {
    .contacts {
      padding-top: 60px; } }
  @media screen and (max-width: 1023px) {
    .contacts {
      padding-top: 40px; } }
  @media screen and (max-width: 639px) {
    .contacts {
      padding-top: 30px; } }

.enrollee-info__important-item {
  margin-bottom: 40px; }
@media screen and (max-width: 1919px) {
  .enrollee-info__important-item {
    margin-bottom: 40px; } }
@media screen and (max-width: 1023px) {
  .enrollee-info__important-item {
    margin-bottom: 30px; } }
@media screen and (max-width: 1023px) {
  .enrollee-info__important-item {
    margin-bottom: 30px; } }
@media screen and (max-width: 639px) {
  .enrollee-info__important-item {
    margin-bottom: 30px; } }

.title, .contacts__title, .enrollee-info__tabs, .docs__list-title {
  margin-bottom: 30px; }
@media screen and (max-width: 1919px) {
  .title, .contacts__title, .enrollee-info__tabs, .docs__list-title {
    margin-bottom: 30px; } }
@media screen and (max-width: 1023px) {
  .title, .contacts__title, .enrollee-info__tabs, .docs__list-title {
    margin-bottom: 30px; } }
@media screen and (max-width: 1023px) {
  .title, .contacts__title, .enrollee-info__tabs, .docs__list-title {
    margin-bottom: 30px; } }
@media screen and (max-width: 639px) {
  .title, .contacts__title, .enrollee-info__tabs, .docs__list-title {
    margin-bottom: 20px; } }

.tags, .enrollee-info__help-item, .enrollee-info__lists-item {
  margin-bottom: 20px; }
@media screen and (max-width: 1919px) {
  .tags, .enrollee-info__help-item, .enrollee-info__lists-item {
    margin-bottom: 20px; } }
@media screen and (max-width: 1023px) {
  .tags, .enrollee-info__help-item, .enrollee-info__lists-item {
    margin-bottom: 20px; } }
@media screen and (max-width: 1023px) {
  .tags, .enrollee-info__help-item, .enrollee-info__lists-item {
    margin-bottom: 10px; } }
@media screen and (max-width: 639px) {
  .tags, .enrollee-info__help-item, .enrollee-info__lists-item {
    margin-bottom: 10px; } }

.tags {
  padding-bottom: 20px; }
  @media screen and (max-width: 1919px) {
    .tags {
      padding-bottom: 20px; } }
  @media screen and (max-width: 1023px) {
    .tags {
      padding-bottom: 20px; } }
  @media screen and (max-width: 1023px) {
    .tags {
      padding-bottom: 10px; } }
  @media screen and (max-width: 639px) {
    .tags {
      padding-bottom: 10px; } }

.title, .slider__title, .news__text-title, .calendar__title, .calendar__num, .calendar__month, .quarry__num, .contacts__title, .contacts__info strong, .footer-first, .footer-second__title, .enrollee-slider__title, .enrollee-info__reception-item, .docs__list-title {
  font-weight: 700; }

.tags__tag {
  font-weight: 500; }

.news__display-btn, .calendar__tag, .contacts__info span, .footer-second__item, .footer-three__info, .header-first a, .header-second__dropdown-item-list a {
  font-weight: 400; }

.enrollee-slider__info, .enrollee-info__help-item, .enrollee-info__important-item {
  font-size: 14px; }

.enrollee-info__reception-item {
  text-transform: uppercase; }

.enrollee-slider__content, .enrollee-info__tab:hover, .enrollee-info__help-item, .enrollee-info__reception-item, .enrollee-info__lists-item {
  color: white; }

.enrollee-info__reception-item:last-child, .enrollee-info__lists-item:last-child, .enrollee-info__important-item:last-child {
  margin-bottom: 0;
  border-bottom: 0; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  font-family: 'Montserrat', sans-serif;
  color: #000000; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box;
  outline: none; }

a {
  text-decoration: none;
  color: inherit; }

html {
  scroll-behavior: smooth; }

a {
  display: inline-block; }
  a:hover {
    color: #f9f9f9; }

body {
  line-height: 1.2;
  color: black;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background: #f9f9f9; }
  body a {
    font-weight: 400; }
  @media screen and (max-width: 1919px) {
    body {
      background-color: #f9f9f9; } }
  body::-webkit-scrollbar-track {
    border-radius: 6px;
    height: 6px;
    background: white; }
  body::-webkit-scrollbar {
    width: 6px;
    height: 6px; }
  body::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: #8b071e;
    height: 6px; }

strong {
  display: inline-block;
  font-weight: bold; }

.content-wrapper {
  flex-grow: 1; }

a {
  color: black;
  transition: all ease .3s; }
  a:hover {
    color: #f9f9f9; }

p {
  font-size: 14px;
  line-height: 1.8; }
  @media screen and (max-width: 1023px) {
    p {
      font-size: 13px; } }

textarea {
  width: 100%;
  height: 160px;
  resize: none;
  font-family: "Roboto", sans-serif;
  background-color: #f7f7f7;
  padding: 15px;
  font-size: 14px;
  line-height: 1.5;
  border: 1px solid transparent; }
  textarea:focus {
    border: 1px solid #e6e6e6; }
  @media screen and (max-width: 1023px) {
    textarea {
      font-size: 13px; } }
  @media screen and (max-width: 1023px) {
    textarea {
      font-size: 13px; } }

.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 30px; }

.slick-dots button {
  visibility: hidden; }

.slick-dots [role="presentation"]{
  width: 5px;
  height: 5px;
  background: white;
  margin-right: 5px;
  overflow: hidden;
  transition: all ease .3s;
  cursor: pointer;
  border-radius: 50%; }

[role="presentation"].slick-active {
  background: #8b071e;
  width: 5px;
  height: 5px; }

[role="presentation"]:last-child {
  margin-right: 0; }

.slick-slider {
  padding-bottom: 0; }

.up-btn {
  cursor: pointer;
  width: 40px;
  height: 40px;
  background: black;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 70px;
  bottom: 30px; }
  @media screen and (max-width: 1919px) {
    .up-btn {
      width: 40px; } }
  @media screen and (max-width: 1023px) {
    .up-btn {
      width: 40px; } }
  @media screen and (max-width: 1023px) {
    .up-btn {
      width: 35px; } }
  @media screen and (max-width: 639px) {
    .up-btn {
      width: 35px; } }
  @media screen and (max-width: 1919px) {
    .up-btn {
      height: 40px; } }
  @media screen and (max-width: 1023px) {
    .up-btn {
      height: 40px; } }
  @media screen and (max-width: 1023px) {
    .up-btn {
      height: 35px; } }
  @media screen and (max-width: 639px) {
    .up-btn {
      height: 35px; } }
  @media screen and (max-width: 1919px) {
    .up-btn {
      right: 35px; } }
  @media screen and (max-width: 1023px) {
    .up-btn {
      right: 35px; } }
  @media screen and (max-width: 1023px) {
    .up-btn {
      right: 35px; } }
  @media screen and (max-width: 639px) {
    .up-btn {
      right: 35px; } }

#preloader {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: white;
  z-index: 100000000000; }

.preloader {
  width: 56px;
  height: 56px;
  border: 8px solid rgba(139, 7, 30, 0.25);
  border-top-color: #8b071e;
  border-radius: 50%;
  position: relative;
  animation: loader-rotate 1s linear infinite;
  top: 50%;
  margin: -28px auto 0 auto; }

@keyframes loader-rotate {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 1200px; }
  @media screen and (max-width: 1023px) {
    .container {
      width: 630px; } }
  @media screen and (max-width: 639px) {
    .container {
      width: 320px; } }

.title {
  max-width: 390px; }

i {
  cursor: pointer; }

footer {
  background-color: #2b2c30;
  color: white; }
  footer a {
    color: white; }

header {
  position: relative;
  z-index: 10; }

.banner-container {
  width: calc(80%); }
@media screen and (max-width: 1919px) {
  .banner-container {
    width: calc(90%); } }
@media screen and (max-width: 1365px) {
  .banner-container {
    width: calc(100%); } }

.banner-arrows {
  pointer-events: none;
  height: 650px;
  position: absolute;
  right: 0;
  left: 0;
  z-index: 1; }
  @media screen and (max-width: 1024px) {
    .banner-arrows {
      height: 540px; } }
  @media screen and (max-width: 639px) {
    .banner-arrows {
      height: 360px; } }
  .banner-arrows .container {
    height: 100%; }
  .banner-arrows__block {
    position: relative; }
  .banner-arrows__arrow {
    top: 50%;
    pointer-events: all;
    transform: translateY(-50%);
    right: 0;
    display: block;
    width: 14px;
    height: 12px;
    position: absolute;
    cursor: pointer; }
    @media screen and (max-width: 639px) {
      .banner-arrows__arrow {
        right: 15px;
        font-size: 20px; } }
  .banner-arrows__right {
    background: url("/images/slider-arrow/1.png"); }
  .banner-arrows__left {
    background: url("/images/slider-arrow/2.png");
    top: calc(50% + 40px); }

.banner-slider .slick-dots {
  bottom: 120px; }
  @media screen and (max-width: 639px) {
    .banner-slider .slick-dots {
      bottom: 85px; } }

.banner .btn {
  color: white; }

.banner__text-subtitle {
  line-height: 24px; }
  @media screen and (max-width: 639px) {
    .banner__text-subtitle {
      display: none; } }

.slider {
  transform: translateY(-50%); }
  .slider .slick-arrow {
    position: absolute;
    right: -35px;
    bottom: 10px;
    color: #8b071e;
    font-size: 24px; }
    @media screen and (max-width: 639px) {
      .slider .slick-arrow {
        right: -25px;
        font-size: 20px; } }
    .slider .slick-arrow.fa-circle-chevron-left {
      bottom: 40px; }
  .slider__item {
    cursor: pointer;
    width: 356px;
    height: 180px;
    margin: 0 8px;
    color: white;
    padding: 25px;
    display: flex !important;
    flex-direction: column;
    justify-content: center; }
    .slider__item:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: black;
      z-index: 1;
      opacity: 0; }
    .slider__item:hover:before {
      opacity: 0.5; }
    @media screen and (max-width: 1919px) {
      .slider__item {
        width: 414px; } }
    @media screen and (max-width: 1023px) {
      .slider__item {
        width: 414px; } }
    @media screen and (max-width: 1023px) {
      .slider__item {
        width: 525px; } }
    @media screen and (max-width: 639px) {
      .slider__item {
        width: 275px; } }
    @media screen and (max-width: 1919px) {
      .slider__item {
        height: 180px; } }
    @media screen and (max-width: 1023px) {
      .slider__item {
        height: 180px; } }
    @media screen and (max-width: 1023px) {
      .slider__item {
        height: 185px; } }
    @media screen and (max-width: 639px) {
      .slider__item {
        height: 140px; } }
    @media screen and (max-width: 1919px) {
      .slider__item {
        padding: 25px; } }
    @media screen and (max-width: 1023px) {
      .slider__item {
        padding: 25px; } }
    @media screen and (max-width: 1023px) {
      .slider__item {
        padding: 25px; } }
    @media screen and (max-width: 639px) {
      .slider__item {
        padding: 10px; } }
    @media screen and (max-width: 639px) {
      .slider__item {
        justify-content: flex-end; } }
  .slider__title {
    margin-bottom: 3px;
    position: relative;
    width: 260px;
    z-index: 1; }
  .slider__subtitle {
    position: relative;
    line-height: 24px;
    width: 260px;
    z-index: 1; }
  .slider__box {
    position: relative;
    right: 15px; }

.main {
  padding-bottom: 130px;
  background-color: #f9f9f9;
  background-image: url("/images/newsbg1.png");
  background-repeat: no-repeat;
  background-position: left bottom; }
  @media screen and (max-width: 1919px) {
    .main {
      padding-bottom: 90px; } }
  @media screen and (max-width: 1023px) {
    .main {
      padding-bottom: 90px; } }
  @media screen and (max-width: 1023px) {
    .main {
      padding-bottom: 80px; } }
  @media screen and (max-width: 639px) {
    .main {
      padding-bottom: 60px; } }
  @media screen and (max-width: 1023px) {
    .main {
      background-image: none; } }
  .main__wrap {
    display: grid;
    grid-column-gap: 70px;
    grid-template-columns: 770px auto; }
    @media screen and (max-width: 1919px) {
      .main__wrap {
        grid-column-gap: 56px; } }
    @media screen and (max-width: 1023px) {
      .main__wrap {
        grid-column-gap: 0px; } }
    @media screen and (max-width: 1023px) {
      .main__wrap {
        grid-column-gap: 0px; } }
    @media screen and (max-width: 639px) {
      .main__wrap {
        grid-column-gap: 0px; } }
    @media screen and (max-width: 1919px) {
      .main__wrap {
        grid-template-columns: 601px auto; } }
    @media screen and (max-width: 1023px) {
      .main__wrap {
        grid-template-columns: 1fr;
        grid-row-gap: 0px; } }
  @media screen and (max-width: 1023px) and (max-width: 1919px) {
    .main__wrap {
      grid-row-gap: 0px; } }
  @media screen and (max-width: 1023px) and (max-width: 1023px) {
    .main__wrap {
      grid-row-gap: 0px; } }
  @media screen and (max-width: 1023px) and (max-width: 1023px) {
    .main__wrap {
      grid-row-gap: 50px; } }
  @media screen and (max-width: 1023px) and (max-width: 639px) {
    .main__wrap {
      grid-row-gap: 40px; } }

.tags {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 15px;
  position: relative;
  z-index: 2; }
  .tags__tag {
    position: relative;
    cursor: pointer;
    font-size: 15px; }
    .tags__tag:hover {
      color: #8b071e; }
      .tags__tag:hover .tags__list {
        display: block; }
    @media screen and (max-width: 1919px) {
      .tags__tag {
        font-size: 15px; } }
    @media screen and (max-width: 1023px) {
      .tags__tag {
        font-size: 15px; } }
    @media screen and (max-width: 1023px) {
      .tags__tag {
        font-size: 15px; } }
    @media screen and (max-width: 639px) {
      .tags__tag {
        font-size: 13px; } }
  .tags__list {
    width: 200px;
    padding: 20px;
    box-shadow: 0px 10px 20px 0px rgba(51, 48, 46, 0.15);
    position: absolute;
    background: white;
    left: 0;
    line-height: 18px;
    display: none;
    z-index: 1;
    top: 100%; }
  .tags__list-item {
    font-size: 14px;
    margin-bottom: 10px;
    position: relative; }
    .tags__list-item:hover, .tags__tag-item:hover  {
      color: #8b071e; }
    .tags__list-item:last-child {
      margin-bottom: 0; }

.news__more {
  color: #8b071e;
  display: flex;
  align-items: center; }
  .news__more:hover {
    color: #dd1f40; }
  .news__more i {
    margin-left: 10px; }

.news__display {
  margin-bottom: 30px; }

.news__display-btn {
  height: 40px;
  padding: 0 13px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  margin-bottom: 5px; }
  @media screen and (max-width: 1919px) {
    .news__display-btn {
      height: 40px; } }
  @media screen and (max-width: 1023px) {
    .news__display-btn {
      height: 40px; } }
  @media screen and (max-width: 1023px) {
    .news__display-btn {
      height: 40px; } }
  @media screen and (max-width: 639px) {
    .news__display-btn {
      height: 30px; } }
  @media screen and (max-width: 1919px) {
    .news__display-btn {
      background: white; } }
  @media screen and (max-width: 639px) {
    .news__display-btn {
      padding: 0 6px; } }
  .news__display-btn:last-child {
    margin-right: 0; }
  .news__display-btn:hover {
    background: #ffddad; }
  .news__display-btn.active {
    color: white;
    background: #2b2c30; }

.news__text {
  position: absolute;
  z-index: 1;
  bottom: 20px;
  color: white;
  margin-right: 20px; }

.news__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  margin-bottom: 35px;
  padding-bottom: 35px;
  border-bottom: 1px solid white; }
  @media screen and (max-width: 1919px) {
    .news__list {
      grid-template-columns: repeat(2, 1fr); } }
  @media screen and (max-width: 1023px) {
    .news__list {
      grid-template-columns: repeat(2, 1fr); } }
  @media screen and (max-width: 1023px) {
    .news__list {
      grid-template-columns: repeat(2, 1fr); } }
  @media screen and (max-width: 639px) {
    .news__list {
      grid-template-columns: repeat(1, 1fr); } }
  @media screen and (max-width: 1919px) {
    .news__list {
      grid-column-gap: 30px; } }
  @media screen and (max-width: 1023px) {
    .news__list {
      grid-column-gap: 30px; } }
  @media screen and (max-width: 1023px) {
    .news__list {
      grid-column-gap: 30px; } }
  @media screen and (max-width: 639px) {
    .news__list {
      grid-column-gap: 10px; } }
  @media screen and (max-width: 1919px) {
    .news__list {
      grid-row-gap: 30px; } }
  @media screen and (max-width: 1023px) {
    .news__list {
      grid-row-gap: 30px; } }
  @media screen and (max-width: 1023px) {
    .news__list {
      grid-row-gap: 30px; } }
  @media screen and (max-width: 639px) {
    .news__list {
      grid-row-gap: 10px; } }

.news__item {
  padding: 20px;
  height: 370px; }
  @media screen and (max-width: 1919px) {
    .news__item {
      height: 285px; } }
  @media screen and (max-width: 1023px) {
    .news__item {
      height: 285px; } }
  @media screen and (max-width: 1023px) {
    .news__item {
      height: 285px; } }
  @media screen and (max-width: 639px) {
    .news__item {
      height: 300px; } }
  .news__item:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    z-index: 1;
    opacity: 0.2; }
  .news__item:hover:before {
    opacity: 0.7; }
  .news__item.red .news__text-tag {
    background-color: #ffddad; }
  .news__item.red:before {
    background-color: #911a2f; }
  .news__item.blue .news__text-tag {
    background-color: #2b2c30; }
  .news__item.blue:before {
    background-color: #005f7f; }
  .news__item.purple .news__text-tag {
    background-color: #b88acc; }
  .news__item.purple:before {
    background-color: #3f204c; }
  .news__item.green .news__text-tag {
    background-color: #99c86f; }
  .news__item.green:before {
    background-color: #366c06; }


.news__text-tag {
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  color: white;
  text-align: center;
  display: inline-block;
  margin-bottom: 15px; }
.news__text-tag.black {
    color: black; }

.news__text-title {
  font-size: 16px;
  margin-bottom: 5px; }
  @media screen and (max-width: 1919px) {
    .news__text-title {
      font-size: 14px; } }
  @media screen and (max-width: 1023px) {
    .news__text-title {
      font-size: 14px; } }
  @media screen and (max-width: 1023px) {
    .news__text-title {
      font-size: 14px; } }
  @media screen and (max-width: 639px) {
    .news__text-title {
      font-size: 12px; } }

.news__text-data {
  font-size: 12px; }

.calendar {
  height: max-content; }
  @media screen and (max-width: 1919px) {
    .calendar {
      background: white; } }

  @media screen and (max-width: 1023px) {
    .calendar {
      display: grid;
      grid-template-columns: repeat(1, 1fr); } }
  @media screen and (max-width: 1023px) and (max-width: 1919px) {
    .calendar {
      grid-template-columns: repeat(1, 1fr); } }
  @media screen and (max-width: 1023px) and (max-width: 1023px) {
    .calendar {
      grid-template-columns: repeat(1, 1fr); } }
  @media screen and (max-width: 1023px) and (max-width: 1023px) {
    .calendar {
      grid-template-columns: repeat(2, 1fr); } }
  @media screen and (max-width: 1023px) and (max-width: 639px) {
    .calendar {
      grid-template-columns: repeat(1, 1fr); } }
  .calendar__title {
    margin-bottom: 10px;
    font-size: 24px; }
    @media screen and (max-width: 1919px) {
      .calendar__title {
        font-size: 24px; } }
    @media screen and (max-width: 1023px) {
      .calendar__title {
        font-size: 24px; } }
    @media screen and (max-width: 1023px) {
      .calendar__title {
        font-size: 24px; } }
    @media screen and (max-width: 639px) {
      .calendar__title {
        font-size: 20px; } }
  .calendar__tags {
    display: flex;
    column-gap: 5px;
    row-gap: 5px;
    flex-wrap: wrap; }
  .calendar__tag {
    height: 40px;
    padding: 0 13px;
    background: #f9f9f9;
    display: inline-flex;
    align-items: center;
    justify-content: center; }
    @media screen and (max-width: 1919px) {
      .calendar__tag {
        height: 40px; } }
    @media screen and (max-width: 1023px) {
      .calendar__tag {
        height: 40px; } }
    @media screen and (max-width: 1023px) {
      .calendar__tag {
        height: 40px; } }
    @media screen and (max-width: 639px) {
      .calendar__tag {
        height: 30px; } }
    @media screen and (max-width: 639px) {
      .calendar__tag {
        padding: 0 6px; } }
    .calendar__tag:hover {
      background: #ffddad; }
    .calendar__tag.active {
      color: white;
      background: #2b2c30; }
  .calendar__data {
    display: grid;
    grid-template-columns: 36px auto;
    grid-column-gap: 10px; }
    @media screen and (max-width: 1919px) {
      .calendar__data {
        grid-column-gap: 10px; } }
    @media screen and (max-width: 1023px) {
      .calendar__data {
        grid-column-gap: 10px; } }
    @media screen and (max-width: 1023px) {
      .calendar__data {
        grid-column-gap: 10px; } }
    @media screen and (max-width: 639px) {
      .calendar__data {
        grid-column-gap: 40px; } }
  .calendar__more {
    color: #8b071e;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid #8b071e;
    border-bottom: 1px solid transparent; }
    .calendar__more:hover {
      color: #dd1f40; }
    .calendar__more i {
      margin-left: 10px; }
  .calendar__content {
    display: grid;
    font-size: 14px;
    grid-template-columns: 40px auto;
    line-height: 24px;
    grid-column-gap: 10px; }
    @media screen and (max-width: 1919px) {
      .calendar__content {
        grid-column-gap: 10px; } }
    @media screen and (max-width: 1023px) {
      .calendar__content {
        grid-column-gap: 10px; } }
    @media screen and (max-width: 1023px) {
      .calendar__content {
        grid-column-gap: 10px; } }
    @media screen and (max-width: 639px) {
      .calendar__content {
        grid-column-gap: 40px; } }
  .calendar__num {
    color: #2b2c30;
    font-size: 34px;
    display: flex;
    justify-content: flex-end; }
    @media screen and (max-width: 1919px) {
      .calendar__num {
        font-size: 34px; } }
    @media screen and (max-width: 1023px) {
      .calendar__num {
        font-size: 34px; } }
    @media screen and (max-width: 1023px) {
      .calendar__num {
        font-size: 34px; } }
    @media screen and (max-width: 639px) {
      .calendar__num {
        font-size: 30px; } }
  .calendar__plate {
    font-size: 14px; }
  .calendar__month {
    color: black; }
  .calendar__day {
    color: #c4c4c4; }
  .calendar__block {
    padding-left: 23px;
    padding-right: 23px;
    padding-top: 26px;
    padding-bottom: 26px;
    border-bottom: 1px solid #e6e6e6; }
    @media screen and (max-width: 1919px) {
      .calendar__block {
        padding-left: 15px;
        padding-right: 15px; } }
    @media screen and (max-width: 1023px) {
      .calendar__block {
        padding-left: 15px;
        padding-right: 15px; } }
    @media screen and (max-width: 1023px) {
      .calendar__block {
        padding-left: 18px;
        padding-right: 18px; } }
    @media screen and (max-width: 639px) {
      .calendar__block {
        padding-left: 15px;
        padding-right: 15px; } }
    @media screen and (max-width: 1919px) {
      .calendar__block {
        padding-top: 31px;
        padding-bottom: 31px; } }
    @media screen and (max-width: 1023px) {
      .calendar__block {
        padding-top: 31px;
        padding-bottom: 31px; } }
    @media screen and (max-width: 1023px) {
      .calendar__block {
        padding-top: 30px;
        padding-bottom: 30px; } }
    @media screen and (max-width: 639px) {
      .calendar__block {
        padding-top: 20px;
        padding-bottom: 20px; } }
    .calendar__block.active .calendar__num {
      color: #8b071e; }
    .calendar__block.active .calendar__month {
      color: #8b071e; }
    @media screen and (max-width: 1023px) {
      .calendar__block {
        display: none; }
        .calendar__block:nth-child(-n+5) {
          display: block; }
        .calendar__block:first-child, .calendar__block:last-child {
          grid-column-start: 1;
          grid-column-end: 3;
          display: block; } }
    @media screen and (max-width: 1023px) and (max-width: 639px) {
      .calendar__block:first-child, .calendar__block:last-child {
        grid-column-start: 1;
        grid-column-end: 2; } }
  .calendar__more {
    border-bottom: 1px solid transparent; }

.quarry {
  background: white; }
  @media screen and (max-width: 1919px) {
    .quarry {
      background: white; } }
  .quarry__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px; }
    @media screen and (max-width: 1919px) {
      .quarry__list {
        grid-template-columns: repeat(4, 1fr); } }
    @media screen and (max-width: 1023px) {
      .quarry__list {
        grid-template-columns: repeat(4, 1fr); } }
    @media screen and (max-width: 1023px) {
      .quarry__list {
        grid-template-columns: repeat(2, 1fr); } }
    @media screen and (max-width: 639px) {
      .quarry__list {
        grid-template-columns: repeat(2, 1fr); } }
    @media screen and (max-width: 1919px) {
      .quarry__list {
        grid-column-gap: 30px; } }
    @media screen and (max-width: 1023px) {
      .quarry__list {
        grid-column-gap: 30px; } }
    @media screen and (max-width: 1023px) {
      .quarry__list {
        grid-column-gap: 30px; } }
    @media screen and (max-width: 639px) {
      .quarry__list {
        grid-column-gap: 30px; } }
    @media screen and (max-width: 1919px) {
      .quarry__list {
        grid-row-gap: 30px; } }
    @media screen and (max-width: 1023px) {
      .quarry__list {
        grid-row-gap: 30px; } }
    @media screen and (max-width: 1023px) {
      .quarry__list {
        grid-row-gap: 30px; } }
    @media screen and (max-width: 639px) {
      .quarry__list {
        grid-row-gap: 30px; } }
  .quarry__num {
    font-size: 48px;
    color: #8b071e;
    margin-bottom: 10px; }
    @media screen and (max-width: 1919px) {
      .quarry__num {
        font-size: 48px; } }
    @media screen and (max-width: 1023px) {
      .quarry__num {
        font-size: 48px; } }
    @media screen and (max-width: 1023px) {
      .quarry__num {
        font-size: 48px; } }
    @media screen and (max-width: 639px) {
      .quarry__num {
        font-size: 30px; } }
  .quarry__title {
    font-size: 16px;
    line-height: 24px;
    max-width: 120px; }

.partners {
  background: white;
  padding-bottom: 100px; }
  .partners__item {
    margin: 0 15px;
    filter: grayscale(100%); }
    .partners__item:hover {
      filter: grayscale(0); }
  .partners__slider {
    font-size: 24px;
    color: #8b071e; }
    .partners__slider .slick-arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 10; }
      .partners__slider .slick-arrow.fa-circle-chevron-right {
        right: -15px; }
      .partners__slider .slick-arrow.fa-circle-chevron-left {
        left: -15px; }
    .partners__slider .slick-dots {
      bottom: -50px; }
    .partners__slider [role="presentation"] {
      background: #c4c4c4; }
    .partners__slider [role="presentation"].slick-active {
      background: #8b071e; }

.contacts {
  background: #8b071e;
  color: white; }
  .contacts__title {
    font-size: 28px; }
    @media screen and (max-width: 1919px) {
      .contacts__title {
        font-size: 28px; } }
    @media screen and (max-width: 1023px) {
      .contacts__title {
        font-size: 28px; } }
    @media screen and (max-width: 1023px) {
      .contacts__title {
        font-size: 20px; } }
    @media screen and (max-width: 639px) {
      .contacts__title {
        font-size: 14px; } }
  .contacts__social {
    display: flex;
    column-gap: 10px;
    align-items: center; }
  .contacts__wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px; }
    @media screen and (max-width: 1919px) {
      .contacts__wrap {
        grid-template-columns: repeat(4, 1fr); } }
    @media screen and (max-width: 1023px) {
      .contacts__wrap {
        grid-template-columns: repeat(4, 1fr); } }
    @media screen and (max-width: 1023px) {
      .contacts__wrap {
        grid-template-columns: repeat(3, 1fr); } }
    @media screen and (max-width: 639px) {
      .contacts__wrap {
        grid-template-columns: repeat(1, 1fr); } }
    @media screen and (max-width: 1919px) {
      .contacts__wrap {
        grid-column-gap: 30px; } }
    @media screen and (max-width: 1023px) {
      .contacts__wrap {
        grid-column-gap: 30px; } }
    @media screen and (max-width: 1023px) {
      .contacts__wrap {
        grid-column-gap: 30px; } }
    @media screen and (max-width: 639px) {
      .contacts__wrap {
        grid-column-gap: 30px; } }
    @media screen and (max-width: 1919px) {
      .contacts__wrap {
        grid-row-gap: 30px; } }
    @media screen and (max-width: 1023px) {
      .contacts__wrap {
        grid-row-gap: 30px; } }
    @media screen and (max-width: 1023px) {
      .contacts__wrap {
        grid-row-gap: 30px; } }
    @media screen and (max-width: 639px) {
      .contacts__wrap {
        grid-row-gap: 30px; } }
  .contacts__social-item {
    border: 1px solid rgba(255, 255, 255, 0.14);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center; }
    .contacts__social-item:hover {
      background: rgba(255, 255, 255, 0.3); }
  .contacts__info {
    line-height: 24px; }
    .contacts__info span {
      display: block; }
    .contacts__info a {
      color: white;
      display: block; }
  @media screen and (max-width: 1023px) {
    .contacts__col:nth-child(1) {
      grid-column-start: 1;
      grid-column-end: 4;
      margin-bottom: 30px; } }
  @media screen and (max-width: 639px) {
    .contacts__col:nth-child(1) {
      grid-column-start: 1;
      grid-column-end: 2;
      margin-bottom: 0; } }

.footer-first {
  height: 80px;
  line-height: 80px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 14px; }
  @media screen and (max-width: 1919px) {
    .footer-first {
      height: 80px; } }
  @media screen and (max-width: 1023px) {
    .footer-first {
      height: 80px; } }
  @media screen and (max-width: 1023px) {
    .footer-first {
      height: 80px; } }
  @media screen and (max-width: 639px) {
    .footer-first {
      height: auto; } }
  .footer-first__wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 0px; }
    @media screen and (max-width: 1919px) {
      .footer-first__wrap {
        grid-template-columns: repeat(4, 1fr); } }
    @media screen and (max-width: 1023px) {
      .footer-first__wrap {
        grid-template-columns: repeat(4, 1fr); } }
    @media screen and (max-width: 1023px) {
      .footer-first__wrap {
        grid-template-columns: repeat(4, 1fr); } }
    @media screen and (max-width: 639px) {
      .footer-first__wrap {
        grid-template-columns: repeat(1, 1fr); } }
    @media screen and (max-width: 1919px) {
      .footer-first__wrap {
        grid-column-gap: 30px; } }
    @media screen and (max-width: 1023px) {
      .footer-first__wrap {
        grid-column-gap: 30px; } }
    @media screen and (max-width: 1023px) {
      .footer-first__wrap {
        grid-column-gap: 0px; } }
    @media screen and (max-width: 639px) {
      .footer-first__wrap {
        grid-column-gap: 0px; } }
    @media screen and (max-width: 1023px) {
      .footer-first__wrap {
        grid-template-columns: 1fr 1fr 1fr 2fr; } }
    @media screen and (max-width: 639px) {
      .footer-first__wrap {
        grid-template-columns: 1fr; } }
    @media screen and (max-width: 1919px) {
      .footer-first__wrap {
        grid-row-gap: 0px; } }
    @media screen and (max-width: 1023px) {
      .footer-first__wrap {
        grid-row-gap: 0px; } }
    @media screen and (max-width: 1023px) {
      .footer-first__wrap {
        grid-row-gap: 0px; } }
    @media screen and (max-width: 639px) {
      .footer-first__wrap {
        grid-row-gap: 20px; } }
    @media screen and (max-width: 639px) {
      .footer-first__wrap {
        padding: 40px 0; } }
  @media screen and (max-width: 639px) {
    .footer-first__item {
      line-height: 24px; } }
  .footer-first__item.look {
    text-decoration: underline; }

.footer-second {
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
  @media screen and (max-width: 1919px) {
    .footer-second {
      padding-top: 40px;
      padding-bottom: 40px; } }
  @media screen and (max-width: 1023px) {
    .footer-second {
      padding-top: 40px;
      padding-bottom: 40px; } }
  @media screen and (max-width: 1023px) {
    .footer-second {
      padding-top: 30px;
      padding-bottom: 30px; } }
  @media screen and (max-width: 639px) {
    .footer-second {
      padding-top: 30px;
      padding-bottom: 30px; } }
  .footer-second__wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 15px; }
    @media screen and (max-width: 1919px) {
      .footer-second__wrap {
        grid-template-columns: repeat(4, 1fr); } }
    @media screen and (max-width: 1023px) {
      .footer-second__wrap {
        grid-template-columns: repeat(4, 1fr); } }
    @media screen and (max-width: 1023px) {
      .footer-second__wrap {
        grid-template-columns: repeat(2, 1fr); } }
    @media screen and (max-width: 639px) {
      .footer-second__wrap {
        grid-template-columns: repeat(1, 1fr); } }
    @media screen and (max-width: 1919px) {
      .footer-second__wrap {
        grid-column-gap: 30px; } }
    @media screen and (max-width: 1023px) {
      .footer-second__wrap {
        grid-column-gap: 30px; } }
    @media screen and (max-width: 1023px) {
      .footer-second__wrap {
        grid-column-gap: 30px; } }
    @media screen and (max-width: 639px) {
      .footer-second__wrap {
        grid-column-gap: 30px; } }
    @media screen and (max-width: 1919px) {
      .footer-second__wrap {
        grid-row-gap: 15px; } }
    @media screen and (max-width: 1023px) {
      .footer-second__wrap {
        grid-row-gap: 15px; } }
    @media screen and (max-width: 1023px) {
      .footer-second__wrap {
        grid-row-gap: 15px; } }
    @media screen and (max-width: 639px) {
      .footer-second__wrap {
        grid-row-gap: 15px; } }
  .footer-second__title {
    font-size: 14px;
    margin-bottom: 15px;
    display: flex; }
    @media screen and (max-width: 1023px) {
      .footer-second__title {
        cursor: pointer; } }
    .footer-second__title .fa-angle-down {
      display: none;
      color: white;
      margin-right: 15px;
      transform: rotate(0deg); }
      @media screen and (max-width: 1023px) {
        .footer-second__title .fa-angle-down {
          display: block; } }
    .footer-second__title.active .fa-angle-down {
      transform: rotate(180deg);
      top: 3px; }
  .footer-second__item {
    font-size: 13px;
    margin-bottom: 10px;
    color: #bcbcbc;
    line-height: 20px;
    display: block; }
    .footer-second__item:hover {
      color: #8b071e; }
  @media screen and (max-width: 1023px) {
    .footer-second__list {
      display: none; } }

.footer-three {
  padding-top: 40px;
  padding-bottom: 40px;
  color: #bcbcbc; }
  @media screen and (max-width: 1919px) {
    .footer-three {
      padding-top: 40px;
      padding-bottom: 40px; } }
  @media screen and (max-width: 1023px) {
    .footer-three {
      padding-top: 40px;
      padding-bottom: 40px; } }
  @media screen and (max-width: 1023px) {
    .footer-three {
      padding-top: 30px;
      padding-bottom: 30px; } }
  @media screen and (max-width: 639px) {
    .footer-three {
      padding-top: 30px;
      padding-bottom: 30px; } }
  .footer-three__wrap {
    display: grid;
    grid-template-columns: 60px 450px;
    grid-column-gap: 30px; }
    @media screen and (max-width: 1919px) {
      .footer-three__wrap {
        grid-column-gap: 30px; } }
    @media screen and (max-width: 1023px) {
      .footer-three__wrap {
        grid-column-gap: 30px; } }
    @media screen and (max-width: 1023px) {
      .footer-three__wrap {
        grid-column-gap: 20px; } }
    @media screen and (max-width: 639px) {
      .footer-three__wrap {
        grid-column-gap: 20px; } }
    @media screen and (max-width: 639px) {
      .footer-three__wrap {
        grid-template-columns: 60px auto; } }
  .footer-three__num {
    font-size: 36px;
    line-height: 1; }
  .footer-three__info {
    font-size: 13px;
    line-height: 20px; }
    @media screen and (max-width: 1919px) {
      .footer-three__info {
        font-size: 13px; } }
    @media screen and (max-width: 1023px) {
      .footer-three__info {
        font-size: 13px; } }
    @media screen and (max-width: 1023px) {
      .footer-three__info {
        font-size: 13px; } }
    @media screen and (max-width: 639px) {
      .footer-three__info {
        font-size: 13px; } }

.header-first {
  background: #2b2c30;
  color: white;
  font-size: 14px;
  position: relative;
  z-index: 10; }
  .header-first a {
    color: white; }
  .header-first__wrap {
    height: 40px;
    line-height: 40px;
    display: flex;
    justify-content: space-between; }
  .header-first__language {
    margin-right: 10px; }
  .header-first__social {
    display: flex;
    column-gap: 6px;
    margin-right: 20px; }
    @media screen and (max-width: 639px) {
      .header-first__social {
        margin-right: 10px; } }
  .header-first__social-item {
    display: flex;
    align-items: center; }
    .header-first__social-item svg path {
      fill: white; }
    .header-first__social-item:hover svg path {
      fill: #8b071e; }
  .header-first__left {
    display: flex;
    align-items: center; }
  .header-first__mail {
    display: flex;
    column-gap: 20px;
    align-items: center; }
    .header-first__mail img {
      margin-right: 5px; }
  .header-first__right {
    display: flex;
    align-items: center; }
  .header-first__timetable {
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    padding: 0 20px;
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer; }
    @media screen and (max-width: 1023px) {
      .header-first__timetable {
        padding: 0 10px; } }
    .header-first__timetable:hover {
      background: #8b071e; }
    .header-first__timetable img {
      margin-right: 5px; }
      @media screen and (max-width: 1023px) {
        .header-first__timetable img {
          margin-right: 0; } }
  .header-first__search input {
    display: none;
    border: 1px solid #e6e6e6;
    position: absolute;
    width: 290px;
    right: 100%; }
    @media screen and (max-width: 1919px) {
      .header-first__search input {
        width: 200px; } }
    @media screen and (max-width: 1023px) {
      .header-first__search input {
        width: 200px; } }
    @media screen and (max-width: 1023px) {
      .header-first__search input {
        width: 150px; } }
    @media screen and (max-width: 639px) {
      .header-first__search input {
        width: 100px; } }
  .header-first__search {
    padding: 0 20px;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;
    position: relative; }
    @media screen and (max-width: 1023px) {
      .header-first__search {
        padding: 0 10px; } }
    .header-first__search:hover {
      background: #8b071e; }
    .header-first__search.active {
      background: #8b071e; }
      .header-first__search.active input {
        display: block;
        top: 0px;}
  .header-first__look {
    padding: 0 20px;
    display: flex;
    align-items: center;
    height: 100%; }
    @media screen and (max-width: 1023px) {
      .header-first__look {
        padding: 0 10px; } }
    .header-first__look:hover {
      background: #8b071e; }
  .header-first__lk {
    padding: 0 20px;
    background: white;
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
    cursor: pointer; }
    .header-first__lk:hover .header-first__lk-list {
      display: block; }
    @media screen and (max-width: 639px) {
      .header-first__lk {
        padding: 0 15px; } }
    .header-first__lk span {
      color: black; }
    .header-first__lk img {
      margin-right: 10px;
      flex-shrink: 0; }
      @media screen and (max-width: 639px) {
        .header-first__lk img {
          margin-right: 0; } }
  .header-first__lk-list {
    background: white;
    position: absolute;
    top: 100%;
    right: 0;
    padding: 15px;
    box-shadow: 0 6px 19px rgba(51, 48, 46, 0.1);
    display: none; }
    .header-first__lk-list a {
      display: block;
      color: #2b2c30;
      width: 300px; }
      @media screen and (max-width: 639px) {
        .header-first__lk-list a {
          width: 200px; } }
      .header-first__lk-list a:hover {
        color: #8b071e; }
  .header-first__rector {
    position: relative;
    cursor: pointer; }
    @media screen and (max-width: 1024px) {
      .header-first__rector span {
        display: none; } }
    .header-first__rector .fa-envelope {
      transition: all ease .1s;
      font-size: 13px;
      margin-right: 5px; }
    .header-first__rector:hover {
      color: #8b071e; }
      .header-first__rector:hover .fa-envelope {
        color: #8b071e; }
      .header-first__rector:hover .header-first__rector-list {
        display: block; }
  .header-first__comission:hover {
    color: #8b071e; }
  .header-first__rector-list {
    background: white;
    position: absolute;
    top: 100%;
    right: 0;
    padding: 15px;
    box-shadow: 0 6px 19px rgba(51, 48, 46, 0.1);
    display: none; }
    .header-first__rector-list a {
      display: block;
      color: #2b2c30;
      width: 150px; }
      @media screen and (max-width: 639px) {
        .header-first__rector-list a {
          width: 200px; } }
      .header-first__rector-list a:hover {
        color: #8b071e; }
    @media screen and (max-width: 1024px) {
      .header-first__rector-list {
        right: auto;
        left: 50%;
        transform: translateX(-50%); } }

.header-second {
  display: flex;
  background: white;
  padding: 20px 0; }
  .header-second .important {
    width: auto; }
    .header-second .important:hover {
      color: white; }
  .header-second__wrap {
    display: flex;
    align-items: center; }
    @media screen and (max-width: 639px) {
      .header-second__wrap {
        justify-content: space-between; } }
  .header-second__logo {
    margin-right: 20px; }
    .header-second__logo img {
      width: 171px; }
      @media screen and (max-width: 1919px) {
        .header-second__logo img {
          width: 127px; } }
      @media screen and (max-width: 1023px) {
        .header-second__logo img {
          width: 127px; } }
      @media screen and (max-width: 1023px) {
        .header-second__logo img {
          width: 119px; } }
      @media screen and (max-width: 639px) {
        .header-second__logo img {
          width: 119px; } }
      @media screen and (max-width: 639px) {
        .header-second__logo img {
          padding: 0; } }
  .header-second__menu {
    display: flex;
    column-gap: 10px;
    align-items: center;
    flex-wrap: wrap; }
  .header-second__menu-item {
    font-size: 14px;
    border-bottom: 4px solid transparent;
    position: relative; }
    @media screen and (max-width: 639px) {
      .header-second__menu-item {
        display: none; } }
    .header-second__menu-item > a {
      padding: 5px; }
      .header-second__menu-item > a:hover {
        color: #8b071e; }
    .header-second__menu-item:hover {
      display: block;
      border-bottom: 4px solid #ffddad; }
      .header-second__menu-item:hover .header-second__dropdown-area {
        display: block; }
    .header-second__menu-item .header-second__dropdown-area {
      width: 250px;
      padding: 20px; }
  .header-second__dropdown-block {
    display: none;
    position: relative;
    border-bottom: 4px solid transparent;
    padding-left: 25px; }
    .header-second__dropdown-block .header-second__dropdown-item {
      display: block; }
    @media screen and (max-width: 1023px) {
      .header-second__dropdown-block {
        padding-left: 0; } }
    @media screen and (max-width: 639px) {
      .header-second__dropdown-block {
        position: initial;
        display: block; } }
    .header-second__dropdown-block:hover {
      display: block;
      border-bottom: 4px solid #ffddad;
      color: #8b071e; }
      @media screen and (max-width: 639px) {
        .header-second__dropdown-block:hover {
          border-bottom: 4px solid transparent; } }
      .header-second__dropdown-block:hover .header-second__dropdown-area {
        display: block; }
        @media screen and (max-width: 639px) {
          .header-second__dropdown-block:hover .header-second__dropdown-area {
            display: none; } }
  .header-second__dropdown-button {
    cursor: pointer;
    font-size: 25px;
    padding-bottom: 10px;
    display: flex;
    align-items: center; }
  .header-second__dropdown-area {
    width: 200px;
    padding: 20px 60px 0px 20px;
    box-shadow: 0px 10px 20px 0px rgba(51, 48, 46, 0.15);
    position: absolute;
    background: white;
    right: 0;
    line-height: 18px;
    display: none;
    top: 100%;
    margin-top: 4px;
    z-index: 1; }
    @media screen and (max-width: 639px) {
      .header-second__dropdown-area {
        display: none;
        background-color: #2b2c30;
        left: 0;
        width: 100%;
        padding-bottom: 0; } }
    .header-second__dropdown-area .point {
      color: white;
      align-items: center;
      height: 50px;
      border-top: 1px solid rgba(255, 255, 255, 0.3);
      padding: 0 15px;
      font-size: 14px;
      position: relative;
      left: -20px;
      width: calc(100% + 80px);
      display: none; }
      .header-second__dropdown-area .point img {
        margin-right: 10px; }
      @media screen and (max-width: 639px) {
        .header-second__dropdown-area .point {
          display: flex; } }
  .header-second__dropdown-item {
    font-size: 14px;
    margin-bottom: 15px;
    position: relative;
    display: block; }
    .header-second__dropdown-item .fa-chevron-down {
      position: absolute;
      top: 0;
      right: -35px;
      display: none; }
      @media screen and (max-width: 639px) {
        .header-second__dropdown-item .fa-chevron-down {
          display: block; } }
    .header-second__dropdown-item.blocked .fa-chevron-down {
      transform: rotate(0deg); }
    .header-second__dropdown-item .fa-chevron-down {
      transform: rotate(180deg); }
    .header-second__dropdown-item:last-child {
      margin-bottom: 0; }
    .header-second__dropdown-item:hover {
      color: #8b071e; }
      @media screen and (max-width: 639px) {
        .header-second__dropdown-item:hover {
          color: #f9f9f9; } }
    @media screen and (max-width: 639px) {
      .header-second__dropdown-item {
        color: white; } }
  @media screen and (max-width: 639px) {
    .header-second__dropdown-dots {
      display: none; } }
  .header-second__dropdown-item-list {
    display: none;
    margin-bottom: 10px;
    padding-left: 15px;
    border-left: 1px solid #f9f9f9;
    line-height: 24px; }
    .header-second__dropdown-item-list a {
      color: #bfc1c7;
      font-size: 14px;
      display: block; }
  .header-second__dropdown-look {
    background: black;
    justify-content: center; }
    .header-second__dropdown-look span {
      justify-content: center; }

.header__burger {
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-end; }

.header__contacts {
  position: relative; }

.header__burger-wrap {
  display: none;
  position: relative; }
  @media screen and (max-width: 639px) {
    .header__burger-wrap {
      right: -10px;
      display: flex;
      top: 5px; } }

.header__burger {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 15px; }
  @media screen and (max-width: 639px) {
    .header__burger {
      margin-left: 10px;
      margin-right: 30px; } }
  .header__burger span {
    display: block;
    width: 25px;
    height: 2px;
    background: black;
    margin-bottom: 6px;
    transition: all ease .3s;
    opacity: 1;
    position: relative; }
    .header__burger span:nth-child(2) {
      width: 30px; }
  .header__burger.active span:nth-child(1) {
    transform: rotate(135deg);
    top: 8px; }
  .header__burger.active span:nth-child(2) {
    opacity: 0; }
  .header__burger.active span:nth-child(3) {
    transform: rotate(-135deg);
    bottom: 8px; }
  .header__burger:not(.active) span {
    width: 25px; }

.enrollee-slider__wrap {
  height: 400px;
  display: flex; }
@media screen and (max-width: 1919px) {
  .enrollee-slider__wrap {
    height: 400px; } }
@media screen and (max-width: 1023px) {
  .enrollee-slider__wrap {
    height: 400px; } }
@media screen and (max-width: 1023px) {
  .enrollee-slider__wrap {
    height: 320px; } }
@media screen and (max-width: 639px) {
  .enrollee-slider__wrap {
    height: 300px; } }
@media screen and (max-width: 639px) {
  .enrollee-slider__wrap {
    justify-content: center; } }

.enrollee-slider__content {
  position: relative;
  margin-left: 40px; }
@media screen and (max-width: 1919px) {
  .enrollee-slider__content {
    margin-left: 40px; } }
@media screen and (max-width: 1023px) {
  .enrollee-slider__content {
    margin-left: 40px; } }
@media screen and (max-width: 1023px) {
  .enrollee-slider__content {
    margin-left: 50px; } }
@media screen and (max-width: 639px) {
  .enrollee-slider__content {
    margin-left: 30px; } }
@media screen and (max-width: 639px) {
  .enrollee-slider__content {
    width: 200px; } }

.enrollee-slider__title {
  font-size: 28px; }
@media screen and (max-width: 1919px) {
  .enrollee-slider__title {
    font-size: 24px; } }
@media screen and (max-width: 1023px) {
  .enrollee-slider__title {
    font-size: 24px; } }
@media screen and (max-width: 1023px) {
  .enrollee-slider__title {
    font-size: 18px; } }
@media screen and (max-width: 639px) {
  .enrollee-slider__title {
    font-size: 18px; } }

.enrollee-slider__info span {
  display: block; }

.enrollee-slider .slick-arrow {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 35px;
  color: #8b071e;
  font-size: 24px;
  z-index: 10; }
.enrollee-slider .slick-arrow:before {
  position: relative;
  z-index: 10; }
.enrollee-slider .slick-arrow:after {
  content: '';
  width: 12px;
  height: 15px;
  background: white;
  position: absolute;
  display: block;
  left: 6px;
  top: 3px; }
@media screen and (max-width: 639px) {
  .enrollee-slider .slick-arrow:after {
    width: 10px;
    height: 13px; } }
@media screen and (max-width: 639px) {
  .enrollee-slider .slick-arrow {
    right: 25px;
    font-size: 20px; } }
.enrollee-slider .slick-arrow.fa-circle-chevron-left {
  right: auto;
  left: 35px; }

.enrollee-info__tabs {
  display: flex;
  gap: 10px;
  flex-wrap: wrap; }

.enrollee-info__tab {
  background: white;
  height: 50px;
  line-height: 18px;
  display: inline-flex;
  width: max-content;
  max-width: 270px;
  font-size: 16px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer; }
@media screen and (max-width: 1919px) {
  .enrollee-info__tab {
    height: 50px; } }
@media screen and (max-width: 1023px) {
  .enrollee-info__tab {
    height: 50px; } }
@media screen and (max-width: 1023px) {
  .enrollee-info__tab {
    height: 50px; } }
@media screen and (max-width: 639px) {
  .enrollee-info__tab {
    height: 40px; } }
@media screen and (max-width: 1919px) {
  .enrollee-info__tab {
    max-width: 270px; } }
@media screen and (max-width: 1023px) {
  .enrollee-info__tab {
    max-width: 270px; } }
@media screen and (max-width: 1023px) {
  .enrollee-info__tab {
    max-width: 220px; } }
@media screen and (max-width: 639px) {
  .enrollee-info__tab {
    max-width: 100%; } }
@media screen and (max-width: 1919px) {
  .enrollee-info__tab {
    font-size: 16px; } }
@media screen and (max-width: 1023px) {
  .enrollee-info__tab {
    font-size: 16px; } }
@media screen and (max-width: 1023px) {
  .enrollee-info__tab {
    font-size: 14px; } }
@media screen and (max-width: 639px) {
  .enrollee-info__tab {
    font-size: 14px; } }
@media screen and (max-width: 1919px) {
  .enrollee-info__tab {
    padding-left: 20px;
    padding-right: 20px; } }
@media screen and (max-width: 1023px) {
  .enrollee-info__tab {
    padding-left: 20px;
    padding-right: 20px; } }
@media screen and (max-width: 1023px) {
  .enrollee-info__tab {
    padding-left: 10px;
    padding-right: 10px; } }
@media screen and (max-width: 639px) {
  .enrollee-info__tab {
    padding-left: 10px;
    padding-right: 10px; } }
@media screen and (max-width: 639px) {
  .enrollee-info__tab {
    width: 100%; } }
.enrollee-info__tab:hover {
  background-color: #2b2c30; }

.enrollee-info__block {
  display: grid;
  grid-template-columns: 870px auto;
  grid-column-gap: 30px;
  grid-row-gap: 30px; }
@media screen and (max-width: 1919px) {
  .enrollee-info__block {
    grid-column-gap: 30px; } }
@media screen and (max-width: 1023px) {
  .enrollee-info__block {
    grid-column-gap: 30px; } }
@media screen and (max-width: 1023px) {
  .enrollee-info__block {
    grid-column-gap: 20px; } }
@media screen and (max-width: 639px) {
  .enrollee-info__block {
    grid-column-gap: 10px; } }
@media screen and (max-width: 1919px) {
  .enrollee-info__block {
    grid-row-gap: 30px; } }
@media screen and (max-width: 1023px) {
  .enrollee-info__block {
    grid-row-gap: 30px; } }
@media screen and (max-width: 1023px) {
  .enrollee-info__block {
    grid-row-gap: 20px; } }
@media screen and (max-width: 639px) {
  .enrollee-info__block {
    grid-row-gap: 10px; } }
@media screen and (max-width: 1919px) {
  .enrollee-info__block {
    grid-template-columns: 680px auto; } }
@media screen and (max-width: 1365px) {
  .enrollee-info__block {
    grid-template-columns: 680px auto; } }
@media screen and (max-width: 1023px) {
  .enrollee-info__block {
    grid-template-columns: 370px auto; } }
@media screen and (max-width: 639px) {
  .enrollee-info__block {
    grid-template-columns: 1fr; } }

.enrollee-info__main {
  display: grid;
  grid-template-columns: 470px auto;
  grid-column-gap: 30px;
  grid-row-gap: 30px; }
@media screen and (max-width: 1919px) {
  .enrollee-info__main {
    grid-column-gap: 30px; } }
@media screen and (max-width: 1023px) {
  .enrollee-info__main {
    grid-column-gap: 30px; } }
@media screen and (max-width: 1023px) {
  .enrollee-info__main {
    grid-column-gap: 20px; } }
@media screen and (max-width: 639px) {
  .enrollee-info__main {
    grid-column-gap: 10px; } }
@media screen and (max-width: 1919px) {
  .enrollee-info__main {
    grid-row-gap: 30px; } }
@media screen and (max-width: 1023px) {
  .enrollee-info__main {
    grid-row-gap: 30px; } }
@media screen and (max-width: 1023px) {
  .enrollee-info__main {
    grid-row-gap: 20px; } }
@media screen and (max-width: 639px) {
  .enrollee-info__main {
    grid-row-gap: 10px; } }
@media screen and (max-width: 1919px) {
  .enrollee-info__main {
    grid-template-columns: 365px auto; } }
@media screen and (max-width: 1365px) {
  .enrollee-info__main {
    grid-template-columns: 365px auto; } }
@media screen and (max-width: 1023px) {
  .enrollee-info__main {
    grid-template-columns: 1fr; } }

.enrollee-info__help {
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 40px;
  padding-bottom: 40px; }
@media screen and (max-width: 1919px) {
  .enrollee-info__help {
    padding-left: 30px;
    padding-right: 30px; } }
@media screen and (max-width: 1023px) {
  .enrollee-info__help {
    padding-left: 30px;
    padding-right: 30px; } }
@media screen and (max-width: 1023px) {
  .enrollee-info__help {
    padding-left: 30px;
    padding-right: 30px; } }
@media screen and (max-width: 639px) {
  .enrollee-info__help {
    padding-left: 30px;
    padding-right: 30px; } }
@media screen and (max-width: 1919px) {
  .enrollee-info__help {
    padding-top: 40px;
    padding-bottom: 40px; } }
@media screen and (max-width: 1023px) {
  .enrollee-info__help {
    padding-top: 40px;
    padding-bottom: 40px; } }
@media screen and (max-width: 1023px) {
  .enrollee-info__help {
    padding-top: 40px;
    padding-bottom: 40px; } }
@media screen and (max-width: 639px) {
  .enrollee-info__help {
    padding-top: 30px;
    padding-bottom: 30px; } }

.enrollee-info__help-item {
  display: block; }
@media screen and (max-width: 1919px) {
  .enrollee-info__help-item {
    margin-bottom: 17px; } }
.enrollee-info__help-item:hover {
  color: #ffddad; }
.enrollee-info__help-item:last-child {
  margin-bottom: 0; }

.enrollee-info__reception {
  background-color: #8b071e;
  background-position: right bottom;
  background-repeat: no-repeat; }
@media screen and (max-width: 1023px) {
  .enrollee-info__reception {
    background-size: 158px 158px; } }
@media screen and (max-width: 639px) {
  .enrollee-info__reception {
    background-size: 102px 102px; } }

.enrollee-info__reception-item {
  height: 170px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-left: 35px;
  padding-right: 35px; }
@media screen and (max-width: 1919px) {
  .enrollee-info__reception-item {
    height: 170px; } }
@media screen and (max-width: 1023px) {
  .enrollee-info__reception-item {
    height: 170px; } }
@media screen and (max-width: 1023px) {
  .enrollee-info__reception-item {
    height: 130px; } }
@media screen and (max-width: 639px) {
  .enrollee-info__reception-item {
    height: 100px; } }
@media screen and (max-width: 1919px) {
  .enrollee-info__reception-item {
    padding-left: 30px;
    padding-right: 30px; } }
@media screen and (max-width: 1023px) {
  .enrollee-info__reception-item {
    padding-left: 30px;
    padding-right: 30px; } }
@media screen and (max-width: 1023px) {
  .enrollee-info__reception-item {
    padding-left: 30px;
    padding-right: 30px; } }
@media screen and (max-width: 639px) {
  .enrollee-info__reception-item {
    padding-left: 25px;
    padding-right: 25px; } }
.enrollee-info__reception-item:hover {
  color: #ffddad; }

.enrollee-info__reception-icon {
  width: 50px;
  height: 50px; }
@media screen and (max-width: 1919px) {
  .enrollee-info__reception-icon {
    width: 50px; } }
@media screen and (max-width: 1023px) {
  .enrollee-info__reception-icon {
    width: 50px; } }
@media screen and (max-width: 1023px) {
  .enrollee-info__reception-icon {
    width: 50px; } }
@media screen and (max-width: 639px) {
  .enrollee-info__reception-icon {
    width: 40px; } }
@media screen and (max-width: 1919px) {
  .enrollee-info__reception-icon {
    height: 50px; } }
@media screen and (max-width: 1023px) {
  .enrollee-info__reception-icon {
    height: 50px; } }
@media screen and (max-width: 1023px) {
  .enrollee-info__reception-icon {
    height: 50px; } }
@media screen and (max-width: 639px) {
  .enrollee-info__reception-icon {
    height: 40px; } }
.enrollee-info__reception-icon img {
  object-fit: contain; }

.enrollee-info__lists {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 40px;
  padding-bottom: 40px; }
@media screen and (max-width: 1919px) {
  .enrollee-info__lists {
    padding-left: 30px;
    padding-right: 30px; } }
@media screen and (max-width: 1023px) {
  .enrollee-info__lists {
    padding-left: 30px;
    padding-right: 30px; } }
@media screen and (max-width: 1023px) {
  .enrollee-info__lists {
    padding-left: 30px;
    padding-right: 30px; } }
@media screen and (max-width: 639px) {
  .enrollee-info__lists {
    padding-left: 30px;
    padding-right: 30px; } }
@media screen and (max-width: 1919px) {
  .enrollee-info__lists {
    padding-top: 40px;
    padding-bottom: 40px; } }
@media screen and (max-width: 1023px) {
  .enrollee-info__lists {
    padding-top: 40px;
    padding-bottom: 40px; } }
@media screen and (max-width: 1023px) {
  .enrollee-info__lists {
    padding-top: 40px;
    padding-bottom: 40px; } }
@media screen and (max-width: 639px) {
  .enrollee-info__lists {
    padding-top: 30px;
    padding-bottom: 30px; } }
@media screen and (max-width: 1023px) {
  .enrollee-info__lists {
    grid-column-start: auto;
    grid-column-end: auto;
    grid-row-start: auto;
    grid-row-end: auto; } }

.enrollee-info__lists-item:hover {
  color: #ffddad; }

.enrollee-info__lists-mobile {
  display: none; }
@media screen and (max-width: 1023px) {
  .enrollee-info__lists-mobile {
    display: block;
    grid-column-start: 1;
    grid-column-end: 3; } }
@media screen and (max-width: 639px) {
  .enrollee-info__lists-mobile {
    grid-column-start: 1;
    grid-column-end: 2; } }

.enrollee-info__important {
  background-color: white;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 35px;
  padding-bottom: 35px; }
@media screen and (max-width: 1919px) {
  .enrollee-info__important {
    padding-left: 15px;
    padding-right: 15px; } }
@media screen and (max-width: 1023px) {
  .enrollee-info__important {
    padding-left: 15px;
    padding-right: 15px; } }
@media screen and (max-width: 1023px) {
  .enrollee-info__important {
    padding-left: 15px;
    padding-right: 15px; } }
@media screen and (max-width: 639px) {
  .enrollee-info__important {
    padding-left: 25px;
    padding-right: 25px; } }
@media screen and (max-width: 1919px) {
  .enrollee-info__important {
    padding-top: 20px;
    padding-bottom: 20px; } }
@media screen and (max-width: 1023px) {
  .enrollee-info__important {
    padding-top: 20px;
    padding-bottom: 20px; } }
@media screen and (max-width: 1023px) {
  .enrollee-info__important {
    padding-top: 20px;
    padding-bottom: 20px; } }
@media screen and (max-width: 639px) {
  .enrollee-info__important {
    padding-top: 30px;
    padding-bottom: 30px; } }

.enrollee-info__important-item {
  display: block; }
@media screen and (max-width: 1919px) {
  .enrollee-info__important-item {
    margin-bottom: 35px; } }
@media screen and (max-width: 1023px) {
  .enrollee-info__important-item {
    margin-bottom: 25px; } }
.enrollee-info__important-item:hover {
  color: #8b071e; }

.ancors {
  background-color: white;
  border-bottom: 1px solid #dadada; }
.ancors__list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 50px; }
@media screen and (max-width: 1919px) {
  .ancors__list {
    grid-template-columns: repeat(5, 1fr); } }
@media screen and (max-width: 1023px) {
  .ancors__list {
    grid-template-columns: repeat(5, 1fr); } }
@media screen and (max-width: 1023px) {
  .ancors__list {
    grid-template-columns: repeat(3, 1fr); } }
@media screen and (max-width: 639px) {
  .ancors__list {
    grid-template-columns: repeat(2, 1fr); } }
@media screen and (max-width: 1919px) {
  .ancors__list {
    grid-column-gap: 15px; } }
@media screen and (max-width: 1023px) {
  .ancors__list {
    grid-column-gap: 15px; } }
@media screen and (max-width: 1023px) {
  .ancors__list {
    grid-column-gap: 30px; } }
@media screen and (max-width: 639px) {
  .ancors__list {
    grid-column-gap: 15px; } }
@media screen and (max-width: 1919px) {
  .ancors__list {
    grid-row-gap: 25px; } }
@media screen and (max-width: 1023px) {
  .ancors__list {
    grid-row-gap: 25px; } }
@media screen and (max-width: 1023px) {
  .ancors__list {
    grid-row-gap: 50px; } }
@media screen and (max-width: 639px) {
  .ancors__list {
    grid-row-gap: 25px; } }
.ancors__list-item {
  position: relative;
  display: block; }
.ancors__list-item:hover span {
  color: #8b071e; }
.ancors__list-item:hover .ancors__list-img:before {
  opacity: 0.5; }
.ancors__list-img {
  height: 200px; }
@media screen and (max-width: 1919px) {
  .ancors__list-img {
    height: 160px; } }
@media screen and (max-width: 1023px) {
  .ancors__list-img {
    height: 160px; } }
@media screen and (max-width: 1023px) {
  .ancors__list-img {
    height: 160px; } }
@media screen and (max-width: 639px) {
  .ancors__list-img {
    height: 120px; } }

.docs {
  background-color: white; }
.docs__lists {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 100px;
  grid-row-gap: 100px; }
@media screen and (max-width: 1919px) {
  .docs__lists {
    grid-template-columns: repeat(2, 1fr); } }
@media screen and (max-width: 1023px) {
  .docs__lists {
    grid-template-columns: repeat(2, 1fr); } }
@media screen and (max-width: 1023px) {
  .docs__lists {
    grid-template-columns: repeat(2, 1fr); } }
@media screen and (max-width: 639px) {
  .docs__lists {
    grid-template-columns: repeat(1, 1fr); } }
@media screen and (max-width: 1919px) {
  .docs__lists {
    grid-column-gap: 100px; } }
@media screen and (max-width: 1023px) {
  .docs__lists {
    grid-column-gap: 100px; } }
@media screen and (max-width: 1023px) {
  .docs__lists {
    grid-column-gap: 40px; } }
@media screen and (max-width: 639px) {
  .docs__lists {
    grid-column-gap: 0px; } }
@media screen and (max-width: 1919px) {
  .docs__lists {
    grid-row-gap: 100px; } }
@media screen and (max-width: 1023px) {
  .docs__lists {
    grid-row-gap: 100px; } }
@media screen and (max-width: 1023px) {
  .docs__lists {
    grid-row-gap: 40px; } }
@media screen and (max-width: 639px) {
  .docs__lists {
    grid-row-gap: 40px; } }
.docs__list-item {
  min-height: 70px;
  border-top: 1px solid #e7e7e7;
  padding-top: 15px;
  padding-bottom: 15px; }
@media screen and (max-width: 1919px) {
  .docs__list-item {
    padding-top: 15px;
    padding-bottom: 15px; } }
@media screen and (max-width: 1023px) {
  .docs__list-item {
    padding-top: 15px;
    padding-bottom: 15px; } }
@media screen and (max-width: 1023px) {
  .docs__list-item {
    padding-top: 15px;
    padding-bottom: 15px; } }
@media screen and (max-width: 639px) {
  .docs__list-item {
    padding-top: 15px;
    padding-bottom: 15px; } }
.docs__list-item:hover {
  color: #8b071e; }
.docs__list-item:last-child {
  border-bottom: 1px solid #e7e7e7; }
.docs__list-item img {
  margin-right: 40px; }
@media screen and (max-width: 1919px) {
  .docs__list-item img {
    margin-right: 15px; } }
@media screen and (max-width: 1023px) {
  .docs__list-item img {
    margin-right: 15px; } }
@media screen and (max-width: 1023px) {
  .docs__list-item img {
    margin-right: 15px; } }
@media screen and (max-width: 639px) {
  .docs__list-item img {
    margin-right: 15px; } }
.docs__list-item span {
  line-height: 20px; }
.docs__list-title {
  display: block; }


@media screen and (max-width: 1919px) {
  .header-second__dropdown-block .hide-1024 {
    display: none; } }

@media screen and (max-width: 1023px) {
  .header-second__dropdown-block .hide-640 {
    display: none; } }

@media screen and (max-width: 639px) {
  .header-second__dropdown-block .hide-320 {
    display: none; } }

@media screen and (max-width: 1919px) {
  .header-second__dropdown-block .show-1920 {
    display: block; } }

@media screen and (max-width: 1023px) {
  .header-second__dropdown-block .show-1024 {
    display: block; } }

@media screen and (max-width: 639px) {
  .header-second__dropdown-block .show-640 {
    display: block; } }

@media screen and (max-width: 320px) {
  .header-second__dropdown-block .show-320 {
    display: block; } }

@media screen and (max-width: 1919px) {
  .hide-1024 {
    display: none; } }

@media screen and (max-width: 1023px) {
  .hide-640 {
    display: none; } }

@media screen and (max-width: 639px) {
  .hide-320 {
    display: none; } }

@media screen and (max-width: 1919px) {
  .show-1920 {
    display: block; } }

@media screen and (max-width: 1023px) {
  .show-1024 {
    display: block; } }

@media screen and (max-width: 639px) {
  .show-640 {
    display: block; } }

@media screen and (max-width: 320px) {
  .show-320 {
    display: block; } }


#login_form {
    text-align: center;
    width: 300px;
    margin: 0 auto;
    display: none;
    position: absolute !important;
    top: 25px;
    background: #fff;
    z-index: 2000;
    width: 270px !important;
    right: 70px;
}
.cs-footer-three__wrap{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.cs-footer-three__info {
  display: grid;
  grid-column-gap: 30px;
  text-align: end;
}
@media screen and (max-width: 1023px) {
  .cs-footer-three__wrap .contacts__col:nth-child(2) {
    grid-column-start: 1;
    grid-column-end: 3;
    margin-bottom: 30px;
  }
  .cs-footer-three__wrap .cs-footer-three__info{
    text-align: center;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 0px;
  }
}
@media screen and (max-width: 639px) {
  .cs-footer-three__wrap .contacts__col:nth-child(2) {
    margin-top: 30px;
  }
}

.cs-footer-second__item {
  font-size: 13px;
  color: #bcbcbc;
  line-height: 20px;
  display: block;
}

.cs-footer-second__item:hover {
  color: #8b071e;
}

.message {
  font-weight: bold;
  position: absolute;
  top: 35px;
  width: 350px;
  right: -20px;
  margin-left: 20px;
  padding: 0px;
}
.red{
  color: #ff0000;
}

