input[type=password], input[type=text] {
	border-bottom-width: 1px!important;
	border-radius: 3px!important;
}

.white_bg {
	    background-color: #fff!important;
}

.red_border {
	border: 1px solid #f00;
}