.table-bordered tr th, td{
	text-align: center;
	font-size: 12px;
	padding: 2px;
}

.table-bordered tbody tr.separator{
	background-color: #fcf8e3;

}

.table-bordered tbody tr.separator td{
	font-size: 13px;
	padding: 10px;
}


.table-bordered thead tr th {
	height: 80px;
	background-color: #eeeeee;
}

.without-bottom-border {
	border-bottom-width: 0px!important;
}

.nsau-abits-form.input-group-addon {
	min-width:220px; 
	text-align:left;
}

select.form-control {
	max-width: 1024px;
}

button.dropdown-toggle {
	width: 100px;
	margin: 10px;
}

.panel {
	border-radius: 3px!important;
	border-color: #eeeeee;
}

.panel-heading {
	background-color: #eeeeee;
}

.btn {
	border-radius: 3px!important;
	margin-top: 15px;
}

.greenLine {
	background-color: #daffda;
}

.blueLine {
	background-color: #c9f8fe;
}

.yellowLine {
	background-color: #f5fcd1;
}

div.enroll {
	display: inline-block;
    width: 20px;
    height: 20px;
}

