.comment_form { 
	left: 25%;
  top: 25%;
  position: fixed;
	font-size: 14px;
	z-index: 2120;
	margin: 0;
	width: 100%;
	min-width: 50%;
	max-width: 50%;
	padding: 0px;
	border: 1px solid #383838;
	background: #fefefe;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
	font: 14px/18px 'Tahoma', Arial, sans-serif;
	-webkit-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
	-moz-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
	-ms-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
	box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
	border: 2px solid #ccc;
}

.overlay {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2000;   
	background-color: rgba(0, 0, 0, 0.45);
	position: fixed; 
	cursor: default; 
}
div.testt {
	vertical-align:middle;
	display: flex;
	min-width: 100%;
    min-height: 100%;
	position: relative;
}
textarea.comment_text {
		vertical-align:middle;
	width: 99%; 
	min-height: 200px;
	resize: none; 
	padding: 2px;
	margin: 0px;
	overflow: hidden;
	
} 
textarea.comment_text:hover {
	border: 1px solid #39c; 
}
 
div.head {
	text-align: center;
	text-decoration: none;
	font: 15px/20px 'Tahoma', Arial, sans-serif;
	/*font-weight: bold;*/
	padding: 0 3px 3px 3px;
	margin: 0;
	border: 2px solid #ccc;
	background-color: #962F2E;
	color: #fff;
	/* cursor: pointer; */
}
	
div.close {
	top: -43px;
	right: -440px;
	width: 20px;
	height: 20px;
	position: absolute;
	padding: 0;
	/*border: 1px solid #ccc;*/
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 15px/20px 'Tahoma', Arial, sans-serif;
}

div.close:hover {
	background-color: rgba(0, 0, 0, 0.65);
	font-weight: bold;
	cursor: pointer;
}


.save_button {
	bottom: 0px;
	width: 100%;
	height: 30px;
	resize: none;
	padding-top: 8px;
	margin: 0px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 15px/20px 'Tahoma', Arial, sans-serif;
	font-weight: bold;
}
.save_button:hover{
	background-color: #962F2E;
	color: #fff;
	transition-property: background-color;
	transition-property: color;
	transition-duration: 0.3s;
	cursor: pointer;
}

div.file_comment {
	display: block;
	position: relative;
	float:left;
	min-height: 30px;
	max-height: 30px;
	padding: 3px;
	font-size: 14px;
	overflow: hidden;
	z-index: 10;
	margin: 0;
	width: 85%;
	min-width: 320px;
	max-width: 600px;
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
	font: 12px/16px, Arial, sans-serif;
	-webkit-box-shadow: 0 3px 3px rgba(0,0,0,.22),0 3px 3px rgba(0,0,212,.01);
	-moz-box-shadow: 0 3px 3px rgba(0,0,0,.22),0 3px 3px rgba(0,0,212,.01);
	-ms-box-shadow: 0 3px 3px rgba(0,0,0,.22),0 3px 3px rgba(0,0,212,.01);
	box-shadow: 0 3px 3px rgba(0,0,0,.22),0 3px 3px rgba(0,0,212,.01);
	border: 1px solid #ccc;
	background-color: rgba(69, 159, 168, 0.1);
}
/*div.file_comment:hover {
	background-color: rgba(69, 159, 168, 0.1);
	transition-property: background-color;
	transition-duration: 0.2s;
	cursor: pointer;
}*/
div.file_comment_row {
	min-height: 20px;
	max-height: 20px;
	font-size: 14px;
	z-index: 10;
	margin: 0;
	width: 85%;
	min-width: 250px;
	max-width: 300px;
	cursor: pointer;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
	font: 12px/16px, Arial, sans-serif;
	-webkit-box-shadow: 0 3px 3px rgba(0,0,0,.22),0 3px 3px rgba(0,0,212,.01);
	-moz-box-shadow: 0 3px 3px rgba(0,0,0,.22),0 3px 3px rgba(0,0,212,.01);
	-ms-box-shadow: 0 3px 3px rgba(0,0,0,.22),0 3px 3px rgba(0,0,212,.01);
	box-shadow: 0 3px 3px rgba(0,0,0,.22),0 3px 3px rgba(0,0,212,.01);
	border: 1px solid #ccc;
}


div.file_comment_row:hover {
	background-color: rgba(69, 159, 168, 0.1);
	transition-property: background-color;
	transition-duration: 0.2s;
	cursor: pointer;
}


div.comment_form_row {
	left: 25%;
  top: 25%;
  position: fixed;
	font-size: 14px;
	z-index: 2120;
	margin: 0;
	width: 100%;
	min-width: 50%;
	max-width: 50%;
	min-height: 50%;
	max-height: 50%;
	padding: 0px;
	border: 1px solid #383838;
	background: #fefefe;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
	font: 14px/18px 'Tahoma', Arial, sans-serif;
	-webkit-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
	-moz-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
	-ms-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
	box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
	
	border: 2px solid #ccc;
}


div.file_comment_button {
	float:left;
	height: 30px;
	padding: 3px;
	display: block;
	font-size: 14px;
	z-index: 10;
	margin: 0;
	min-width: 30px;
	max-width: 30px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
	font: 14px/18px 'Tahoma', Arial, sans-serif;
	-webkit-box-shadow: 0 3px 3px rgba(0,0,0,.22),0 3px 3px rgba(0,0,212,.01);
	-moz-box-shadow: 0 3px 3px rgba(0,0,0,.22),0 3px 3px rgba(0,0,212,.01);
	-ms-box-shadow: 0 3px 3px rgba(0,0,0,.22),0 3px 3px rgba(0,0,212,.01);
	box-shadow: 0 3px 3px rgba(0,0,0,.22),0 3px 3px rgba(0,0,212,.01);
	border: 1px solid #ccc;
}
div.file_comment_button:hover {
	background-color: rgba(156, 6, 5, 0.6);
	transition-property: background-color;
	transition-duration: 0.2s;
}


div.comment_line {
	min-width: 800px;
	max-width: 900px;
	padding-top: 10px;
	display: block;
	position: relative;

}

.comment_form_row_text {
	padding: 3px;
}



/*VKR*/

div.sw_add_form {
	left: 30%;
  top: 25%;
  position: fixed;
	font-size: 14px;
	z-index: 2120;
	margin: 0;
	width: 100%;
	min-width: 35%;
	max-width: 35%;
	padding: 0px;
	/*border: 1px solid #383838;*/
	background: #fefefe;
/*	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;*/
	font: 14px/18px 'Tahoma', Arial, sans-serif;
/*	-webkit-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
	-moz-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
	-ms-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
	box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);*/
	
	/*border: 2px solid #ccc;*/
}
.sw_add_form .form{
	padding:5px;
}
.file_form{
	    padding: 5px 0;
}
div.sw_edit_form {
	left: 30%;
  top: 25%;
  position: fixed;
	font-size: 14px;
	z-index: 2120;
	margin: 0;
	width: 100%;
	min-width: 35%;
	max-width: 35%;
	padding: 0px;
	/*border: 1px solid #383838;*/
	background: #fefefe;
/*	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;*/
/*	border-radius: 4px;*/
	font: 14px/18px 'Tahoma', Arial, sans-serif;
/*	-webkit-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
	-moz-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
	-ms-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
	box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);*/
	
	/*border: 2px solid #ccc;*/
}
.sw_group{
	    margin: 2px 0;
}
