.loading {    
    background-color: #E1E1E1;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' class='lds-comets' width='30px' height='30px' viewBox='0 0 100 100' preserveAspectRatio='xMidYMid' style='background: none;'%3E%3Cg transform='rotate%28236.575 50 50%29'%3E%3CanimateTransform attributeName='transform' type='rotate' repeatCount='indefinite' values='360 50 50;0 50 50' keyTimes='0;1' dur='1.5s' keySplines='0.5 0.5 0.5 0.5' calcMode='spline'/%3E%3Cpath fill='%23c4c4c4' d='M91,74.1C75.6,98,40.7,102.4,21.2,81c11,9.9,26.8,13.5,40.8,8.7c7.4-2.5,13.9-7.2,18.7-13.3 c1.8-2.3,3.5-7.6,6.7-8C90.5,67.9,92.7,71.5,91,74.1z'/%3E%3Cpath fill='%23bd0017' d='M50.7,5c-4,0.2-4.9,5.9-1.1,7.3c1.8,0.6,4.1,0.1,5.9,0.3c2.1,0.1,4.3,0.5,6.4,0.9c5.8,1.4,11.3,4,16,7.8 C89.8,31.1,95.2,47,92,62c4.2-13.1,1.6-27.5-6.4-38.7c-3.4-4.7-7.8-8.7-12.7-11.7C66.6,7.8,58.2,4.6,50.7,5z'/%3E%3Cpath fill='%23ffd398' d='M30.9,13.4C12,22.7,2.1,44.2,7.6,64.8c0.8,3.2,3.8,14.9,9.3,10.5c2.4-2,1.1-4.4-0.2-6.6 c-1.7-3-3.1-6.2-4-9.5C10.6,51,11.1,41.9,14.4,34c4.7-11.5,14.1-19.7,25.8-23.8C37,11,33.9,11.9,30.9,13.4z'/%3E%3C/g%3E%3C/svg%3E");
    background-size:35px 25px;
    background-position: right center;
    background-repeat: no-repeat;
    pointer-events:none;
}

.loading_sendmessage {    
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' class='lds-comets' width='30px' height='30px' viewBox='0 0 100 100' preserveAspectRatio='xMidYMid' style='background: none;'%3E%3Cg transform='rotate%28236.575 50 50%29'%3E%3CanimateTransform attributeName='transform' type='rotate' repeatCount='indefinite' values='360 50 50;0 50 50' keyTimes='0;1' dur='1.5s' keySplines='0.5 0.5 0.5 0.5' calcMode='spline'/%3E%3Cpath fill='%23c4c4c4' d='M91,74.1C75.6,98,40.7,102.4,21.2,81c11,9.9,26.8,13.5,40.8,8.7c7.4-2.5,13.9-7.2,18.7-13.3 c1.8-2.3,3.5-7.6,6.7-8C90.5,67.9,92.7,71.5,91,74.1z'/%3E%3Cpath fill='%23bd0017' d='M50.7,5c-4,0.2-4.9,5.9-1.1,7.3c1.8,0.6,4.1,0.1,5.9,0.3c2.1,0.1,4.3,0.5,6.4,0.9c5.8,1.4,11.3,4,16,7.8 C89.8,31.1,95.2,47,92,62c4.2-13.1,1.6-27.5-6.4-38.7c-3.4-4.7-7.8-8.7-12.7-11.7C66.6,7.8,58.2,4.6,50.7,5z'/%3E%3Cpath fill='%23ffd398' d='M30.9,13.4C12,22.7,2.1,44.2,7.6,64.8c0.8,3.2,3.8,14.9,9.3,10.5c2.4-2,1.1-4.4-0.2-6.6 c-1.7-3-3.1-6.2-4-9.5C10.6,51,11.1,41.9,14.4,34c4.7-11.5,14.1-19.7,25.8-23.8C37,11,33.9,11.9,30.9,13.4z'/%3E%3C/g%3E%3C/svg%3E");
    background-size:35px 25px;
    background-position: right center;
    background-repeat: no-repeat;
}

.unread {
    background-color: #C6002BFF;
}

*, *:before, *:after {box-sizing:  border-box !important;}

/*#themes_list.row {
 -moz-column-width: 18em;
 -webkit-column-width: 18em;
 -moz-column-gap: 1em;
 -webkit-column-gap: 1em; 
  
}
*/
.menu-category {
 display: inline-block;
/* margin:  0.25rem;*/
 padding:  1rem;
 width:  100%; 
}

.theme_card .menu-category-name {
    border-radius: 0px;
}

.horizontal_menu_button {
    margin-top: -20px;
    margin-bottom: 20px;
}

.theme_controls {
    width: 100%;
    height: 50px;
}

.theme_controls button {
  float: left;
    width: ;
    margin-right: 2%;
    margin-top: -11px;
}

.theme_controls .glyphicon
{
    padding-bottom: 3px;
}

.theme_chat {
    margin-right: 0px;
    margin-left: 0px;
}

.chat_settings {
    width: 280px;
}


.chat_settings li {
    list-style-type: none;
}


.chat_settings .dropdown-menu{
    height: 70%;
    width: 110%;
    border-radius: 1px;
    box-shadow: none;
     overflow-y: scroll;
}

.chat_messages_box {
    height: 70%;
    width: 72%;
    float: right;
}

.messages {
    padding-bottom: 10px;
}

/*.chat_messages_box .chat_inputer {
    margin-top: -56px;
}*/

/*.theme_header {
    border: 1px #d6d6d6 solid;
    border-bottom-width: 1px;
    -moz-border-radius: 14px;
    -webkit-border-radius: 14px;
    -khtml-border-radius: 14px;
    border-radius: 1px;
    height: 40px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 7px;
}*/

.theme_header .btn {
    height: 40px;
    width: 49px;
    margin-top: -1px;
}

.chat_theme_name {
    float: right;
    margin-right: 58%;
    margin-top: 1%;
}

.invite_photo {
 object-fit: cover;
}

.chat_users_list li {
    white-space: nowrap; 
    overflow: hidden;
    font-size: 12;
    margin-left: 0px;
}

.chat_users_list li .col-sm-3 {
      margin-left: -16px;
}

.chat_users_list li .col-sm-9 {
    font-weight: 900;
}


.contecst
{
    position: absolute;
    display: none;
    z-index: 99999;
}

.dropdown-menu {
    border-radius: 1px!important;
}
.dropdown-menu li {
    list-style: none;
}

/*.message_self .media{
   background-color: #ABD995;
   border-radius: 2px 2px 2px 2px;
   margin-right: 50px;
   margin-top: -15px;
}

.message_other .media{
   background-color: #96BAD9;
   border-radius: 0px 25px 25px 0px;
   margin-left: 50px;
   margin-top: -15px;
}

.message_self .media-heading{
   font-weight: 900;
}

.message_other .media-heading{
   float: right;
   font-weight: 900;
}

.media-body {
    width: 100px;
}

.message_text {
    width: 50%;
    word-wrap: break-word; /* Перенос слов */ 
}*/


#sidepanel .btn {
    display: none;
}

.fa-chevron-left {
  padding-top: -10px;
}


.modal-header {
    background: #32465a!important;
}





























.panel-google-plus {
    position: relative;
    border-radius: 0px;
    border: 1px solid rgb(216, 216, 216);
    /*font-family: 'Roboto', sans-serif;*/
}

.panel-google-plus > .dropdown {
    position: absolute;
    top: 5px;
    right: 15px;
}
.panel-google-plus > .dropdown > span > span {
    font-size: 10px;   
}
.panel-google-plus > .dropdown > .dropdown-menu {
    left: initial;
    right: 0px;
    border-radius: 2px;
}
.panel-google-plus > .panel-google-plus-tags {
    position: absolute;
    top: 9px;
    right: -3px;
}
.panel-google-plus > .panel-google-plus-tags > ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.panel-google-plus > .panel-google-plus-tags > ul:hover {
    box-shadow: 0px 0px 3px rgb(0, 0, 0);   
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);   
}
.panel-google-plus > .panel-google-plus-tags > ul > li {
    display: block;
    right: 0px;
    width: 0px;
    padding: 5px 0px 5px 0px;
    background-color: rgb(245, 245, 245);
    font-size: 12px;
    overflow: hidden;
}
.panel-google-plus > .panel-google-plus-tags > ul > li::after {
    content:"";
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    border-right: 3px solid rgb(66, 127, 237);
}
.panel-google-plus > .panel-google-plus-tags > ul:hover > li,
.panel-google-plus > .panel-google-plus-tags > ul > li:first-child {
    padding: 5px 15px 5px 10px;
    width: auto;
    cursor: pointer;
    margin-left: auto;
}
.panel-google-plus > .panel-google-plus-tags > ul:hover > li {
    background-color: rgb(255, 255, 255);   
}
.panel-google-plus > .panel-google-plus-tags > ul > li:hover {
    background-color: rgb(66, 127, 237);
    color: rgb(255, 255, 255);
}
.panel-google-plus > .panel-heading {
    background: #32465a;
    color: #f5f5f5;
    border-width: 0px; 
    border-radius: 0px;
}
.panel-google-plus > .panel-heading {
    margin-top: -1px;    
    padding-bottom: 5px; 
}
.panel-google-plus > .panel-heading > img { 
    margin-right: 15px;
}
.panel-google-plus > .panel-heading > h3 {
    margin: 0px;
    font-size: 14px;
    font-weight: 700;
}
.panel-google-plus > .panel-heading > h5 {
    color: rgb(153, 153, 153);
    font-size: 12px;
    font-weight: 400;
}
.panel-google-plus > .panel-body {
    padding-top: 10px;
    font-size: 13px;
}
.panel-google-plus > .panel-body > .panel-google-plus-image {
    display: block;
    text-align: center;
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(217, 217, 217);
}
.panel-google-plus > .panel-body > .panel-google-plus-image > img {
    max-width: 100%;
}

.panel-google-plus > .panel-footer {
    font-size: 14px;
    font-weight: 700;
    min-height: 54px;
}
.panel-google-plus > .panel-footer > .btn {
    float: left;
    margin-right: 8px;
}
.panel-google-plus > .panel-footer > .input-placeholder {
    display: block;
    margin-left: 98px;
    color: rgb(153, 153, 153);
    font-size: 12px;
    font-weight: 400;
    padding: 8px 6px 7px;
    border: 1px solid rgb(217, 217, 217);
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 0px 0px;
}
.panel-google-plus.panel-google-plus-show-comment > .panel-footer > .input-placeholder {
    display: none;   
}
.panel-google-plus > .panel-google-plus-comment {
    display: none;
    padding: 10px 20px 15px;
    border-top: 1px solid rgb(229, 229, 229);
    background-color: rgb(245, 245, 245);
}
.panel-google-plus.panel-google-plus-show-comment > .panel-google-plus-comment {
    display: block;
}
/*.panel-google-plus > .panel-google-plus-comment > img {
    float: left;   
}*/
.panel-google-plus > .panel-google-plus-comment > .panel-google-plus-textarea {
    float: right;
    width: calc(100% - 56px);
}
.panel-google-plus > .panel-google-plus-comment > .panel-google-plus-textarea > textarea {
    display: block;
    /*margin-left: 60px;
    width: calc(100% - 56px);*/
    width: 100%;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(217, 217, 217);
    box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 0px 0px;
    resize: vertical;
}
.panel-google-plus > .panel-google-plus-comment > .panel-google-plus-textarea > .btn {
    margin-top: 10px;
    margin-right: 8px;
    width: 100%;
}
@media (min-width: 992px) {
    .panel-google-plus > .panel-google-plus-comment > .panel-google-plus-textarea > .btn {
        width: auto;
    }    
}


.panel-google-plus .btn {
    border-radius: 3px;   
}
.panel-google-plus .btn-default {
    border: 1px solid rgb(217, 217, 217);
    box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 0px 0px;
}
.panel-google-plus .btn-default:hover, 
.panel-google-plus .btn-default:focus, 
.panel-google-plus .btn-default:active {
    background-color: rgb(255, 255, 255);
    border-color: rgb(0, 0, 0);    
}

.sent .delete_message {
    margin-left: -27px;
    padding-right: 10px;
    top: 12px;
    cursor: pointer;
}


.replies .delete_message {
    float: right;
    margin-left: 10px;
    margin-right: -26px;
    top: 35px;
    cursor: pointer;
}

.theme_info {
    position: absolute;
    max-width: 85%;
}

.theme_info .name {
    margin-left: 10px;
    /* margin-top: -5%; */
    line-height: 30px;
}

.theme_info .description {
    margin-left: 10px;
    /* margin-top: -40%; */
    font-size: 12px;
    
}

#frame .content .contact-profile .social-media i:nth-last-child(1) {
    margin-right: 20px;
    line-height: 60px;
}

.glyphicon {
  position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#frame .content .contact-profile {
    width: 100%;
    height: 60px;
  
    background: #f5f5f5;
}

.back_to_themes_list{
line-height: 60px!important;
}