.preparation__tab-title, .ancors__img:before, .ancors__name, .docs__item a, .progress__ancors-wrap a, .progress__bar-done {
    transition: all ease .3s;
}

.banner__item, .content__gallery-item, .ancors__img {
    position: relative;
}

.banner__item > img, .content__gallery-item > img, .ancors__img > img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.btn {
    padding: 0 45px;
    height: 35px;
    border: none;
    line-height: 35px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #a30118;
    transition: all ease .3s;
    font-size: 14px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width: 639px) {
    .btn {
        height: 35px;
    }
}

.btn:hover {
    color: white;
    text-decoration: none;
}

div.about{
    padding: 0px;
}

.about ul, .preparation ul, .content ul {
    margin-bottom: 25px;
    padding: 0;
}

.about ul li, .preparation ul li, .content ul li {
    margin-bottom: 10px;
    font-size: 14px;
    padding-left: 15px;
    position: relative;
    line-height: 1.8;
    list-style: none;
}

.about ul li:before, .preparation ul li:before, .content ul li:before {
    content: '';
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #f00e39;
    position: absolute;
    left: 0;
    top: 12px;
}

@media screen and (max-width: 639px) {
    .about ul li, .preparation ul li, .content ul li {
        font-size: 13px;
    }
}

.slick-arrow {
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    font-size: 0;
    border: none;
    transform: translateY(-50%);
    z-index: 10;
    background: transparent;
}

.slick-arrow:before {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    background: url("../../images/3_nsau.webp");
    right: 0;
    top: calc(50% + 1px);
}

.slick-next {
    right: 18%;
}

.slick-prev {
    left: 18%;
}

.slick-prev:before {
    transform: translateY(-50%) rotate(-180deg);
}

.slick-dots {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    display: flex;
    bottom: 10px;
}

.slick-dots li {
    list-style: none;
}

[role=presentation] button {
    font-size: 0;
    border-radius: 50%;
    width: 7px;
    height: 7px;
    background: white;
    margin-right: 5px;
    padding: 0;
    outline: none;
    border: none;
}

[role=presentation].slick-active button {
    width: 10px;
    height: 10px;
    background-color: #a30118;
}

.content__tabs-head-item {
    font-size: 16px;
}

@media screen and (max-width: 1919px) {
    .content__tabs-head-item {
        font-size: 16px;
    }
}

@media screen and (max-width: 1359px) {
    .content__tabs-head-item {
        font-size: 16px;
    }
}

@media screen and (max-width: 1023px) {
    .content__tabs-head-item {
        font-size: 16px;
    }
}

@media screen and (max-width: 639px) {
    .content__tabs-head-item {
        font-size: 14px;
    }
}

.about__grid, .second-banner--1, .content__gallery {
    margin-bottom: 100px;
}

@media screen and (max-width: 1919px) {
    .about__grid, .second-banner--1, .content__gallery {
        margin-bottom: 100px;
    }
}

@media screen and (max-width: 1359px) {
    .about__grid, .second-banner--1, .content__gallery {
        margin-bottom: 80px;
    }
}

@media screen and (max-width: 1023px) {
    .about__grid, .second-banner--1, .content__gallery {
        margin-bottom: 60px;
    }
}

@media screen and (max-width: 639px) {
    .about__grid, .second-banner--1, .content__gallery {
        margin-bottom: 50px;
    }
}

#special {
    padding-top: 100px;
}

@media screen and (max-width: 1919px) {
    #special {
        padding-top: 100px;
    }
}

@media screen and (max-width: 1359px) {
    #special {
        padding-top: 80px;
    }
}

@media screen and (max-width: 1023px) {
    #special {
        padding-top: 60px;
    }
}

@media screen and (max-width: 639px) {
    #special {
        padding-top: 50px;
    }
}

.content__tabs {
    margin-top: 50px;
}

@media screen and (max-width: 1919px) {
    .content__tabs {
        margin-top: 50px;
    }
}

@media screen and (max-width: 1359px) {
    .content__tabs {
        margin-top: 30px;
    }
}

@media screen and (max-width: 1023px) {
    .content__tabs {
        margin-top: 30px;
    }
}

@media screen and (max-width: 639px) {
    .content__tabs {
        margin-top: 20px;
    }
}

.practice__box {
    margin-top: 40px;
}

@media screen and (max-width: 1919px) {
    .practice__box {
        margin-top: 40px;
    }
}

@media screen and (max-width: 1359px) {
    .practice__box {
        margin-top: 30px;
    }
}

@media screen and (max-width: 1023px) {
    .practice__box {
        margin-top: 30px;
    }
}

@media screen and (max-width: 639px) {
    .practice__box {
        margin-top: 30px;
    }
}

.content__tabs-head {
    margin-bottom: 30px;
}

@media screen and (max-width: 1919px) {
    .content__tabs-head {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 1359px) {
    .content__tabs-head {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 1023px) {
    .content__tabs-head {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 639px) {
    .content__tabs-head {
        margin-bottom: 20px;
    }
}

.practice__gallery, .docs__list {
    margin-top: 30px;
}

@media screen and (max-width: 1919px) {
    .practice__gallery, .docs__list {
        margin-top: 30px;
    }
}

@media screen and (max-width: 1359px) {
    .practice__gallery, .docs__list {
        margin-top: 30px;
    }
}

@media screen and (max-width: 1023px) {
    .practice__gallery, .docs__list {
        margin-top: 30px;
    }
}

@media screen and (max-width: 639px) {
    .practice__gallery, .docs__list {
        margin-top: 20px;
    }
}

.title, .title--1, .title--2, .practice__title, .practice__text {
    margin-bottom: 20px;
}

@media screen and (max-width: 1919px) {
    .title, .title--1, .title--2, .practice__title, .practice__text {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 1359px) {
    .title, .title--1, .title--2, .practice__title, .practice__text {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 1023px) {
    .title, .title--1, .title--2, .practice__title, .practice__text {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 639px) {
    .title, .title--1, .title--2, .practice__title, .practice__text {
        margin-bottom: 10px;
    }
}

.practice__title {
    font-size: 28px;
}

@media screen and (max-width: 1919px) {
    .practice__title {
        font-size: 28px;
    }
}

@media screen and (max-width: 1359px) {
    .practice__title {
        font-size: 24px;
    }
}

@media screen and (max-width: 1023px) {
    .practice__title {
        font-size: 20px;
    }
}

@media screen and (max-width: 639px) {
    .practice__title {
        font-size: 18px;
    }
}

.flex-block p, .flex-block__left p, .flex-block__left b, .flex-block__right, .practice__text, .ancors__name {
    font-size: 14px;
    line-height: 1.4;
    padding: 0;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    width: 1150px;
}

@media screen and (max-width: 1919px) {
    .container {
        width: 1150px;
    }
}

@media screen and (max-width: 1359px) {
    .container {
        width: 750px;
        margin-right: 200px;
    }
}

@media screen and (max-width: 1023px) {
    .container {
        width: 600px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 639px) {
    .container {
        width: 290px;
    }
}

.container--2 {
    width: 1150px;
}

@media screen and (max-width: 1919px) {
    .container--2 {
        width: 1150px;
    }
}

@media screen and (max-width: 1359px) {
    .container--2 {
        width: 900px;
    }
}

@media screen and (max-width: 1023px) {
    .container--2 {
        width: 600px;
    }
}

@media screen and (max-width: 639px) {
    .container--2 {
        width: 290px;
    }
}

.title {
    font-size: 30px;
    font-weight: 700;
    color: black;
}

@media screen and (max-width: 1919px) {
    .title {
        font-size: 30px;
    }
}

@media screen and (max-width: 1359px) {
    .title {
        font-size: 30px;
    }
}

@media screen and (max-width: 1023px) {
    .title {
        font-size: 20px;
    }
}

@media screen and (max-width: 639px) {
    .title {
        font-size: 18px;
    }
}

.title--1 {
    font-size: 28px;
    font-weight: 700;
    color: black;
}

@media screen and (max-width: 1919px) {
    .title--1 {
        font-size: 28px;
    }
}

@media screen and (max-width: 1359px) {
    .title--1 {
        font-size: 24px;
    }
}

@media screen and (max-width: 1023px) {
    .title--1 {
        font-size: 20px;
    }
}

@media screen and (max-width: 639px) {
    .title--1 {
        font-size: 18px;
    }
}

.title--2 {
    font-size: 24px;
    font-weight: 700;
    color: black;
}

@media screen and (max-width: 1919px) {
    .title--2 {
        font-size: 24px;
    }
}

@media screen and (max-width: 1359px) {
    .title--2 {
        font-size: 24px;
    }
}

@media screen and (max-width: 1023px) {
    .title--2 {
        font-size: 20px;
    }
}

@media screen and (max-width: 639px) {
    .title--2 {
        font-size: 18px;
    }
}

.flex-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

@media screen and (max-width: 1023px) {
    .flex-block {
        margin-bottom: 30px;
    }
}

.flex-block:last-child {
    margin-bottom: 0;
}

.flex-block__numbers {
    position: absolute;
    width: 100%;
    right: 0;
}

.flex-block__number {
    position: absolute;
}

.flex-block__number strong {
    font-size: 30px;
    color: #a30118;
    display: block;
}

.flex-block__number span {
    font-size: 14px;
}

.flex-block__number.number--1 {
    right: 160px;
    bottom: 20px;
}

@media screen and (max-width: 1359px) {
    .flex-block__number.number--1 {
        right: 20px;
    }
}

@media screen and (max-width: 1023px) {
    .flex-block__number.number--1 {
        right: 100px;
    }
}

@media screen and (max-width: 639px) {
    .flex-block__number.number--1 {
        right: 100px;
        bottom: 110px;
    }
}

.flex-block__number.number--2 {
    right: 45px;
    top: 65px;
}

@media screen and (max-width: 1359px) {
    .flex-block__number.number--2 {
        right: -20px;
    }
}

@media screen and (max-width: 1023px) {
    .flex-block__number.number--2 {
        right: 50px;
    }
}

@media screen and (max-width: 639px) {
    .flex-block__number.number--2 {
        right: 180px;
        top: 200px;
    }
}

.flex-block__number.number--3 {
    top: 290px;
    left: 80px;
}

@media screen and (max-width: 1359px) {
    .flex-block__number.number--3 {
        top: 220px;
        left: 40px;
    }
}

@media screen and (max-width: 1023px) {
    .flex-block__number.number--3 {
        left: 90px;
    }
}

@media screen and (max-width: 639px) {
    .flex-block__number.number--3 {
        top: 340px;
        left: 0px;
    }
}

.flex-block__number.number--4 {
    left: 80px;
    bottom: -70px;
}

@media screen and (max-width: 1359px) {
    .flex-block__number.number--4 {
        left: 40px;
        bottom: -40px;
    }
}

@media screen and (max-width: 1023px) {
    .flex-block__number.number--4 {
        left: 90px;
    }
}

@media screen and (max-width: 639px) {
    .flex-block__number.number--4 {
        left: 0px;
        bottom: 20px;
    }
}

.flex-block__number.number--5 {
    right: 180px;
    bottom: 30px;
}

@media screen and (max-width: 1359px) {
    .flex-block__number.number--5 {
        right: -20px;
        bottom: 30px;
    }
}

@media screen and (max-width: 639px) {
    .flex-block__number.number--5 {
        right: 30px;
        bottom: 110px;
    }
}

.flex-block__number.number--6 {
    right: 40px;
    bottom: -240px;
}

@media screen and (max-width: 1359px) {
    .flex-block__number.number--6 {
        right: -20px;
    }
}

@media screen and (max-width: 639px) {
    .flex-block__number.number--6 {
        right: 180px;
        bottom: -280px;
    }
}

.flex-block__number.number--7 {
    left: 50px;
    top: 70px;
}

@media screen and (max-width: 1359px) {
    .flex-block__number.number--7 {
        left: -10px;
    }
}

@media screen and (max-width: 639px) {
    .flex-block__number.number--7 {
        left: 10px;
        top: -80px;
    }
}

.flex-block__graph {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 50px;
}

@media screen and (max-width: 1023px) {
    .flex-block__graph {
        margin-top: 110px;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 639px) {
    .flex-block__graph {
        margin-top: 200px;
        margin-bottom: 200px;
    }
}

.flex-block__graph img {
    width: 305px;
    height: 305px;
}

@media screen and (max-width: 1919px) {
    .flex-block__graph img {
        width: 305px;
    }
}

@media screen and (max-width: 1359px) {
    .flex-block__graph img {
        width: 230px;
    }
}

@media screen and (max-width: 1023px) {
    .flex-block__graph img {
        width: 230px;
    }
}

@media screen and (max-width: 639px) {
    .flex-block__graph img {
        width: 180px;
    }
}

@media screen and (max-width: 1919px) {
    .flex-block__graph img {
        height: 305px;
    }
}

@media screen and (max-width: 1359px) {
    .flex-block__graph img {
        height: 230px;
    }
}

@media screen and (max-width: 1023px) {
    .flex-block__graph img {
        height: 230px;
    }
}

@media screen and (max-width: 639px) {
    .flex-block__graph img {
        height: 180px;
    }
}

.flex-block__left {
    width: 380px;
    margin-right: 15px;
}

@media screen and (max-width: 1919px) {
    .flex-block__left {
        width: 380px;
    }
}

@media screen and (max-width: 1359px) {
    .flex-block__left {
        width: 220px;
    }
}

@media screen and (max-width: 1023px) {
    .flex-block__left {
        width: 100%;
    }
}

@media screen and (max-width: 639px) {
    .flex-block__left {
        width: 100%;
    }
}

@media screen and (max-width: 1023px) {
    .flex-block__left {
        margin-bottom: 15px;
    }
}

.flex-block__left strong {
    font-size: 28px;
    display: block;
    margin-bottom: 15px;
}

@media screen and (max-width: 1919px) {
    .flex-block__left strong {
        font-size: 28px;
    }
}

@media screen and (max-width: 1359px) {
    .flex-block__left strong {
        font-size: 24px;
    }
}

@media screen and (max-width: 1023px) {
    .flex-block__left strong {
        font-size: 20px;
    }
}

@media screen and (max-width: 639px) {
    .flex-block__left strong {
        font-size: 18px;
    }
}

.flex-block__left p {
    margin-bottom: 10px;
}

.flex-block__left b {
    margin-bottom: 10px;
}

.flex-block__right {
    width: 670px;
}

@media screen and (max-width: 1919px) {
    .flex-block__right {
        width: 670px;
    }
}

@media screen and (max-width: 1359px) {
    .flex-block__right {
        width: 435px;
    }
}

@media screen and (max-width: 1023px) {
    .flex-block__right {
        width: 100%;
    }
}

@media screen and (max-width: 639px) {
    .flex-block__right {
        width: 100%;
    }
}

.flex-block__right p {
    font-size: 14px;
    padding: 0;
    margin-bottom: 15px;
    line-height: 1.4;
}

/*#nofooter {*/
    /*width: 100%;*/
    /*min-width: 100%;*/
    /*margin: 0;*/
/*}*/

.section {
    padding-bottom: 100px;
    padding-top: 100px;
    margin: 0;
}

@media screen and (max-width: 1023px) {
    .section {
        padding-bottom: 15px;
        padding-top: 15px;
    }
}

.banner__text {
    color: #a30118;
    height: 22px;
    line-height: 22px;
    background-color: #ffdeac;
    padding: 0 10px;
    display: inline-block;
    top: 20px;
    position: relative;
    border-radius: 3px;
}

.banner__wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

@media screen and (max-width: 1919px) {
    .banner__wrap {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1359px) {
    .banner__wrap {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1023px) {
    .banner__wrap {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 639px) {
    .banner__wrap {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 1919px) {
    .banner__wrap {
        grid-column-gap: 20px;
    }
}

@media screen and (max-width: 1359px) {
    .banner__wrap {
        grid-column-gap: 20px;
    }
}

@media screen and (max-width: 1023px) {
    .banner__wrap {
        grid-column-gap: 15px;
    }
}

@media screen and (max-width: 639px) {
    .banner__wrap {
        grid-column-gap: 0px;
    }
}

@media screen and (max-width: 1919px) {
    .banner__wrap {
        grid-row-gap: 20px;
    }
}

@media screen and (max-width: 1359px) {
    .banner__wrap {
        grid-row-gap: 15px;
    }
}

@media screen and (max-width: 1023px) {
    .banner__wrap {
        grid-row-gap: 15px;
    }
}

@media screen and (max-width: 639px) {
    .banner__wrap {
        grid-row-gap: 15px;
    }
}

.banner__item {
    height: 450px;
}

@media screen and (max-width: 1919px) {
    .banner__item {
        height: 450px;
    }
}

@media screen and (max-width: 1359px) {
    .banner__item {
        height: 330px;
    }
}

@media screen and (max-width: 1023px) {
    .banner__item {
        height: 230px;
    }
}

@media screen and (max-width: 639px) {
    .banner__item {
        height: 200px;
    }
}

.banner__item .container {
    position: relative;
    z-index: 1;
}

.info {
    background-color: #a30118;
    background-image: url("../../images/12_1_nsau.png");
    background-repeat: no-repeat;
}

@media screen and (max-width: 639px) {
    .info {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

.info__wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 1919px) {
    .info__wrap {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 1359px) {
    .info__wrap {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 1023px) {
    .info__wrap {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 639px) {
    .info__wrap {
        grid-template-columns: repeat(1, 1fr);
    }
}

.info__item {
    padding-top: 60px;
    padding-bottom: 60px;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    margin-right: 30px;
}

@media screen and (max-width: 1919px) {
    .info__item {
        padding-top: 60px;
    }
}

@media screen and (max-width: 1359px) {
    .info__item {
        padding-top: 40px;
    }
}

@media screen and (max-width: 1023px) {
    .info__item {
        padding-top: 30px;
    }
}

@media screen and (max-width: 639px) {
    .info__item {
        padding-top: 15px;
    }
}

@media screen and (max-width: 1919px) {
    .info__item {
        padding-bottom: 60px;
    }
}

@media screen and (max-width: 1359px) {
    .info__item {
        padding-bottom: 40px;
    }
}

@media screen and (max-width: 1023px) {
    .info__item {
        padding-bottom: 30px;
    }
}

@media screen and (max-width: 639px) {
    .info__item {
        padding-bottom: 15px;
    }
}

@media screen and (max-width: 1919px) {
    .info__item {
        margin-right: 30px;
    }
}

@media screen and (max-width: 1359px) {
    .info__item {
        margin-right: 30px;
    }
}

@media screen and (max-width: 1023px) {
    .info__item {
        margin-right: 0px;
    }
}

@media screen and (max-width: 639px) {
    .info__item {
        margin-right: 0px;
    }
}

.info__item:last-child {
    margin-right: 0;
    border-right: 1px solid transparent;
}

@media screen and (max-width: 1023px) {
    .info__item {
        border-right: transparent;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
    }
}

.info__title {
    font-size: 18px;
    color: #ffd18d;
    margin-bottom: 15px;
}

@media screen and (max-width: 1919px) {
    .info__title {
        font-size: 18px;
    }
}

@media screen and (max-width: 1359px) {
    .info__title {
        font-size: 18px;
    }
}

@media screen and (max-width: 1023px) {
    .info__title {
        font-size: 16px;
    }
}

@media screen and (max-width: 639px) {
    .info__title {
        font-size: 14px;
    }
}

.info__num {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
}

@media screen and (max-width: 1919px) {
    .info__num {
        margin-bottom: 18px;
    }
}

@media screen and (max-width: 1359px) {
    .info__num {
        margin-bottom: 18px;
    }
}

@media screen and (max-width: 1023px) {
    .info__num {
        margin-bottom: 18px;
    }
}

@media screen and (max-width: 639px) {
    .info__num {
        margin-bottom: 7px;
    }
}

.info__num--2 {
    margin-bottom: 8px;
}

@media screen and (max-width: 1919px) {
    .info__num--2 {
        margin-bottom: 8px;
    }
}

@media screen and (max-width: 1359px) {
    .info__num--2 {
        margin-bottom: 8px;
    }
}

@media screen and (max-width: 1023px) {
    .info__num--2 {
        margin-bottom: 8px;
    }
}

@media screen and (max-width: 639px) {
    .info__num--2 {
        margin-bottom: 8px;
    }
}

.info__num--2 .info__num-circle {
    width: 40px;
    height: 40px;
    font-size: 18px;
}

@media screen and (max-width: 1919px) {
    .info__num--2 .info__num-circle {
        width: 40px;
    }
}

@media screen and (max-width: 1359px) {
    .info__num--2 .info__num-circle {
        width: 40px;
    }
}

@media screen and (max-width: 1023px) {
    .info__num--2 .info__num-circle {
        width: 40px;
    }
}

@media screen and (max-width: 639px) {
    .info__num--2 .info__num-circle {
        width: 40px;
    }
}

@media screen and (max-width: 1919px) {
    .info__num--2 .info__num-circle {
        height: 40px;
    }
}

@media screen and (max-width: 1359px) {
    .info__num--2 .info__num-circle {
        height: 40px;
    }
}

@media screen and (max-width: 1023px) {
    .info__num--2 .info__num-circle {
        height: 40px;
    }
}

@media screen and (max-width: 639px) {
    .info__num--2 .info__num-circle {
        height: 40px;
    }
}

@media screen and (max-width: 1919px) {
    .info__num--2 .info__num-circle {
        font-size: 18px;
    }
}

@media screen and (max-width: 1359px) {
    .info__num--2 .info__num-circle {
        font-size: 18px;
    }
}

@media screen and (max-width: 1023px) {
    .info__num--2 .info__num-circle {
        font-size: 18px;
    }
}

@media screen and (max-width: 639px) {
    .info__num--2 .info__num-circle {
        font-size: 18px;
    }
}

.info__num-circle {
    width: 50px;
    height: 50px;
    font-size: 22px;
    margin-right: 20px;
    font-weight: 700;
    background-color: #ffdeac;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #a30118;
}

@media screen and (max-width: 1919px) {
    .info__num-circle {
        width: 50px;
    }
}

@media screen and (max-width: 1359px) {
    .info__num-circle {
        width: 50px;
    }
}

@media screen and (max-width: 1023px) {
    .info__num-circle {
        width: 50px;
    }
}

@media screen and (max-width: 639px) {
    .info__num-circle {
        width: 40px;
    }
}

@media screen and (max-width: 1919px) {
    .info__num-circle {
        height: 50px;
    }
}

@media screen and (max-width: 1359px) {
    .info__num-circle {
        height: 50px;
    }
}

@media screen and (max-width: 1023px) {
    .info__num-circle {
        height: 50px;
    }
}

@media screen and (max-width: 639px) {
    .info__num-circle {
        height: 40px;
    }
}

@media screen and (max-width: 1919px) {
    .info__num-circle {
        font-size: 22px;
    }
}

@media screen and (max-width: 1359px) {
    .info__num-circle {
        font-size: 22px;
    }
}

@media screen and (max-width: 1023px) {
    .info__num-circle {
        font-size: 22px;
    }
}

@media screen and (max-width: 639px) {
    .info__num-circle {
        font-size: 14px;
    }
}

@media screen and (max-width: 1919px) {
    .info__num-circle {
        margin-right: 20px;
    }
}

@media screen and (max-width: 1359px) {
    .info__num-circle {
        margin-right: 20px;
    }
}

@media screen and (max-width: 1023px) {
    .info__num-circle {
        margin-right: 20px;
    }
}

@media screen and (max-width: 639px) {
    .info__num-circle {
        margin-right: 15px;
    }
}

.info__content {
    color: white;
}

.info__content strong {
    font-size: 14px;
    font-weight: 700;
    display: block;
    margin-bottom: 5px;
}

@media screen and (max-width: 1919px) {
    .info__content strong {
        font-size: 14px;
    }
}

@media screen and (max-width: 1359px) {
    .info__content strong {
        font-size: 14px;
    }
}

@media screen and (max-width: 1023px) {
    .info__content strong {
        font-size: 14px;
    }
}

@media screen and (max-width: 639px) {
    .info__content strong {
        font-size: 14px;
    }
}

.info__content span {
    display: block;
    font-weight: 500;
}

.info__sum {
    font-size: 24px;
    margin-bottom: 18px;
    font-weight: 700;
    margin-top: 5px;
}

@media screen and (max-width: 1919px) {
    .info__sum {
        font-size: 24px;
    }
}

@media screen and (max-width: 1359px) {
    .info__sum {
        font-size: 24px;
    }
}

@media screen and (max-width: 1023px) {
    .info__sum {
        font-size: 24px;
    }
}

@media screen and (max-width: 639px) {
    .info__sum {
        font-size: 20px;
    }
}

@media screen and (max-width: 1919px) {
    .info__sum {
        margin-bottom: 18px;
    }
}

@media screen and (max-width: 1359px) {
    .info__sum {
        margin-bottom: 18px;
    }
}

@media screen and (max-width: 1023px) {
    .info__sum {
        margin-bottom: 18px;
    }
}

@media screen and (max-width: 639px) {
    .info__sum {
        margin-bottom: 7px;
    }
}

.info__exam-title {
    margin-top: 15px;
}

.info__exam span {
    font-weight: 500;
}

.info__exam strong {
    margin-bottom: 5px;
}

.info__price strong {
    font-weight: 500;
}

@media screen and (max-width: 639px) {
    .info__price .info__content {
        display: flex;
        justify-content: space-between;
    }
}

.about__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 1919px) {
    .about__grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 1359px) {
    .about__grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 1023px) {
    .about__grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 639px) {
    .about__grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

.about__grid-item strong {
    color: #a30118;
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
}

@media screen and (max-width: 1919px) {
    .about__grid-item strong {
        font-size: 18px;
    }
}

@media screen and (max-width: 1359px) {
    .about__grid-item strong {
        font-size: 18px;
    }
}

@media screen and (max-width: 1023px) {
    .about__grid-item strong {
        font-size: 14px;
    }
}

@media screen and (max-width: 639px) {
    .about__grid-item strong {
        font-size: 14px;
    }
}

.about__grid-item p {
    padding: 0;
    margin-bottom: 10px;
}

.about ul {
    padding: 0;
}

.about ul li {
    list-style: none;
    margin-bottom: 0;
}

.about__list strong {
    color: #a30118;
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
}

@media screen and (max-width: 1919px) {
    .about__list strong {
        font-size: 18px;
    }
}

@media screen and (max-width: 1359px) {
    .about__list strong {
        font-size: 18px;
    }
}

@media screen and (max-width: 1023px) {
    .about__list strong {
        font-size: 14px;
    }
}

@media screen and (max-width: 639px) {
    .about__list strong {
        font-size: 14px;
    }
}

.switcher {
    font-size: 16px;
    position: relative;
    padding: 30px 0;
    border-top: 1px solid #cecece;
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 1023px) {
    .switcher {
        display: block !important;
    }
}

.switcher__btn {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    top: 30px;
    background-color: #a30118;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 10px;
    transform: rotate(45deg);
    pointer-events: none;
}

.mobile-line {
    border-bottom: 1px solid #cecece;
    margin-bottom: 30px;
    display: none;
}

@media screen and (max-width: 1023px) {
    .mobile-line {
        display: block;
    }
}

.second-banner {
    padding-left: 80px;
    padding-right: 80px;
    color: white;
    /*background: url("../../images/4_nsau.png");*/
}

@media screen and (max-width: 1919px) {
    .second-banner {
        padding-left: 80px;
        padding-right: 80px;
    }
}

@media screen and (max-width: 1359px) {
    .second-banner {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media screen and (max-width: 1023px) {
    .second-banner {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media screen and (max-width: 639px) {
    .second-banner {
        padding-left: 20px;
        padding-right: 20px;
    }
}

/*.second-banner--1 {*/
    /*background: url("../../images/7_nsau.png");*/
/*}*/

.second-banner__item {
    height: 400px;
    display: flex;
    align-items: end;
}

@media screen and (max-width: 1919px) {
    .second-banner__item {
        height: 400px;
    }
}

@media screen and (max-width: 1359px) {
    .second-banner__item {
        height: 385px;
    }
}

@media screen and (max-width: 1023px) {
    .second-banner__item {
        height: 300px;
    }
}

@media screen and (max-width: 639px) {
    .second-banner__item {
        height: 200px;
    }
}

.second-banner__item span {
    bottom: 80px;
    position: relative;
}

@media screen and (max-width: 1919px) {
    .second-banner__item span {
        bottom: 80px;
    }
}

@media screen and (max-width: 1359px) {
    .second-banner__item span {
        bottom: 50px;
    }
}

@media screen and (max-width: 1023px) {
    .second-banner__item span {
        bottom: 30px;
    }
}

@media screen and (max-width: 639px) {
    .second-banner__item span {
        bottom: 30px;
    }
}

.second-banner__title {
    font-size: 28px;
    font-weight: 700;
}

@media screen and (max-width: 1919px) {
    .second-banner__title {
        font-size: 28px;
    }
}

@media screen and (max-width: 1359px) {
    .second-banner__title {
        font-size: 24px;
    }
}

@media screen and (max-width: 1023px) {
    .second-banner__title {
        font-size: 20px;
    }
}

@media screen and (max-width: 639px) {
    .second-banner__title {
        font-size: 18px;
    }
}

.preparation {
    background-color: rgba(198, 199, 199, 0.1);
    background-image: url("../../images/13_nsau.png");
    background-repeat: no-repeat;
}

.preparation__tabs {
    margin-top: 60px;
    border-top: 1px solid #e7e7e7;
}

@media screen and (max-width: 1919px) {
    .preparation__tabs {
        margin-top: 60px;
    }
}

@media screen and (max-width: 1359px) {
    .preparation__tabs {
        margin-top: 60px;
    }
}

@media screen and (max-width: 1023px) {
    .preparation__tabs {
        margin-top: 60px;
    }
}

@media screen and (max-width: 639px) {
    .preparation__tabs {
        margin-top: 40px;
    }
}

.preparation__tab {
    position: relative;
}

.preparation__tab strong {
    display: block;
    margin-bottom: 10px;
}

.preparation__tab-title {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 24px;
    padding: 40px 0;
    border-bottom: 1px solid #e7e7e7;
    cursor: pointer;
    padding-right: 70px;
}

@media screen and (max-width: 1919px) {
    .preparation__tab-title {
        font-size: 24px;
    }
}

@media screen and (max-width: 1359px) {
    .preparation__tab-title {
        font-size: 20px;
    }
}

@media screen and (max-width: 1023px) {
    .preparation__tab-title {
        font-size: 18px;
    }
}

@media screen and (max-width: 639px) {
    .preparation__tab-title {
        font-size: 16px;
    }
}

@media screen and (max-width: 1023px) {
    .preparation__tab-title {
        padding-right: 50px;
    }
}

.preparation__tab-title:hover {
    color: #a30118;
}

.preparation__tab-body {
    display: none;
}

.preparation__tab-close {
    width: 43px;
    height: 43px;
    border-radius: 50%;
    background-color: #a30118;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 10px;
    top: 30px;
    transform: rotate(45deg);
    pointer-events: none;
}

@media screen and (max-width: 1919px) {
    .preparation__tab-close {
        width: 43px;
    }
}

@media screen and (max-width: 1359px) {
    .preparation__tab-close {
        width: 43px;
    }
}

@media screen and (max-width: 1023px) {
    .preparation__tab-close {
        width: 28px;
    }
}

@media screen and (max-width: 639px) {
    .preparation__tab-close {
        width: 28px;
    }
}

@media screen and (max-width: 1919px) {
    .preparation__tab-close {
        height: 43px;
    }
}

@media screen and (max-width: 1359px) {
    .preparation__tab-close {
        height: 43px;
    }
}

@media screen and (max-width: 1023px) {
    .preparation__tab-close {
        height: 28px;
    }
}

@media screen and (max-width: 639px) {
    .preparation__tab-close {
        height: 28px;
    }
}

@media screen and (max-width: 1023px) {
    .preparation__tab-close svg {
        width: 10px;
    }
}

.preparation__tab-title.open + .preparation__tab-close {
    background-color: #c6c7c7;
    transform: rotate(0deg);
}

.practice {
    border-bottom: 1px solid #dbdbdb;
}

@media screen and (max-width: 1023px) {
    .practice {
        border-bottom: none;
    }
}

.practice p {
    padding: 0;
    font-size: 14px;
    line-height: 1.4;
}

.practice__title {
    font-weight: 700;
}

.practice__text {
    font-weight: bold;
    border-left: 7px solid #ffdeac;
    padding-left: 15px;
}

.practice__wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

@media screen and (max-width: 1919px) {
    .practice__wrap {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 1359px) {
    .practice__wrap {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 1023px) {
    .practice__wrap {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 639px) {
    .practice__wrap {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 1919px) {
    .practice__wrap {
        grid-column-gap: 30px;
    }
}

@media screen and (max-width: 1359px) {
    .practice__wrap {
        grid-column-gap: 30px;
    }
}

@media screen and (max-width: 1023px) {
    .practice__wrap {
        grid-column-gap: 30px;
    }
}

@media screen and (max-width: 639px) {
    .practice__wrap {
        grid-column-gap: 30px;
    }
}

@media screen and (max-width: 1919px) {
    .practice__wrap {
        grid-row-gap: 30px;
    }
}

@media screen and (max-width: 1359px) {
    .practice__wrap {
        grid-row-gap: 30px;
    }
}

@media screen and (max-width: 1023px) {
    .practice__wrap {
        grid-row-gap: 30px;
    }
}

@media screen and (max-width: 639px) {
    .practice__wrap {
        grid-row-gap: 30px;
    }
}

.practice__gallery {
    display: flex;
}

@media screen and (max-width: 1023px) {
    .practice__gallery {
        margin-bottom: 30px;
    }
}

.practice__img {
    height: 150px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #f4f2f2;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1919px) {
    .practice__img {
        height: 150px;
    }
}

@media screen and (max-width: 1359px) {
    .practice__img {
        height: 100px;
    }
}

@media screen and (max-width: 1023px) {
    .practice__img {
        height: 100px;
    }
}

@media screen and (max-width: 639px) {
    .practice__img {
        height: 80px;
    }
}

.content__gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

@media screen and (max-width: 1919px) {
    .content__gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1359px) {
    .content__gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1023px) {
    .content__gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 639px) {
    .content__gallery {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 1919px) {
    .content__gallery {
        grid-column-gap: 30px;
    }
}

@media screen and (max-width: 1359px) {
    .content__gallery {
        grid-column-gap: 20px;
    }
}

@media screen and (max-width: 1023px) {
    .content__gallery {
        grid-column-gap: 15px;
    }
}

@media screen and (max-width: 639px) {
    .content__gallery {
        grid-column-gap: 10px;
    }
}

@media screen and (max-width: 1919px) {
    .content__gallery {
        grid-row-gap: 30px;
    }
}

@media screen and (max-width: 1359px) {
    .content__gallery {
        grid-row-gap: 20px;
    }
}

@media screen and (max-width: 1023px) {
    .content__gallery {
        grid-row-gap: 15px;
    }
}

@media screen and (max-width: 639px) {
    .content__gallery {
        grid-row-gap: 10px;
    }
}

.content__gallery-item {
    height: 400px;
}

@media screen and (max-width: 1919px) {
    .content__gallery-item {
        height: 400px;
    }
}

@media screen and (max-width: 1359px) {
    .content__gallery-item {
        height: 250px;
    }
}

@media screen and (max-width: 1023px) {
    .content__gallery-item {
        height: 200px;
    }
}

@media screen and (max-width: 639px) {
    .content__gallery-item {
        height: 310px;
    }
}

.content__tabs-head {
    display: flex;
    flex-wrap: wrap;
}

.content__tabs-head-item {
    color: #cacaca;
    padding-bottom: 2px;
    border-bottom: 4px solid transparent;
    font-weight: bold;
    margin-right: 8px;
    margin-bottom: 8px;
    cursor: pointer;
}

.content__tabs-head-item.active {
    border-bottom: 4px solid #a30118;
    color: black;
}

.content__tabs-body-item {
    display: none;
}

.content__tabs-body-item:first-child {
    display: block;
}

.ancors {
    background-color: rgba(198, 199, 199, 0.1);
    background-image: url("../../images/14_nsau.png");
    background-repeat: no-repeat;
    background-position: right top;
}

.ancors__grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

@media screen and (max-width: 1919px) {
    .ancors__grid {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media screen and (max-width: 1359px) {
    .ancors__grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 1023px) {
    .ancors__grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 639px) {
    .ancors__grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 1919px) {
    .ancors__grid {
        grid-column-gap: 30px;
    }
}

@media screen and (max-width: 1359px) {
    .ancors__grid {
        grid-column-gap: 30px;
    }
}

@media screen and (max-width: 1023px) {
    .ancors__grid {
        grid-column-gap: 30px;
    }
}

@media screen and (max-width: 639px) {
    .ancors__grid {
        grid-column-gap: 30px;
    }
}

@media screen and (max-width: 1919px) {
    .ancors__grid {
        grid-row-gap: 30px;
    }
}

@media screen and (max-width: 1359px) {
    .ancors__grid {
        grid-row-gap: 30px;
    }
}

@media screen and (max-width: 1023px) {
    .ancors__grid {
        grid-row-gap: 30px;
    }
}

@media screen and (max-width: 639px) {
    .ancors__grid {
        grid-row-gap: 30px;
    }
}

.ancors__item {
    text-decoration: none !important;
}

.ancors__img {
    height: 200px;
    margin-bottom: 30px;
    position: relative;
}

@media screen and (max-width: 1919px) {
    .ancors__img {
        height: 200px;
    }
}

@media screen and (max-width: 1359px) {
    .ancors__img {
        height: 160px;
    }
}

@media screen and (max-width: 1023px) {
    .ancors__img {
        height: 170px;
    }
}

@media screen and (max-width: 639px) {
    .ancors__img {
        height: 125px;
    }
}

.ancors__img:before {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    background: rgba(163, 1, 24, 0.5);
    z-index: 1;
    opacity: 0;
}

.ancors__name {
    color: black;
}

.ancors__item:hover .ancors__name {
    color: #a30118;
}

.ancors__item:hover .ancors__img:before {
    opacity: 1;
}

.docs__block strong {
    display: block;
    margin-bottom: 10px;
}

.docs__wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 100px;
    grid-row-gap: 40px;
}

@media screen and (max-width: 1919px) {
    .docs__wrap {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 1359px) {
    .docs__wrap {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 1023px) {
    .docs__wrap {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 639px) {
    .docs__wrap {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 1919px) {
    .docs__wrap {
        grid-column-gap: 100px;
    }
}

@media screen and (max-width: 1359px) {
    .docs__wrap {
        grid-column-gap: 30px;
    }
}

@media screen and (max-width: 1023px) {
    .docs__wrap {
        grid-column-gap: 30px;
    }
}

@media screen and (max-width: 639px) {
    .docs__wrap {
        grid-column-gap: 30px;
    }
}

@media screen and (max-width: 1919px) {
    .docs__wrap {
        grid-row-gap: 40px;
    }
}

@media screen and (max-width: 1359px) {
    .docs__wrap {
        grid-row-gap: 40px;
    }
}

@media screen and (max-width: 1023px) {
    .docs__wrap {
        grid-row-gap: 40px;
    }
}

@media screen and (max-width: 639px) {
    .docs__wrap {
        grid-row-gap: 30px;
    }
}

.docs__list {
    border-top: 1px solid #e7e7e7;
}

.docs__item {
    padding: 15px 0px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e7e7e7;
}

.docs__item a {
    color: black;
}

.docs__item a:hover {
    color: #a30118;
    text-decoration: none;
}

.docs__item img {
    margin-right: 30px;
}

@media screen and (max-width: 1919px) {
    .docs__item img {
        margin-right: 30px;
    }
}

@media screen and (max-width: 1359px) {
    .docs__item img {
        margin-right: 30px;
    }
}

@media screen and (max-width: 1023px) {
    .docs__item img {
        margin-right: 20px;
    }
}

@media screen and (max-width: 639px) {
    .docs__item img {
        margin-right: 20px;
    }
}

.stage {
    position: fixed;
    height: 400px;
    width: 100px;
    background: white;
    left: 40px;
    top: 40px;
}

.progress {
    position: fixed;
    width: 220px;
    top: 150px;
    left: 35px;
    z-index: 20;
    padding: 0px 10px 0px 60px;
    display: none;
    height: auto;
    background-color: transparent;
    border: none;
    box-shadow: none;

}

@media screen and (max-width: 1365px) {
    .progress {
        left: 15px;
    }
}

@media screen and (max-width: 1023px) {
    .progress {
        display: none !important;
    }
}

.progress__ancors-wrap {
    position: relative;
    display: block;
    margin-bottom: 30px;
}

.progress__ancors-wrap:before {
    content: '';
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #382d2d;
    position: absolute;
    left: -36px;
    top: 5px;
    transition: all ease .5s;
}

.progress__ancors-wrap.done:before {
    background: #a30118;
}

.progress__ancors-wrap:last-child {
    margin-bottom: 0;
}

.progress__ancors-wrap a {
    display: block;
    color: black;
    text-decoration: none;
    font-size: 14px;
}

.progress__ancors-wrap a:hover {
    color: #a30118;
}

.progress__bar {
    width: 4px;
    height: 100%;
    background: #382d2d;
    position: absolute;
    left: 25px;
    top: 0;
}

.progress__bar-done {
    width: 4px;
    background: #a30118;
    position: absolute;
    left: 25px;
    top: 0;
}

html {
    scroll-behavior: smooth;
}
