/*добавление работ НИР*/
#nir_fieldset{
	width: 480px;
	float: left;
}

#nir_name {
	width: 378px;
}

#nir_data {
	margin-left: 31px;
	width: 100px;
}

#nir_author {
	margin-left: 24px;
	width: 200px;
}

#nir_sub_author
{
 margin-left: 8px;
 width: 200px;
}
/*--------------------*/

/*добавление работ ВР*/
#vr_fieldset_info{
    float: right; /* Обтекание по правому краю */
	width: 350px;
}

#vr_fieldset{
	width: 480px;
	float: left;
}

#vr_kind_act {
	width: 345px;
}

#vr_event_name {
	width: 286px;
}

#vr_place {
	margin-left: 30px;
	width: 286px;
}

#vr_data {
	margin-left: 10px;
	width: 135px;
}
/*--------------------*/
.kind_action {
	margin-top: 10px;
	margin-bottom: -12px;
	text-align: center;
	clear: left;
	}

	.source_img {
		width:100%;
	}

	.source_doc {
		width: 35px;
		height: 35px;
	}

	.nothing_message {
		text-align: center;
		margin-top: 30px;
		margin-bottom: 20px;
	}

	.bad_message {
		text-align: center;
		font-weight: 600;
		color: #9c0605;
	}

	.delete_cell {
		width:100%;
	}

	/*модальное окно для изображения*/
/*	img[tabindex="0"] {
  		cursor: zoom-in;
	}

	img[tabindex="0"]:focus {
	  position: fixed;
	  z-index: 20000;
	  top: 0;
	  left: 0;
	  bottom: 0;
	  right: 0;
	  width: auto;
	  height: auto;
	  max-width: 80%;
	  max-height: 80%;
	  margin: auto;
	  box-shadow: 0 0 20px #000, 0 0 0 1000px rgba(210,210,210,.4);
	}
	img[tabindex="0"]:focus ~ * {
	  cursor: default;
	}*/

	.source_img:hover .close_button{
		display: block;
	}

	.edit_nir {
	  display: none;
	  position: fixed;
	  z-index: 20000;
	  top: 0;
	  left: 0;
	  bottom: 0;
	  right: 0;
	  width: 500px;
	  height: 241px;
	  max-width: 80%;
	  max-height: 80%;
	  margin: auto;
	  background-color: white;
	  box-shadow: 0 0 20px #000, 0 0 0 1000px rgba(210,210,210,.4);
	  border-radius: 10px;
	}

	.edit_vr {
	  display: none;
	  position: fixed;
	  z-index: 20000;
	  top: 0;
	  left: 0;
	  bottom: 0;
	  right: 0;
	  width: 500px;
	  height: 241px;
	  max-width: 80%;
	  max-height: 80%;
	  margin: auto;
	  background-color: white;
	  box-shadow: 0 0 20px #000, 0 0 0 1000px rgba(210,210,210,.4);
	  border-radius: 10px;
	}
	
	#delete_blank {
		cursor: pointer;
	}

	#edit_blank {
		cursor: pointer;
	}

	#main_table {
		table-layout: fixed;
	}

	.chancel {
		font-weight: bold;
	height: 24px;
	padding: 0px 10px 4px 10px;
	margin: 3px 3px 1px 1px;
	color: #fff;
	
	background: #5b0302;
    background: -webkit-linear-gradient(top, bottom, #5b0302, #a83435);
    background: -moz-linear-gradient(top,  #5b0302,  #a83435);  
    background: -ms-linear-gradient(top,  #5b0302,  #a83435);  
    background: -o-linear-gradient(top, #5b0302, #a83435);
	background: linear-gradient(top, #5b0302, #a83435);
	border: none;
	
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	-khtml-border-radius: 5px; 
	border-radius: 5px;
	
	box-shadow: 1px -1px 1px 1px rgba(0, 0, 0, 0.7), 1px -3px 5px 1px rgba(255, 189, 193, 0.5) inset, 0px -1px 4px 2px rgba(59, 0, 4, 0.7) inset;
	-moz-box-shadow: 1px -1px 0px 1px rgba(0, 0, 0, 0.7), 0px -1px 4px 2px rgba(59, 0, 4, 0.7) inset, 1px -3px 6px 3px rgba(255, 189, 193, 0.7) inset;
    -webkit-box-shadow: 1px -1px 0px 1px rgba(0, 0, 0, 0.7), 0px -1px 4px 2px rgba(59, 0, 4, 0.7) inset, 1px -3px 9px 3px rgba(255, 189, 193, 0.6) inset;
    -sand-box-shadow: 1px -1px 0px 1px rgba(0, 0, 0, 0.7), 0px -1px 4px 2px rgba(59, 0, 4, 0.7) inset, 1px -3px 9px 3px rgba(255, 189, 193, 0.6) inset;

	}