.faculty{
    display: flex;
    align-items: center;
}
.faculty .group_button_form{
    display: flex;
    justify-content: space-evenly;
}
.fac-head{
    justify-content: space-between;
}
.form-group a {
    font-weight: bold;
    font-size: inherit;
    line-height: initial;
    margin-top: 3px;
    padding: 4px 10px;
    width: 100%;
    height: 100%;
}
