.nav-pills>li.active>a, 
.nav-pills>li.active>a:focus, 
.nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #aa0a1c;
}

.folder_content > a {
	background-color: #fffbf3;
}

.btn .btn-nsau {
	background-color: #aa0a1c;
}



.list-group-item-secondary {
	border-radius: 1px!important;
}

.list-group-item-nsau-red-button {
	background-color: #aa0a1c;
	border-width: 0px;
}
a.list-group-item-nsau-red-button {
	color: #ffffff;
}

a.list-group-item-nsau-red-button:hover {
	background-color: #bc1339;
	color: #ffffff;
}
a.list-group-item-nsau-red-button:focus {
	background-color: #aa0a1c;
	color: #ffffff;
}

.list-group-item-nsau-grey-button {
	background-color: #eeeeee;
}
a.list-group-item-nsau-grey-button {
	color: #555;
}

a.list-group-item-nsau-grey-button:hover {
	background-color: #d5d5d5;
	color: #555;
}
a.list-group-item-nsau-grey-button:focus {
	background-color: #d5d5d5;
	color: #555;
}



.without-bottom-border {
	border-radius: 1px; 
	border-bottom-width: 0px!important;
}

.nsau-files-form.input-group-addon {
	border-radius: 1px; 
	min-width:220px; 
	text-align:left;
}

select.form-control {
	max-width: 1024px;
}

div.btn-group>ul.multiselect-container>li {
	list-style: none;
}


/*Спросить как без хуйни с пикселями и придумать как без костылей*/
button.multiselect.dropdown-toggle.btn.btn-default {
	width: 316px;
}

button.multiselect.dropdown-toggle.btn.btn-default.without-bottom-border {
	border-radius: 1px; 
	border-bottom-width: 0px!important;
}


div.modal-header {
	background:  #aa0a1c;;
}

.under-input-tooltip.list-group-item:last-child {
	    margin-bottom: -30px;
	    margin-top: -10px;
}

div.progress {
	margin-bottom: -5px;
	margin-top: 5px;
	border-radius: 0px;
	height: 40px;
}


.contecst
{
    position: absolute;
    display: none;
    z-index: 99999;
}

.dropdown-menu {
    border-radius: 1px!important;
}
.dropdown-menu li {
	list-style: none;
}

.folder_create {
	position: absolute;
	padding-top: 10px;
	margin-right: -1px!important;
}

.folder_create input {
	width: 200px!important;
	height: 35px;
	right: -1px!important;
	float: right!important;
}

.file-form-upload-button {
	right: -125px;
	margin-top: 6px;
}

.file-form-cancel-button {
	right: -59px;
	margin-top: 6px;
}

textarea.attachment-moderate-comment {
	width: 100%;
	height: 120px;
}