#header #login_search fieldset div {
	background-position: -25px 0px;
}
#header #login_search fieldset div div {
	background-position: 0 0px;
}
#header #login_search #search_form fieldset div div {
	background-position: 0 -37px;
}
* html #header #login_search fieldset div {
	background: url("../images/input_left_bg.gif") left 1px no-repeat;
}
* html #header #login_search fieldset div div {
	background: url("../images/input_right_bg.gif") right 1px no-repeat;
}
* html #header #login_search #search_form fieldset div div {
	background: url("../images/input_right_bg1.gif") right 1px no-repeat;
}
*+html #news_annonse ul {
    padding-right: 0;
}
*+html #news_annonse ul li {
    padding-right: 0%;
}
*+html #news_annonse ul li .announce_title {
    margin-right: 0;
}
*+html #header #header_menu ul li em {
    margin-right: 4px;
}