		.izop .news_block li .news_cont {
   
    position: relative;
 
    padding-left: 130px!important;
}

.izop,.izop span,.izop .tiny_mce_news span,.izop em,.mceContentBody p span,.izop p span{
	

    font-family: Arial, Tahoma, FreeSans, sans-serif!important;
   
    font-size: 14px!important;
}
/*----------------------------------------------------------------------------*/
.left_cont .submenu {
	background: #ebebeb;
	padding: 13px 10px 30px 30px;
	margin: 0;
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px; 
	-khtml-border-radius: 4px; 
	border-radius: 4px;
	box-shadow: 10px 10px 10px 1px #CCCCCB;
	overflow: hidden;
}
	.left_cont .submenu .corner_TL,
	.left_cont .submenu .corner_TR,
	.left_cont .submenu .corner_BL,
	.left_cont .submenu .corner_BR {
		position: absolute;
		height: 5px;
		width: 5px;
		overflow: hidden;
		background: url("../images/shadow_urfak.gif") -6px -6px no-repeat;
	}
	.left_cont .submenu .corner_TL {
		top: 0;
		left: 0;
	}
	.left_cont .submenu .corner_TR{
		top: 0;
		right: 0;
		background: url("../images/shadow_urfak.gif") 0px -6px no-repeat;
	}
	.left_cont .submenu .corner_BL{
		bottom: 0;
		left: 0;
		background: url("../images/shadow_urfak.gif") -6px 0px no-repeat;
	}
	.left_cont .submenu .corner_BR {
		bottom: 0;
		right: 0;
		background: url("../images/shadow_urfak.gif") 0px 0px no-repeat;
	}
	.left_cont .submenu ul {
		padding: 0;
	}
		.left_cont .submenu li {
			float: none;
			width: auto;
			/*height: 20px;*/
			line-height: 17px;
			list-style: none;
			padding-right: 0px;
			color: #c7953a;
			background: none;
		}
			.left_cont .submenu ul ul {
				padding-left: 16px;
			}
				.left_cont .submenu li li {
					float: none;
					width: auto;
					list-style: disc;
				}
			.left_cont .submenu li a {
				position: relative;
				line-height: normal;
				
				overflow: hidden;
				padding-right: 0px;
				display: inline; 
				width: auto;
				height: auto;
				color: #c7953a;
			}
					.left_cont .submenu li li a {
						font-weight: normal;
						color: #010101;
					}
				.left_cont .submenu li a span {
					position: relative;
					width: auto;
					overflow: hidden;
					white-space: normal;
					text-overflow: clip; /* IE, Chrome*/
					-o-text-overflow: clip; /* Opera */
					-webkit-text-overflow: clip;
					padding: 0px;
					margin: 0;
					display:inline;
					float: none;
				}
				.left_cont .submenu li a em {
					display: none;
				}
			.left_cont .submenu li a:hover {
				overflow: visible;
				background: none;
				z-index: 50;
				
				-moz-border-radius: 0px; 
				-webkit-border-radius: 0px; 
				-khtml-border-radius: 0px; 
				border-radius: 0px;
			}
			.left_cont .submenu li a:hover span {
				background: none;
				overflow: visible;
				width: auto;
				white-space: normal;
				line-height: normal;
				padding: 0px;
				text-decoration: underline;
				
				/*border: 1px #c7c7c7 solid;*/
				-moz-border-radius: 0px; 
				-webkit-border-radius: 0px; 
				-khtml-border-radius: 0px; 
				border-radius: 0px;
			}
	#page_title {
	position: absolute;
	top: 5px;
	left: 0;
	font-size: 24px;
	color: #da972f;
	width: 100%;
	text-transform: uppercase;
	text-align: center;
	z-index: 10;
}
	#page_title div {
		margin: 0 220px 0 290px;
	}
	.izop .header-block{
		/*margin-bottom: 37px;*/
	}
	.izop #header_menu {
	width: auto;
	/*margin-right: 80px;*/
	background: #e4c4a4 url("../images/line_left_izop_1.png") left top no-repeat;
}
	.izop #header_menu ul {
		background: none;
		padding: 0 20px 10px 20px;
	}
	.izop #header_menu #menu_left_bg {
		width: 425px;
    	background: url(../images/line_left_izop_1.png) right top no-repeat;
	    z-index: 0;
	    -webkit-transform: rotate(180deg);
	    -moz-transform: rotate(180deg);
	    -ms-transform: rotate(180deg);
	    -o-transform: rotate(180deg);
	    transform: rotate(180deg);
	}
	.izop #header_menu #gray_line {
		position: absolute;
		height: 22px;
		width: 100%;
		top: -26px;
		left: 0;
		overflow: hidden;
		background: #c5c6c6 url("../images/gray_line_bg.jpg") top left no-repeat;
	}
		.izop #header_menu #gray_line div {
			position: relative;
			height: 22px;
			width: 10px;
			float: right;
			background: url("../images/gray_line_bg.jpg") bottom left no-repeat;
		}
#logo_izop {
	position: absolute;
	top: -58px;
	right: -145px;
	width: 142px;
	height: 112px;
	background: url("../images/logo_izop.png") no-repeat;
}
.news_block .news_block_title a{
color:#042d4b;	
	
	
}
.left_cont .submenu ul ul ul{
padding-left: 30px;
}
h1{color: #010101;}
.news_block .news_title{font-size: 14px;
}
.news_block .news_title a {color:#c79439;	}
.news_block {
padding: 0 25px 11px 0;}
.news_block .news_img { width: 150px; /*height: auto;*/  }
.news_block .news_img img, .news_block .news_img a {
    display: block;
    text-decoration: none;
    /*width: auto;*/
}

.new_izop{list-style: none;
padding: 0px 0px 9px 15px;}
.new_izop li{list-style: none;
line-height: 18px;}
.new_izop li a{color:#c7953a;}
#header #login_search form a{#c7953a;}

.subject_item .department_name { display: none; margin-left: 10%;} 

.subject_item:hover .department_name { display: inline; color: #777777; }

.subject_item .menu { display: none; }
.subject_item:hover .menu { display: inline; }  

#specialities_name { color: #9C0605; margin-bottom: 1ex; font-weight: 700; margin-top: 1ex; font-size: larger; }

#eyes_icon {
	position: absolute;
	right: -5px;
	top: -5px;
	height: 33px;
	width: 30px;
}



h1, h2, h3, h4, h5, h6{
padding: 12px 0 6px 0!important; 

}

h1{
font-size: 20px!important; 
color: #9c0605!important;
}

h2{
font-size: 18px!important; 
}

h3{
font-size: 16px!important; 

}
h4{
font-size: 14px!important; 
}
h5{
font-size: 12px!important; 

}
h6{
font-size: 10px!important; 
color: #6d6d6d!important;
}