
.izop #header #login_search{padding-bottom: 73px;}

/*----------------------------------------------------------------------------*/
.left_cont .submenu {
	background: #ebebeb;
	padding: 13px 10px 30px 30px;
	margin: 0;
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px; 
	-khtml-border-radius: 4px; 
	border-radius: 4px;
	box-shadow: 10px 10px 10px 1px #CCCCCB;
	overflow: hidden;
}
	.left_cont .submenu .corner_TL,
	.left_cont .submenu .corner_TR,
	.left_cont .submenu .corner_BL,
	.left_cont .submenu .corner_BR {
		position: absolute;
		height: 5px;
		width: 5px;
		overflow: hidden;
		background: url("../images/shadow_urfak.gif") -6px -6px no-repeat;
	}
	.left_cont .submenu .corner_TL {
		top: 0;
		left: 0;
	}
	.left_cont .submenu .corner_TR{
		top: 0;
		right: 0;
		background: url("../images/shadow_urfak.gif") 0px -6px no-repeat;
	}
	.left_cont .submenu .corner_BL{
		bottom: 0;
		left: 0;
		background: url("../images/shadow_urfak.gif") -6px 0px no-repeat;
	}
	.left_cont .submenu .corner_BR {
		bottom: 0;
		right: 0;
		background: url("../images/shadow_urfak.gif") 0px 0px no-repeat;
	}
	.left_cont .submenu ul {
		padding: 0;
	}
		.left_cont .submenu li {
			float: none;
			width: auto;
			/*height: 20px;*/
			line-height: 17px;
			list-style: none;
			padding-right: 0px;
			color: #c7953a;
			background: none;
		}
			.left_cont .submenu ul ul {
				padding-left: 16px;
			}
				.left_cont .submenu li li {
					float: none;
					width: auto;
					list-style: disc;
				}
			.left_cont .submenu li a {
				position: relative;
				line-height: normal;
				
				overflow: hidden;
				padding-right: 0px;
				display: inline; 
				width: auto;
				height: auto;
				color: #c7953a;
			}
					.left_cont .submenu li li a {
						font-weight: normal;
						color: #010101;
					}
				.left_cont .submenu li a span {
					position: relative;
					width: auto;
					overflow: hidden;
					white-space: normal;
					text-overflow: clip; /* IE, Chrome*/
					-o-text-overflow: clip; /* Opera */
					-webkit-text-overflow: clip;
					padding: 0px;
					margin: 0;
					display:inline;
					float: none;
				}
				.left_cont .submenu li a em {
					display: none;
				}
			.left_cont .submenu li a:hover {
				overflow: visible;
				background: none;
				z-index: 50;
				
				-moz-border-radius: 0px; 
				-webkit-border-radius: 0px; 
				-khtml-border-radius: 0px; 
				border-radius: 0px;
			}
			.left_cont .submenu li a:hover span {
				background: none;
				overflow: visible;
				width: auto;
				white-space: normal;
				line-height: normal;
				padding: 0px;
				text-decoration: underline;
				
				/*border: 1px #c7c7c7 solid;*/
				-moz-border-radius: 0px; 
				-webkit-border-radius: 0px; 
				-khtml-border-radius: 0px; 
				border-radius: 0px;
			}
			#page_title {
	position: absolute;
	top: 35px;
	left: 0;
	font-size: 24px;
	color: #da972f;
	width: 100%;
	text-transform: uppercase;
	text-align: center;
	z-index: 10;
}
	#page_title div {
		margin: 0 220px 0 290px;
	}
	#header #header_menu {
	width: auto;
	margin-right: 80px;
	background: #e4c4a4 url("../images/line_left_izop_1.png") left top no-repeat;
}
	#header #header_menu ul {
		background: none;
		padding: 0 20px 10px 20px;
	}
	#header #header_menu #menu_left_bg {
		width: 455px;
		background: url("../images/line_right_izop.png") no-repeat;
	}
	#header #header_menu #gray_line {
		position: absolute;
		height: 22px;
		width: 100%;
		top: -26px;
		left: 0;
		overflow: hidden;
		background: #c5c6c6 url("../images/gray_line_bg.jpg") top left no-repeat;
	}
		#header #header_menu #gray_line div {
			position: relative;
			height: 22px;
			width: 10px;
			float: right;
			background: url("../images/gray_line_bg.jpg") bottom left no-repeat;
		}
#logo_izop {
	position: absolute;
	top: -58px;
	right: -145px;
	width: 142px;
	height: 112px;
	background: url("../images/logo_izop.png") no-repeat;
}
.news_block .news_block_title a{
color:#042d4b;	
	
	
}
.left_cont .submenu ul ul ul{
padding-left: 30px;
}
h1{color: #010101;}
.news_block .news_title{font-size: 14px;
}
.news_block .news_title a {color:#c79439;	}
.news_block {
padding: 0 25px 11px 0;}

.new_izop{list-style: none;
padding: 0px 0px 9px 15px;}
.new_izop li{list-style: none;
line-height: 18px;}
.new_izop li a{color:#c7953a;}
#header #login_search form a{#c7953a;}