#subject_select {border: 1px inset #F0F0F0; height: 224px; overflow-x: hidden; overflow-y: auto; padding: 1px 0;}

#subject_select li, 
#subject_select dt, 
#subject_select dd {
  cursor: default;
  line-height: 16px;
  overflow: hidden;
  white-space: nowrap;
}

#subject_select dt {font-style: italic; font-weight: bold;}

#subject_select dd {cursor: default;line-height: 16px;overflow: hidden;white-space: nowrap;-moz-user-select: none;min-height: 0; padding: 0 0 0 20px;}

#subject_select dd.selected {background: none repeat scroll 0 0 #3399FF;
color: #FFFFFF;}

#selected_subjects li em {
  background: url("../images/delete.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  cursor: pointer;
  display: inline-block;
  height: 16px;
  margin: 0 0 0 5px;
  vertical-align: bottom;
  width: 16px;
}

.select_long {
  width: 500px;
}