/*--------------------100% height--------------------*/
html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
}

#nofooter {
    min-height: 100%;
	min-width: 1000px;
    margin-bottom: -170px;
    position: relative;
    overflow: hidden;
}

* html #nofooter {
    height: 100%;
    overflow: visible;
    overflow-x: hidden;
}

#footer-pusher {
    height: 170px;
    clear: both;
}

#footer {
	min-width: 1000px;
    height: 170px;
}
/*---------------------min-width---------------------*/
* html .iehlimiter1 {
    padding-left: 1000px;
    z-index: -1;
}

* html .iehlimiter2 {
    height: 0;
}

* html .iehlimiter3 {
    position: relative;
    height: 0;
    margin-left: -1000px;
}
/*---------------------------------------------------*/

/*---------------------------------------------------*/
body {
    font-family: Consolas, Arial, Tahoma, FreeSans, sans-serif;
    color: #000;
    font-size: 15px;
	background: #bcd721 url("../images/landscape/pattern.jpg") repeat-y;
}

a img {
    border: none;
    
    
}

h1, h2, h3, h4, h5 {
    padding: 0;
    margin: 0;
    font-weight: normal;
    font-family: 'Courier New', Arial, Georgia,'Times New Roman', Times, serif;
}

h1 {font-size: 24px; font-weight: bold;}
h2 {font-size: 19px;}
h3 {font-size: 17px;}
h4 {font-size: 14px;}
h5 {font-size: 12pt;}

p {
    margin: 0;
	padding: 10px 0;
	text-indent: 15px;
	line-height: 17px;
}

form {
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a {
	font-family: 'Courier New';
    color: #030303;
    text-decoration: none;
    /*white-space: pre;*/
    font-weight: normal;
}
a:hover {
    color: #030303;
	text-decoration: underline;
}
/*----------------------------------------------------------------------------*/
#nofooter {
	z-index: 6;
}
#nofooter #nofooter_bg {
	position: absolute;
	min-width: 618px;
	top: 38px;
	bottom: 170px;
	right: 185px;
	left: 197px;
	background: #fff;
	/*z-index: 10;*/
}
#nofooter #nofooter_bg #left_bg {
	/*position: relative;*/
	width: 703px;
	height: 100%;
	/*padding-bottom: 125px;*/
	margin-left: -74px;
	margin-right: -320px;
	float: left;
}
#nofooter #nofooter_bg #left_bg #left_top_bg {
	position: absolute;
	top: 0px;
	width: 74px;
	height: 71px;
	background: url("../images/landscape/round_tl.png") no-repeat;
	z-index: 5;
}
#nofooter #nofooter_bg #left_bg #left_cn_bg {
	position: absolute;
	width: 74px;
	top: 71px;
	bottom: 153px;
	/*background: #fff;*/
	height: 100%;
	overflow: hidden;
}
#nofooter #nofooter_bg #left_bg #left_cn_bg div {
	position: relative;
	width: 74px;
	bottom: 224px;
	background: #fff;
	height: 100%;
}
#nofooter #nofooter_bg #left_bg #left_bottom_bg {
	position: absolute;
	bottom: -125px;
	width: 703px;
	height: 318px;
	background: url("../images/landscape/round_bl1.png") bottom left no-repeat;
}
#nofooter #nofooter_bg #left_bg #left_bottom_bg div {
	position: relative;
	width: 703px;
	height: 318px;
	background: url("../images/landscape/round_bl.png") no-repeat;
	z-index: 5;
}
#nofooter #nofooter_bg #right_bg {
	/*position: relative;*/
	width: 74px;
	height: 100%;
	/*padding-bottom: 125px;*/
	margin-right: -74px;
	float: right;
}
#nofooter #nofooter_bg #right_bg #right_top_bg {
	position: absolute;
	top: 0px;
	right: -74px;
	width: 75px;
	height: 74px;
	background: url("../images/landscape/round_tr.png") no-repeat;
}
#nofooter #nofooter_bg #right_bg #right_cn_bg {
	position: absolute;
	width: 74px;
	top: 74px;
	bottom: -124px;
	/*background: #fff;*/
	height: 100%;
	z-index: 2;
	overflow: hidden;
}
#nofooter #nofooter_bg #right_bg #right_cn_bg div {
	position: relative;
	width: 74px;
	height: 100%;
	bottom: -124px;
	background: #fff;
}
#nofooter #nofooter_bg #right_bg #right_bottom_bg {
	position: absolute;
	bottom: -124px;
	width: 394px;
	height: 393px;
	right: -160px;
	background: url("../images/landscape/round_br.png") no-repeat;
	z-index: 10;
}
.thousand-wrapper {
	position: relative;
    margin: 0 111px 0 125px;
}
/*=============================Header=========================================*/
#header {
    position: relative;
    height: 349px;
	padding-top: 38px;
	/*z-index: 15;*/
	margin: 0 70px 0 70px;
}
#header #header_bg1 {
	position: absolute;
	top: 169px;
	width: 100%;
	height: 218px;
	background: url("../images/landscape/header_bg1.png") center top no-repeat;
	margin-left: -33px;
	padding: 0 0px 0 103px;
	z-index: 2;
}
#header #header_bg2 {
	position: absolute;
	top: 38px;
	width: 100%;
	height: 308px;
	background: url("../images/landscape/header_bg2.png") center top no-repeat;
	margin-left: 20px;
	padding: 0 0px 0 103px;
	z-index: 3;
}
#header #logo {
    position: absolute;
    height: 156px;
    width: 259px;
    top: 56px;
	left: -61px;
	z-index: 15;
}
#header #logo_text {
    position: absolute;
    width: 215px;
    top: 110px;
	left: -5px;
	z-index: 3;
}
#header #logo_text a,
#header #logo_text span {
	font-size: 32px;
}
#header #logo_text a span,
#header #logo_text span span {
	position: absolute;
	height: 100%;
	width: 100%;
	background: url("../images/landscape/w.gif") repeat;
}
#header #logo a,
#header #logo span {
	display: block;
	height: 156px;
    width: 259px;
	background: url("../images/landscape/logo.png") no-repeat;
}
#header p {
	position: relative;
	color: #434242;
	font-weight: bold;
	padding-top: 28px;
	text-align: center;
	z-index: 13;
}
/*---------------------------------*/
#header #header_menu,
#header #header_sub_menu {
	position: relative;
	/*position: absolute;
	left: 50%;
	top: 162px;*/
	text-align: center;
	z-index: 12;
}
#header #header_menu {
	background: url("../images/landscape/header_menu_bg.png") center top no-repeat;
}
#header #header_sub_menu {
	background: url("../images/landscape/header_submenu_bg.png") center top no-repeat;
}
#header #header_menu div,
#header #header_sub_menu div {
	display: table;
	margin: 0 auto;
	/*border-bottom: 1px #2f2e2d solid;*/
	padding: 0 12px 2px 15px;
}
#header #header_sub_menu div {
	padding: 0 9px 1px 12px;
}
#header ul {
	position: relative;
	padding: 0;
	/*width: 658px;*/
	/*margin: 0 auto;
	margin-left: -50%;*/
	overflow: hidden;
	clear: both;
}
#header #header_menu ul li,
#header #header_sub_menu ul li {
	font-size: 15px;/*20px;*/
	color: #030303;
	/*float: left;*/
	/*white-space: nowrap;
	display:-moz-inline-stack; 
	display:inline-block; 
	zoom:1; 
	*display:inline;*/
	display: inline;
	padding: 0px 3px 0px 0px;
	line-height: 38px;
}
#header #header_menu ul li a.active,
#header #header_sub_menu ul li a.active {
	text-decoration: underline;
}
#header #header_sub_menu ul li {
	line-height: 33px;
}
#header #header_menu ul li .list-item-before,
#header #header_sub_menu ul li .list-item-before {
	padding-right: 6px;
}
#header #header_menu ul li:before,
#header #header_sub_menu ul li:before {
	content: "/";
	padding-right: 5px;
}
#header #header_menu ul li:first-child:before,
#header #header_sub_menu ul li:first-child:before {
	display: none;
}
#header #header_menu ul li:first-child .list-item-before,
#header #header_sub_menu ul li:first-child .list-item-before {
	display: none;
}
#header ul li a:hover {
	color: #231f1f;
}
/*------------------------------------contact block---------------------------*/
#header #contact {
	position: absolute;
	right: -122px;
	top: 109px;
	width: 275px;
	min-height: 215px;
}
#header #contact #contact_top_bg {
	position: relative;
	width: 274px;
	height: 43px;
	background: url("../images/landscape/contact_top_bg.png") no-repeat;
	z-index: 2;
}
#header #contact #contact_cn_bg {
	width: 274px;
	background: url("../images/landscape/contact_cn_bg.png") repeat-y;
}
#header #contact #contact_bottom_bg {
	position: relative;
	width: 274px;
	height: 49px;
	background: url("../images/landscape/contact_bottom_bg.png") no-repeat;
	z-index: 2;
}
#header #contact #contact_cn_bg #contact_cont {
	position: relative;
	width: 250px;
	float: left;
	z-index: 5;
	padding: 0 20px 0 10px;
	margin: -22px 0 -7px 0;
}
#header #contact p {
	font-family: 'Courier New';
	text-align: left;
	text-indent: 0px;
	padding: 0;
}
#header #contact p a {
	color: #030303;
}
#header #contact a#shem {
	color: #b5ce2c;
	text-align: center;
	display: block;
	margin: 0 auto;
	text-decoration: underline;
}
#header #contact a#shem:hover {
	text-decoration: none;
}
/*=============================Content========================================*/
#content {
    position: relative;
	padding: 0 125px 0 270px;
	z-index: 14;
}
#content #dup_navi {
    position: relative;
	text-align: center;
	padding-right: 80px;
}
#content .content {
    position: relative;
}
#content .content h1 {
	text-align: center;
}
/*--------------------------left menu-----------------------------------------*/
#content #left_menu {
	position: absolute;
	top: -268px;
	left: -117px;
}
#content #left_menu #top_shadow {
	width: 331px;
	height: 60px;
	background: url("../images/landscape/left_menu_shadow_top.png") no-repeat;
}
#content #left_menu #bottom_shadow {
	width: 331px;
	height: 67px;
	background: url("../images/landscape/left_menu_shadow_bottom.png") no-repeat;
}
#content #left_menu #cn_shadow {
	position: relative;
	width: 227px;
	min-height: 190px;
	padding: 63px 52px 25px 52px;
	background: url("../images/landscape/left_menu_shadow_cn.png") repeat-y;
}
#content #left_menu #cn_shadow #left_menu_top_bg {
	position: absolute;
	top: -14px;
	left: 27px;
	width: 152px;
	height: 309px;
	background: url("../images/landscape/left_menu_top_bg.jpg") no-repeat;
}
#content #left_menu #cn_shadow #left_menu_bottom_bg {
	position: absolute;
	bottom: -19px;
	right: 35px;
	width: 235px;
	height: 262px;
	background: url("../images/landscape/left_menu_bottom_bg.gif") no-repeat;
}
#content #left_menu #cn_shadow #ugolok {
	position: absolute;
	top: 6px;
	right: -236px;
	width: 256px;
	height: 242px;
	background: url("../images/landscape/left_menu_ugol.png") no-repeat;
}
#content #left_menu #cn_shadow #left_menu_cont {
	position: relative;
}
#content #left_menu #cn_shadow #left_menu_cont  {
	position: relative;
}
#content #left_menu #cn_shadow #left_menu_cont li {
	line-height: 15px;
	padding-top: 11px;
}
#content #left_menu #cn_shadow #left_menu_cont li a {
	font-size: 14px;
}
#content #left_menu #cn_shadow #left_menu_cont li a.active {
	text-decoration: underline;
}

/*=============================Footer=========================================*/
#footer {
    position: relative;
}
#footer .thousand-wrapper {
	margin-left: 450px;
    height: 124px;
	background: #fff;
}
#footer .thousand-wrapper #footer_cont {
	position: relative;
	font-size: 12px;
	padding-top: 75px;
	z-index: 10;
}
/*---------------------------------------------------*/
/*==============================Hack==========================================*/
/*---Opera---*/
@media all and (-webkit-min-device-pixel-ratio:10000),
not all and (-webkit-min-device-pixel-ratio:0) {
    
}
/*FireFox*/
@-moz-document url-prefix() {
    
}



/*===============================Gallery=====================================*/

.gallery-item
{
    float: left;
    /*margin-right: 1%;*/
    width: 299px;
    height: 205px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    text-align: center;
	padding: 9px 9px 9px 10px;
}
.album_title{
	background: rgba(0, 0, 0, 0.5);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#7f000000', endColorstr='#7f000000')"; /* IE */
    color: white;
  	position: absolute;
  	top: 0px;
  	
	width: 299px;
  	
	margin-top: 173px;
    text-align: left;

  	
	line-height: 14px;
  	
	white-space: nowrap;
	height: 32px;
  	
	/* display: inline-block; */
	z-index: 1000;
	text-overflow: ellipsis;
}
.album_title div{
	font-size: 12px;
	font-family: Tahoma;
	font-weight: bold;
	margin: 7px;
	max-width: 208px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.item_content{
	width: 299px;
    height: 205px;
    overflow: hidden;
    position: relative;
    
	/* text-align: left; */
	z-index: 1;
	background: #c4c4c4;
}
.item_content_sub{
	width: 130px;
    height: 88px;
    overflow: hidden;
    position: relative;
    
	text-align: center;
	z-index: 1;
	background: #F1F1F1;
}
	.item_content a img{
	height: 205px;
    text-align: center;}
	
.item_content_sub a img{
	
    text-align: center!important;}
	
h2, .clear
{
    clear: both;
}
.sum_photo{
	display: block;
	height: 10px;
	background: url("../images/landscape/camera.png") no-repeat;
  padding-left: 14px;
  font-weight: bold;
  float:right;
  position: relative;
bottom: 23px;
line-height: 10px;
}
/**
* @file: highslide.css 
* @version: 4.1.9
*/
.highslide-container div {
	font-family: Verdana, Helvetica;
	font-size: 10pt;
}
.highslide-container table {
	background: none;
}
.highslide {
	outline: none;
	text-decoration: none;
}
.highslide img {
	border: none;
}
.highslide:hover img {
	border-color: gray;
}
.highslide-active-anchor img {
	visibility: hidden;
}
.highslide-gallery .highslide-active-anchor img {
	border-color: black;
	visibility: visible;
	cursor: default;
}
.highslide-image {
	border-width: 2px;
	border-style: solid;
	border-color: white;
}
.highslide-wrapper, .highslide-outline {
	background: white;
}
.glossy-dark {
	background: #111;
}

.highslide-image-blur {
}
.highslide-number {
	font-weight: bold;
	color: gray;
	font-size: .9em;
}
.highslide-caption {
	display: none;
	font-size: 1em;
	padding: 5px;
	/*background: white;*/
}
.highslide-heading {
	display: none;
	font-weight: bold;
	margin: 0.4em;
}
.highslide-dimming {
	/*position: absolute;*/
	background: black;
}
a.highslide-full-expand {
   
   display: none;

}
.highslide-loading {
	display: block;
	color: black;
	font-size: 9px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	padding: 3px;
	border: 1px solid white;
	background-color: white;
	padding-left: 22px;
	background-image: url(http://www.03www.ru/highslide/graphics/loader.white.gif);
	background-repeat: no-repeat;
	background-position: 3px 1px;
}
a.highslide-credits,
a.highslide-credits i {
display: none!important;
}
a.highslide-credits:hover,
a.highslide-credits:hover i {
	
	display: none!important;
}
.highslide-move, .highslide-move * {
	cursor: move;
}

.highslide-viewport {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: none;
	left: 0;
	top: 0;
}
.highslide-overlay {
	display: none;
}
.hidden-container {
	display: none;
}
/* Example of a semitransparent, offset closebutton */
.closebutton {
	position: relative;
	top: -15px;
	left: 15px;
	width: 30px;
	height: 30px;
	cursor: pointer;
	background: url(http://www.03www.ru/highslide/graphics/close.png);
	/* NOTE! For IE6, you also need to update the highslide-ie6.css file. */
}

/*****************************************************************************/
/* Thumbnail boxes for the galleries.                                        */
/* Remove these if you are not using a gallery.                              */
/*****************************************************************************/
.highslide-gallery ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.highslide-gallery ul li {
	display: block;
	position: relative;
	float: left;
	width: 106px;
	height: 106px;
	border: 1px solid silver;
	background: #ededed;
	margin: 2px;
	line-height: 0;
	overflow: hidden;
}
.highslide-gallery ul a {
	position: absolute;
	top: 50%;
	left: 50%;
}
.highslide-gallery ul img {
 	position: relative;
	top: -50%;
	left: -50%;
}
html>/**/body .highslide-gallery ul li {
	display: table;
	text-align: center;
}
html>/**/body .highslide-gallery ul li {
	text-align: center;
}
html>/**/body .highslide-gallery ul a {
	position: static;
	display: table-cell;
	vertical-align: middle;
}
html>/**/body .highslide-gallery ul img {
	position: static;
}

/*****************************************************************************/
/* Controls for the galleries.											     */
/* Remove these if you are not using a gallery							     */
/*****************************************************************************/
.highslide-controls {
	width: 195px;
	height: 40px;
	background: url(http://www.03www.ru/highslide/graphics/controlbar-white.gif) 0 -90px no-repeat;
	margin: 20px 15px 10px 0;
}
.highslide-controls ul {
	position: relative;
	left: 15px;
	height: 40px;
	list-style: none;
	margin: 0;
	padding: 0;
	background: url(http://www.03www.ru/highslide/graphics/controlbar-white.gif) right -90px no-repeat;

}
.highslide-controls li {
	float: left;
	padding: 5px 0;
	margin:0;
	list-style: none;
}
.highslide-controls a {
	background-image: url(http://www.03www.ru/highslide/graphics/controlbar-white.gif);
	display: block;
	float: left;
	height: 30px;
	width: 30px;
	outline: none;
}
.highslide-controls a.disabled {
	cursor: default;
}
.highslide-controls a.disabled span {
	cursor: default;
}
.highslide-controls a span {
	/* hide the text for these graphic buttons */
	display: none;
	cursor: pointer;
}


/* The CSS sprites for the controlbar - see http://www.google.com/search?q=css+sprites */
.highslide-controls .highslide-previous a {
	background-position: 0 0;
}
.highslide-controls .highslide-previous a:hover {
	background-position: 0 -30px;
}
.highslide-controls .highslide-previous a.disabled {
	background-position: 0 -60px !important;
}
.highslide-controls .highslide-play a {
	background-position: -30px 0;
}
.highslide-controls .highslide-play a:hover {
	background-position: -30px -30px;
}
.highslide-controls .highslide-play a.disabled {
	background-position: -30px -60px !important;
}
.highslide-controls .highslide-pause a {
	background-position: -60px 0;
}
.highslide-controls .highslide-pause a:hover {
	background-position: -60px -30px;
}
.highslide-controls .highslide-next a {
	background-position: -90px 0;
}
.highslide-controls .highslide-next a:hover {
	background-position: -90px -30px;
}
.highslide-controls .highslide-next a.disabled {
	background-position: -90px -60px !important;
}
.highslide-controls .highslide-move a {
	background-position: -120px 0;
}
.highslide-controls .highslide-move a:hover {
	background-position: -120px -30px;
}
.highslide-controls .highslide-full-expand a {
	background-position: -150px 0;
}
.highslide-controls .highslide-full-expand a:hover {
	background-position: -150px -30px;
}
.highslide-controls .highslide-full-expand a.disabled {
	background-position: -150px -60px !important;
}
.highslide-controls .highslide-close a {
	background-position: -180px 0;
}
.highslide-controls .highslide-close a:hover {
	background-position: -180px -30px;
}

/*****************************************************************************/
/* Styles for the HTML popups											     */
/* Remove these if you are not using Highslide HTML						     */
/*****************************************************************************/
.highslide-maincontent {
	display: none;
}
.highslide-html {
	background-color: white;
}
.highslide-html-content {
	display: none;
	width: 400px;
	padding: 0 5px 5px 5px;
}
.highslide-header {
	padding-bottom: 5px;
}
.highslide-header ul {
	margin: 0;
	padding: 0;
	text-align: right;
}
.highslide-header ul li {
	display: inline;
	padding-left: 1em;
}
.highslide-header ul li.highslide-previous, .highslide-header ul li.highslide-next {
	display: none;
}
.highslide-header a {
	font-weight: bold;
	color: gray;
	text-transform: uppercase;
	text-decoration: none;
}
.highslide-header a:hover {
	color: black;
}
.highslide-header .highslide-move a {
	cursor: move;
}
.highslide-footer {
	height: 16px;
}
.highslide-footer .highslide-resize {
	display: block;
	float: right;
	margin-top: 5px;
	height: 11px;
	width: 11px;
	background: url(http://www.03www.ru/highslide/graphics/resize.gif) no-repeat;
}
.highslide-footer .highslide-resize span {
	display: none;
}
.highslide-body {
}
.highslide-resize {
	cursor: nw-resize;
}

/*****************************************************************************/
/* Styles for the Individual wrapper class names.							 */
/* See www.highslide.com/ref/hs.wrapperClassName							 */
/* You can safely remove the class name themes you don't use				 */
/*****************************************************************************/

/* hs.wrapperClassName = 'draggable-header' */
.draggable-header .highslide-header {
	height: 18px;
	border-bottom: 1px solid #dddddd;
}
.draggable-header .highslide-heading {
	position: absolute;
	margin: 2px 0.4em;
}

.draggable-header .highslide-header .highslide-move {
	cursor: move;
	display: block;
	height: 16px;
	position: absolute;
	right: 24px;
	top: 0;
	width: 100%;
	z-index: 1;
}
.draggable-header .highslide-header .highslide-move * {
	display: none;
}
.draggable-header .highslide-header .highslide-close {
	position: absolute;
	right: 2px;
	top: 2px;
	z-index: 5;
	padding: 0;
}
.draggable-header .highslide-header .highslide-close a {
	display: block;
	height: 16px;
	width: 16px;
	background-image: url(http://www.03www.ru/highslide/graphics/closeX.png);
}
.draggable-header .highslide-header .highslide-close a:hover {
	background-position: 0 16px;
}
.draggable-header .highslide-header .highslide-close span {
	display: none;
}
.draggable-header .highslide-maincontent {
	padding-top: 1em;
}

/* hs.wrapperClassName = 'titlebar' */
.titlebar .highslide-header {
	height: 18px;
	border-bottom: 1px solid #dddddd;
}
.titlebar .highslide-heading {
	position: absolute;
	width: 90%;
	margin: 1px 0 1px 5px;
	color: #666666;
}

.titlebar .highslide-header .highslide-move {
	cursor: move;
	display: block;
	height: 16px;
	position: absolute;
	right: 24px;
	top: 0;
	width: 100%;
	z-index: 1;
}
.titlebar .highslide-header .highslide-move * {
	display: none;
}
.titlebar .highslide-header li {
	position: relative;
	top: 3px;
	z-index: 2;
	padding: 0 0 0 1em;
}
.titlebar .highslide-maincontent {
	padding-top: 1em;
}

/* hs.wrapperClassName = 'no-footer' */
.no-footer .highslide-footer {
	display: none;
}

/* hs.wrapperClassName = 'wide-border' */
.wide-border {
	background: white;
}
.wide-border .highslide-image {
	border-width: 10px;
}
.wide-border .highslide-caption {
	padding: 0 10px 10px 10px;
}

/* hs.wrapperClassName = 'borderless' */
.borderless .highslide-image {
	border: none;
}
.borderless .highslide-caption {
	border-bottom: 1px solid white;
	border-top: 1px solid white;
	background: silver;
}

/* hs.wrapperClassName = 'outer-glow' */
.outer-glow {
	background: #444;
}
.outer-glow .highslide-image {
	border: 5px solid #444444;
}
.outer-glow .highslide-caption {
	border: 5px solid #444444;
	border-top: none;
	padding: 5px;
	background-color: gray;
}

/* hs.wrapperClassName = 'colored-border' */
.colored-border {
	background: white;
}
.colored-border .highslide-image {
	border: 2px solid green;
}
.colored-border .highslide-caption {
	border: 2px solid green;
	border-top: none;
}

/* hs.wrapperClassName = 'dark' */
.dark {
	background: #111;
}
.dark .highslide-image {
	border-color: black black #202020 black;
	background: gray;
}
.dark .highslide-caption {
	color: white;
	background: #111;
}
.dark .highslide-controls,
.dark .highslide-controls ul,
.dark .highslide-controls a {
	background-image: url(http://www.03www.ru/highslide/graphics/controlbar-black-border.gif);
}

/* hs.wrapperClassName = 'floating-caption' */
.floating-caption .highslide-caption {
	position: absolute;
	padding: 1em 0 0 0;
	background: none;
	color: #000000;
	border: none;
	font-weight: bold;
}

/* hs.wrapperClassName = 'controls-in-heading' */
.controls-in-heading .highslide-heading {
	color: gray;
	font-weight: bold;
	height: 20px;
	overflow: hidden;
	cursor: default;
	padding: 0 0 0 22px;
	margin: 0;
	background: url(http://www.03www.ru/highslide/graphics/icon.gif) no-repeat 0 1px;
}
.controls-in-heading .highslide-controls {
	width: 105px;
	height: 20px;
	position: relative;
	margin: 0;
	top: -23px;
	left: 7px;
	background: none;
}
.controls-in-heading .highslide-controls ul {
	position: static;
	height: 20px;
	background: none;
}
.controls-in-heading .highslide-controls li {
	padding: 0;
}
.controls-in-heading .highslide-controls a {
	background-image: url(http://www.03www.ru/highslide/graphics/controlbar-white-small.gif);
	height: 20px;
	width: 20px;
}

.controls-in-heading .highslide-controls .highslide-move {
	display: none;
}

.controls-in-heading .highslide-controls .highslide-previous a {
	background-position: 0 0;
}
.controls-in-heading .highslide-controls .highslide-previous a:hover {
	background-position: 0 -20px;
}
.controls-in-heading .highslide-controls .highslide-previous a.disabled {
	background-position: 0 -40px !important;
}
.controls-in-heading .highslide-controls .highslide-play a {
	background-position: -20px 0;
}
.controls-in-heading .highslide-controls .highslide-play a:hover {
	background-position: -20px -20px;
}
.controls-in-heading .highslide-controls .highslide-play a.disabled {
	background-position: -20px -40px !important;
}
.controls-in-heading .highslide-controls .highslide-pause a {
	background-position: -40px 0;
}
.controls-in-heading .highslide-controls .highslide-pause a:hover {
	background-position: -40px -20px;
}
.controls-in-heading .highslide-controls .highslide-next a {
	background-position: -60px 0;
}
.controls-in-heading .highslide-controls .highslide-next a:hover {
	background-position: -60px -20px;
}
.controls-in-heading .highslide-controls .highslide-next a.disabled {
	background-position: -60px -40px !important;
}
.controls-in-heading .highslide-controls .highslide-full-expand a {
	background-position: -100px 0;
}
.controls-in-heading .highslide-controls .highslide-full-expand a:hover {
	background-position: -100px -20px;
}
.controls-in-heading .highslide-controls .highslide-full-expand a.disabled {
	background-position: -100px -40px !important;
}
.controls-in-heading .highslide-controls .highslide-close a {
	background-position: -120px 0;
}
.controls-in-heading .highslide-controls .highslide-close a:hover {
	background-position: -120px -20px;
}

/*****************************************************************************/
/* Styles for text based controls.						                     */
/* You can safely remove this if you don't use text based controls			 */
/*****************************************************************************/

.text-controls .highslide-controls {
	width: auto;
	height: auto;
	margin: 0;
	text-align: center;
	background: none;
}
.text-controls ul {
	position: static;
	background: none;
	height: auto;
	left: 0;
}
.text-controls .highslide-move {
	display: none;
}
.text-controls li {
    background-image: url(http://www.03www.ru/highslide/graphics/controlbar-text-buttons.png);
	background-position: right top !important;
	padding: 0;
	margin-left: 15px;
	display: block;
	width: auto;
}
.text-controls a {
    background: url(http://www.03www.ru/highslide/graphics/controlbar-text-buttons.png) no-repeat;
    background-position: left top !important;
    position: relative;
    left: -10px;
	display: block;
	width: auto;
	height: auto;
	text-decoration: none !important;
}
.text-controls a span {
	background: url(http://www.03www.ru/highslide/graphics/controlbar-text-buttons.png) no-repeat;
    margin: 1px 2px 1px 10px;
	display: block;
    min-width: 4em;
    height: 18px;
    line-height: 18px;
	padding: 1px 0 1px 18px;
    color: #333;
	font-family: "Trebuchet MS", Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	white-space: nowrap;
}
.text-controls .highslide-next {
	margin-right: 1em;
}
.text-controls .highslide-full-expand a span {
	min-width: 0;
	margin: 1px 0;
	padding: 1px 0 1px 10px;
}
.text-controls .highslide-close a span {
	min-width: 0;
}
.text-controls a:hover span {
	color: black;
}
.text-controls a.disabled span {
	color: #999;
}

.text-controls .highslide-previous span {
	background-position: 0 -40px;
}
.text-controls .highslide-previous a.disabled {
	background-position: left top !important;
}
.text-controls .highslide-previous a.disabled span {
	background-position: 0 -140px;
}
.text-controls .highslide-play span {
	background-position: 0 -60px;
}
.text-controls .highslide-play a.disabled {
	background-position: left top !important;
}
.text-controls .highslide-play a.disabled span {
	background-position: 0 -160px;
}
.text-controls .highslide-pause span {
	background-position: 0 -80px;
}
.text-controls .highslide-next span {
	background-position: 0 -100px;
}
.text-controls .highslide-next a.disabled {
	background-position: left top !important;
}
.text-controls .highslide-next a.disabled span {
	background-position: 0 -200px;
}
.text-controls .highslide-full-expand span {
	background: none;
}
.text-controls .highslide-full-expand a.disabled {
	background-position: left top !important;
}
.text-controls .highslide-close span {
	background-position: 0 -120px;
}


/*****************************************************************************/
/* Styles for the thumbstrip.							                     */
/* See www.highslide.com/ref/hs.addSlideshow    							 */
/* You can safely remove this if you don't use a thumbstrip 				 */
/*****************************************************************************/

.highslide-thumbstrip {
	height: 100%;
	direction: ltr;
}
.highslide-thumbstrip div {
	overflow: hidden;
}
.highslide-thumbstrip table {
	position: relative;
	padding: 0;
	border-collapse: collapse;
}
.highslide-thumbstrip td {
	padding: 1px;
	/*text-align: center;*/
}
.highslide-thumbstrip a {
	outline: none;
}
.highslide-thumbstrip img {
	display: block;
	border: 1px solid gray;
	margin: 0 auto;
}
.highslide-thumbstrip .highslide-active-anchor img {
	visibility: visible;
}
.highslide-thumbstrip .highslide-marker {
	position: absolute;
	width: 0;
	height: 0;
	border-width: 0;
	border-style: solid;
	border-color: transparent; /* change this to actual background color in highslide-ie6.css */
}
.highslide-thumbstrip-horizontal div {
	width: auto;
	/* width: 100% breaks in small strips in IE */
}
.highslide-thumbstrip-horizontal .highslide-scroll-up {
	display: none;
	position: absolute;
	top: 3px;
	left: 3px;
	width: 25px;
	height: 42px;
}
.highslide-thumbstrip-horizontal .highslide-scroll-up div {
	margin-bottom: 10px;
	cursor: pointer;
	background: url(http://www.03www.ru/highslide/graphics/scrollarrows.png) left center no-repeat;
	height: 42px;
}
.highslide-thumbstrip-horizontal .highslide-scroll-down {
	display: none;
	position: absolute;
	top: 3px;
	right: 3px;
	width: 25px;
	height: 42px;
}
.highslide-thumbstrip-horizontal .highslide-scroll-down div {
	margin-bottom: 10px;
	cursor: pointer;
	background: url(http://www.03www.ru/highslide/graphics/scrollarrows.png) center right no-repeat;
	height: 42px;
}
.highslide-thumbstrip-horizontal table {
	margin: 2px 0 10px 0;
}
.highslide-viewport .highslide-thumbstrip-horizontal table {
	margin-left: 10px;
}
.highslide-thumbstrip-horizontal img {
	width: auto;
	height: 40px;
}
.highslide-thumbstrip-horizontal .highslide-marker {
	top: 47px;
	border-left-width: 6px;
	border-right-width: 6px;
	border-bottom: 6px solid gray;
}
.highslide-viewport .highslide-thumbstrip-horizontal .highslide-marker {
	margin-left: 10px;
}
.dark .highslide-thumbstrip-horizontal .highslide-marker, .highslide-viewport .highslide-thumbstrip-horizontal .highslide-marker {
	border-bottom-color: white !important;
}

.highslide-thumbstrip-vertical-overlay {
	overflow: hidden !important;
}
.highslide-thumbstrip-vertical div {
	height: 100%;
}
.highslide-thumbstrip-vertical a {
	display: block;
}
.highslide-thumbstrip-vertical .highslide-scroll-up {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 25px;
}
.highslide-thumbstrip-vertical .highslide-scroll-up div {
	margin-left: 10px;
	cursor: pointer;
	background: url(http://www.03www.ru/highslide/graphics/scrollarrows.png) top center no-repeat;
	height: 25px;
}
.highslide-thumbstrip-vertical .highslide-scroll-down {
	display: none;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 25px;
}
.highslide-thumbstrip-vertical .highslide-scroll-down div {
	margin-left: 10px;
	cursor: pointer;
	background: url(http://www.03www.ru/highslide/graphics/scrollarrows.png) bottom center no-repeat;
	height: 25px;
}
.highslide-thumbstrip-vertical table {
	margin: 10px 0 0 10px;
}
.highslide-thumbstrip-vertical img {
	width: 60px; /* t=5481 */
}
.highslide-thumbstrip-vertical .highslide-marker {
	left: 0;
	margin-top: 8px;
	border-top-width: 6px;
	border-bottom-width: 6px;
	border-left: 6px solid gray;
}
.dark .highslide-thumbstrip-vertical .highslide-marker, .highslide-viewport .highslide-thumbstrip-vertical .highslide-marker {
	border-left-color: white;
}

.highslide-viewport .highslide-thumbstrip-float {
	overflow: auto;
}
.highslide-thumbstrip-float ul {
	margin: 2px 0;
	padding: 0;
}
.highslide-thumbstrip-float li {
	display: block;
	height: 60px;
	margin: 0 2px;
	list-style: none;
	float: left;
}
.highslide-thumbstrip-float img {
	display: inline;
	border-color: silver;
	max-height: 56px;
}
.highslide-thumbstrip-float .highslide-active-anchor img {
	border-color: black;
}
.highslide-thumbstrip-float .highslide-scroll-up div, .highslide-thumbstrip-float .highslide-scroll-down div {
	display: none;
}
.highslide-thumbstrip-float .highslide-marker {
	display: none;
}
