.nsau_table tr:hover{
	color: #000;
	cursor: pointer;
	background-color: #e4e4e4;
}
.request_row{
	height: 100px;
}

.comment_date{
	font-size: 12px;
	color: #6a6a6a;
}

.comment_text{
	font-size: 12px;
}

.comment_frame {
	display: block;
	position: relative;
	float:left;
	padding: 3px;
	font-size: 14px;
	overflow: hidden;
	z-index: 10;
	margin: 0;
	width: 97%;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
	font: 12px/16px, Arial, sans-serif;
	-webkit-box-shadow: 0 3px 3px rgba(0,0,0,.22),0 3px 3px rgba(0,0,212,.01);
	-moz-box-shadow: 0 3px 3px rgba(0,0,0,.22),0 3px 3px rgba(0,0,212,.01);
	-ms-box-shadow: 0 3px 3px rgba(0,0,0,.22),0 3px 3px rgba(0,0,212,.01);
	box-shadow: 0 3px 3px rgba(0,0,0,.22),0 3px 3px rgba(0,0,212,.01);
	border: 1px solid #ccc;
	background-color: rgba(69, 159, 168, 0.1);
}
.comment_input_frame {
	display: block;
	position: relative;
	float:left;
	width:80%;
}
div.comment_button {
	cursor: pointer;
	float:left;
	height: 35px;
	padding: 3px;
	display: block;
	font-size: 14px;
	z-index: 10;
	margin: 0;
	min-width: 35px;
	max-width: 35px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
	font: 14px/18px 'Tahoma', Arial, sans-serif;
	-webkit-box-shadow: 0 3px 3px rgba(0,0,0,.22),0 3px 3px rgba(0,0,212,.01);
	-moz-box-shadow: 0 3px 3px rgba(0,0,0,.22),0 3px 3px rgba(0,0,212,.01);
	-ms-box-shadow: 0 3px 3px rgba(0,0,0,.22),0 3px 3px rgba(0,0,212,.01);
	box-shadow: 0 3px 3px rgba(0,0,0,.22),0 3px 3px rgba(0,0,212,.01);
	border: 1px solid #ccc;
}
div.comment_button:hover {
	background-color: rgba(170, 221, 220, 0.77);
	transition-property: background-color;
	transition-duration: 0.2s;
}

.comment.input {
	width:95%;
	height: 35px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}

.comment.save_button {
	min-height: 20px;
	max-height: 20px;
	display: inline-block;
	border-top: 0px solid #ccc;
	border-left: 0px solid #ccc;
	width:100%;
	padding-bottom: 7px;
	padding-top: 7px;
	cursor: pointer;
}
.comment.save_button:hover {
	background-color: #962F2E;
	color: #fff;
	transition-property: background-color;
	transition-property: color;
	transition-duration: 0.3s;
	cursor: pointer;
}

input.register {
	width: 200px;
	border: none;	
	border: 1px #b5b5b5 solid;
	webkit-border-radius: 1px;
	border-radius: 1px;
}

div.printers_form {
	left: 30%;
  top: 10%;
  position: fixed;
	font-size: 14px;
	z-index: 2120;
	margin: 0;
	width: 100%;
	min-width: 45%;
	max-width: 45%;
	padding: 0px;
	border: 1px solid #383838;
	background: #fefefe;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
	font: 14px/18px 'Tahoma', Arial, sans-serif;
	-webkit-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
	-moz-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
	-ms-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
	box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
	
	border: 2px solid #ccc;
}
div.div_button {
	width: 100%;
	text-align: center;
}
div.div_button:hover {
	background-color: #962F2E;
	color: #fff;
	transition-property: background-color;
	transition-property: color;
	transition-duration: 0.3s;
	cursor: pointer;
}
tbody.register_content {
	background-color: #efefef;
}