
/*--------------------100% height--------------------*/
html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
	background: none;
	font-family: Arial, Tahoma, FreeSans, sans-serif;
    /*color: #000;*/
    font-size: 14px;
}
body,.wrapper h1,.wrapper h2,.wrapper h3,.wrapper h4,.wrapper h5,.wrapper a,.wrapper span,.wrapper td,.wrapper th,.wrapper strong{
	/*color: #000;*/
	background: none;
}

#nofooter {
    min-height: 100%;
    min-width: 1000px;
    margin-bottom: -107px;
    position: relative;
    overflow: hidden;
    margin-top: 50px;
}

* html #nofooter {
    height: 100%;
    overflow: visible;
    overflow-x: hidden;
}

#footer-pusher {
    height: 107px;
    clear: both;
}

#footer {
    height: 107px;
}
/*---------------------------------------------------*/


h1, h2, h3, h4, h5 {
    padding: 0;
    margin: 0;
    font-weight: normal;
    font-family: Arial, Georgia,'Times New Roman', Times, serif;
}

h1 {font-size: 18px;    padding: 0 0 15px 0;}
h2 {font-size: 17px;}
h3 {font-size: 15px;}
h4 {font-size: 14px;}
h5 {font-size: 12px;}




p {
    margin: 0;
	/*line-height: 17px;*/
	padding: 8px 0;
}
#content p {
	text-align: justify;
}
.wrapper p img,.button-up img,.button-bottom img {
	display: none!important;
}
.button-up,.button-bottom{
color:#A0A0A0!important;	
	
}
.wrapper img {
	display: none!important;
	}
	
form {
    margin: 0;
    padding: 0;
}

table.nsau_table {
	border-collapse: collapse;
	border: 1px #000 solid;
	vertical-align: middle;
	font-weight: normal;
	text-align: left;
	/*margin: 0 auto;*/
}
table.nsau_table thead,table.nsau_table thead tr,table.nsau_table thead td,table.nsau_table thead th {
	text-align: center;
	background: none;
	color: #000;
}
table.nsau_table thead a {
	color: #000;
}
table.nsau_table tbody th {
	text-align: center;
}
table.nsau_table th,table.nsau_table td {
	border: 1px #000 solid;
	padding: 2px 12px 4px 12px;
	font-weight: normal;
}
table.nsau_table.employees th,table.nsau_table.employees td {
	border: 1px #000 solid;
	padding: 2px 2px 4px 2px;
	font-weight: normal;
	font-size: 12px;
}
table.nsau_table.employees th {
	height:100px;
}
table.nsau_table.employees.izop th {
	height: auto;
}
table.nsau_table.employees td {
	vertical-align: top;
	word-break: break-all;
}
table.nsau_table.employees.izop td {
	vertical-align: top;
	word-break: normal;
}

table.nsau_table .tr_highlight_honey,table.nsau_table .tr_highlight {
	background: none;
}
table.nsau_table .tr_highlight_berry {
background: none;
}
table.nsau_table td.td_highlight {
	background: none;
}

/* ?????? ??? ?? ????????????, ??? ? ?? ????????? */
.hidden {
	display: none;
	visibility: hidden;
} 
/* ?????? ?????????, ?? ?? ?? ???????????? */
.visuallyhidden {
	position: absolute !important;   
	clip: rect(1px 1px 1px 1px); 			/* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}
/* ?????? ????????? ? ?? ????????????, ???????? ??? ???? ???????? */
.invisible {
	visibility: hidden;
}
/* ???????????? CLEARFIX */
.clear:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden; 
}
 
.clear:after {
	clear: both;
}

.clear {
	height: 0px;
	width: 100%;
	clear: both;
	zoom: 1;
}



ul {
	padding: 9px 0 9px 30px;
	margin: 0;
}

ul li {
	margin: 0;
	padding: 0;
	list-style: circle;
}

dd {
	margin: 0 0 0 20px;
}

#detail_text ol,
#detail_text ul {
	overflow: auto;
}

a img {
    border: none;
	vertical-align: bottom;
}

a {
    color: #000;
    text-decoration: none;
    /*white-space: pre;*/
}

hr {
	font-size: 0px;
	line-height: 0px;
	height: 4px;
	padding: 0;
	margin: 7px 0;
	border: none;
	border-width: 0;
	overflow: hidden;
	background: #000;
}
hr.sub_hr {
	background: #000;
}
.ie7 hr {
	margin: 0;
	zoom: 1;
}



a:hover {
    color: #000;
	text-decoration: underline;
	cursor: pointer;
}
.float-right {
	float: right;
}
.float-left {
	float: left;
}

  

/*----------------------------------------------------------------------------*/
.wrapper {
	position: relative;
	/*width: 1000px;*/
	min-width: 910px;
	margin: 0 auto;
	padding: 0px 50px 0 40px;
}
/*=============================Header=========================================*/

#header {
    position: relative;
    height: 70px;
    margin-right: 18px;
    /*overflow: hidden;*/
    z-index: 1000;
    /* margin-top: 10px; */
}

		
#login_form h3{
	float: left;
	color:#000;
}
#login_form fieldset{
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px; 
	-khtml-border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px; 
	border-radius: 10px; 
	margin-bottom: 10px;
	border: 2px #a0a0a0 solid!important;
	padding: 4px 2px 10px 8px;
	background: #fff;
	height: 100px;
	}
	


		
/*-----------------------------SubMenu------------------------*/
.submenu {
	position: relative;
	
	padding: 13px 0px 13px 0px;
	

}
	.submenu .corner_TL, .submenu .corner_TR, .submenu .corner_BL, .submenu .corner_BR {
		position: absolute;
		height: 14px;
		width: 14px;
		overflow: hidden;
		
	}
	.submenu .corner_TL {
		top: 0;
		left: 0;

	}
	.submenu .corner_TR{
		top: 0;
		right: 0;
		
	}
	.submenu .corner_BL{
		bottom: 0;
		left: 0;
		
	}
	.submenu .corner_BR {
		bottom: 0;
		right: 0;
		
	}
	
	div.people_menu  {
		position: relative;
		/* top: 240px; */
		width:15%;
		float: left;
		margin-bottom: 0px!important;
		padding-bottom: 0px!important;
	}
	
	
	.submenu.horisontal_menu ul {
		padding: 0;
		/*overflow: hidden;*/
		zoom: 1;
	}
		.submenu.horisontal_menu li {
			position: relative;
			float: left;
			width: 30%;
			/*height: 20px;*/
			line-height: 28px;
			list-style: none;
			padding-right: 25px;
			border: 1px solid #000;
		}
			.submenu.horisontal_menu ul ul {
				
			}
				.submenu.horisontal_menu li li {
					float: none;
					width: auto;
				}
			.submenu.horisontal_menu li a {
				position: relative;
				line-height: 24px;
				overflow: hidden;
				padding-right: 10px;
				display:-moz-inline-stack; 
				display:inline-block; 
				*display:inline;
				vertical-align: top;
				zoom:1; 
				width: 100%;
				z-index: 10;
				height: 28px;
				
				cursor: pointer;
			}
				.submenu.horisontal_menu li a span {
					position: relative;
					width: 100%;
					overflow:hidden;
					white-space: nowrap;
					text-overflow: ellipsis; /* IE, Chrome*/
					-o-text-overflow: ellipsis; /* Opera */
					-webkit-text-overflow: ellipsis;
					padding: 2px 5px 2px 5px;
					margin: 0 -14px 0 0;
					margin-bottom: 0;
					display:-moz-inline-stack; 
					display:inline-block; 
					*display:inline;
					vertical-align: top;
					zoom:1;
					float: left;
				}
				.submenu.horisontal_menu li a em {
					position: relative;
					display: none;
					float: right;
					margin-top: -25px;
					margin-right: -10px;
					background: -moz-linear-gradient(left , rgba(255,255,255,0), rgba(235,235,235,1) 10px);
				}
				.submenu.horisontal_menu li a em:after {
					content: "...";
					padding-left: 5px;
				}
			.submenu.horisontal_menu li:hover {
				overflow: visible;
				background-color: #d7d7d7;
				z-index: 50;
				
				
			}
				.submenu.horisontal_menu li a:hover em {
					display: none;
				}
				
				.submenu.horisontal_menu li a:hover span, .submenu.horisontal_menu li .current span{
					background-color: #d7d7d7;
					overflow: visible;
					width: 100%;
					white-space: normal;
					line-height: 28px;
					padding: 0 5px;
					text-decoration: underline;
					
					
				}


.submenu div{

width:100%;
height:100%;



}

.submenu div ul{
list-style: none;
padding: 8px 10px 20px 10px;
height:100%;

}

.submenu div ul li a{

text-decoration: none;
font-size: 11pt;
font-family: Arial;
	
}
.submenu div ul li{
margin-top:15px;
list-style: none;
	
}
.gos{
line-height:100%;
}
.submenu div ul li a:hover{text-decoration: underline;}
.between{width: 1%;}
.images{width: 100%;
}
.img{width: 24%;
}


/*=============================Content========================================*/
#content {
    position: relative;
    /*padding-top: 12px;*/
    padding-right: 18px;
    padding-bottom: 10px;zoom:1;
    width: inherit!important;
    height: inherit!important;
}

/*---------------------------*/



/*=============================Footer=========================================*/
#footer {
    position: relative;
}
#footer .wrapper {
	overflow: hidden;
}
#footer .cn {
	padding-bottom: 0;
}
#footer .cn p {
	padding: 0;
}
	#footer ul {
		position: relative;
		overflow: hidden;
		height: 60px;
		padding: 0;
		zoom: 1;
	}
		#footer ul li {
			float: left;
			list-style: none;
			/*height: 60px;*/
			overflow: hidden;
			/*padding-right: 28px;*/
			width: 24%;
			text-align: center;
		}
			#footer ul li a {
				
			}
				#footer ul li a img {
					height: 100%;
				}
#footer #copyright {
	position: relative;
	overflow: hidden;
	width: 100%;
   
	
}
#footer #copyright p {
	color: #888888;
}

#page_title {
	position: absolute;
	top: 20px;
	left: 0;
	font-size: 24px;
	color: #000;
	width: 100%;
	text-transform: uppercase;
	text-align: center;
	z-index: 10;
}
	#page_title div {
		margin: 0 220px;
	}
	#logo {
    position: relative;
    font-size: 36px;
    font-weight: bold;
    height: 70px;
    width: 170px;/*margin-*/
    /* top: 10px; */
    display: block;
    text-transform: uppercase;
    /* padding: 0px 0 0 50px; */
    
    cursor: pointer;
    text-decoration: none;
    text-indent: -9999px;
    z-index: 100;
}
	#logo span {
		position: absolute;
		top: 0;
		left: 0;
		width: 170px!important;
		height: 70px;
	}
	#logo span span{
    background: url("../images/logo_new_ch_b.png") no-repeat!important;
}


	
	
	.menu_background{
	    width: 100%;
	    height: 20px;
	    padding: 9px 0 9px 0;
	    border-bottom: 2px solid #e4e4e4;
	    background: #F7F7F7;
	    /* margin-bottom: 10px; */
	    position: fixed;
	    top: 0px;
	    z-index: 10000;
}
a.rollover1 {
	background: url(/themes/images/a.png);
	display: block;
	width: 20px;
	height: 31px;
}
   a.rollover1:hover {
    background-position: 0 -31px;
   }
   a.rollover2 {
	background: url(/themes/images/a_2.png);
	display: block;
	width: 26px;
	height: 31px;
}
   a.rollover2:hover {
    background-position: 0 -31px;
   }
   a.rollover3 {
	background: url(/themes/images/a_3.png);
	display: block;
	width: 26px;
	height: 31px;
}
   a.rollover3:hover {
    background-position: 0 -31px;
   }
   a.rollover4 {
	background: url(/themes/images/c_1.png);
	display: block;
	width: 26px;
	height: 31px;
}
   a.rollover4:hover {
    background-position: 0 -31px;
   }
   a.rollover5 {
    background: url(/themes/images/c_2.png);
    display: block;
    width: 26px;
    height: 31px;
   }
   a.rollover5:hover {
    background-position: 0 -31px;
   }
   a.rollover6 {
    background: url(/themes/images/c_3.png);
    display: block;
    width: 26px;
    height: 31px;
   }
   a.rollover6:hover {
    background-position: 0 -31px;
   }

.menu_background table{
	height:30px;
}
.vds{
	position: relative;
	bottom:7px;
	color: #000;
	font-size: 14px!important;
}
.t{font-size: 14px!important;}
.textNorm{
font-size: 14px;	
}
.textMid, .textMid a, .textMid p,.textMid span, .textMid strong, .textMid table,.textMid ul,.textMid td{
font-size: 18px;		
}
.textMid h1 {font-size: 22px;    padding: 0 0 15px 0;}
.textMid h2 {font-size: 21px;}
.textMid h3 {font-size: 19px;}
.textMid h4 {font-size: 18px;}
.textMid h5 {font-size: 16px;}

.textLarge{
font-size: 22px;		
}
.textLarge h1 {font-size: 26px;    padding: 0 0 15px 0;}
.textLarge h2 {font-size: 25px;}
.textLarge h3 {font-size: 23px;}
.textLarge h4 {font-size: 22px;}
.textLarge h5 {font-size: 20px;}

.backgroundWhite{
background: #fff!important;
color: #000!important;
}
.backgroundBlack{
	background:#000;
color: #fff!important;


}
.backgroundBlack #logo span span{
    background: url("../images/logoWhite_small.png") no-repeat!important;
}
.backgroundBlack table.nsau_table,.backgroundBlack table.nsau_table th,.backgroundBlack table.nsau_table td {
	    border: 1px #fff solid!important;
}
.backgroundWhite table.nsau_table,.backgroundWhite table.nsau_table th,.backgroundWhite table.nsau_table td {
	    border: 1px #000 solid!important;
}
.backgroundBlack a,.backgroundBlack div,.backgroundBlack strong{
	
color: #fff!important;
}
.backgroundBlue{
background: #9dd1ff!important;
color: #000!important;
}
.backgroundBlue .current,.backgroundWhite .current{
/*background: #ededed;*/	
border: 2px solid #000!important;	
}
.backgroundBlack .current{
/*background: #ededed;*/	
border: 2px solid #fff!important;	
}
.backgroundBlue .submenu.horisontal_menu li,.backgroundWhite .submenu.horisontal_menu li{
	
	border: 2px solid #ededed;
}

.backgroundBlack .submenu.horisontal_menu li{
	border: 2px solid #A9A6A6;
}
.footer-left{
	float: left;
	width: 50%;
}

.footer-right{
	float: right;
	width: 40%;
	text-align: justify;
}
#themes_idop vsds {
       top: 10px;
}