/* Demo */
.wmuSlider,
.wmuGallery {
    margin-bottom: 20px;
}

/* mwuSlider */
.wmuSlider {
    position: relative;
    overflow: hidden;
    margin-left: 0px;
    margin-right: 0px;
}
/*.wmuSlider .wmuSliderWrapper {
    display: none;
}*/
.wmuSlider .wmuSliderWrapper article {
    position: relative;
    text-align: center;
}
.wmuSlider .wmuSliderWrapper article img {
    max-width: 40%;
    width: auto;
    height: auto;
}

/* mwuGallery */
.wmuGallery .wmuGalleryImage {
    position: relative;
    text-align: center;
}
.wmuGallery .wmuGalleryImage img {
    max-width: 50%;
    width: auto;
    height: auto;
}

/* Default Skin */
.wmuGallery .wmuGalleryImage {
    margin-bottom: 10px;
}
.wmuSliderPrev, .wmuSliderNext {
    position: absolute;
    width: 40px;
    height: 80px;
    text-indent: -9999px;
    background: url(../../images/slider/sprites.png) #fff no-repeat 0 0;
    top: 50%;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -40px;
    z-index: 2;
}
.wmuSliderPrev {
    background-position: 100% 0;
    left: 0px;
}
.wmuSliderNext {
    right: 0px;
}
.wmuSliderPagination {
    z-index: 2;
    position: absolute;
    left: 20px;
    bottom: 10px;
}
.wmuSliderPagination li {
    float: left;
    margin: 0 5px 0 0;
    list-style-type: none;
}
.wmuSliderPagination a {
    display: block;
    text-indent: -9999px;
    width: 10px;
    height: 10px;
    background: url(../../images/slider/sprites.png) no-repeat 0 -80px;
}
.wmuSliderPagination a.wmuActive {
    background-position: -10px -80px;
}
.capt {
    font-weight: bold;
    font-size: 8pt;
}

.capt_small {
    font-weight: bold;
    font-size: 8pt;
}

.slider_img {
    filter: grayscale(100%);
}
.slider_img:hover {
    filter: grayscale(0%);
    cursor: pointer;
}