html
{
    height: 100%;
}

body
{
    background: #ffffff url(/themes/images/vetfac/backgroung_left.gif) repeat-y;
    height: 100%;
    margin: 0;
    padding: 0;
    font:  10pt 'Arial';
    position: relative;
    min-width: 1024px;
}

a
{
    color: #335886;
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

h1
{
    font-size: 18px;
    color: #003d71;
}

h2
{
    font-size: 16px;
    color: #003d71;
    /*margin-left: 20px;*/
    margin-right: 20px;
}

h3
{
    font-size: 15px;
    color: #003d71;
}

h4
{
    font-size: 14px;
    color: #003d71;
}

h5
{
    font-size: 13px;
    color: #003d71;
}

* html .iehlimiter1
{
    padding-left: 1024px;
}

* html .iehlimiter2
{
    height: 0;
}

* html .iehlimiter3
{
    position: relative;
    height: 0;
    margin-left: -1024px;
}

.clear,
.pusher
{
    clear: both;
}

#nofooter
{
    min-height: 100%;
    margin-bottom: -130px;
	margin-top: 40px;
}

* html #nofooter /* MSIE 6 */
{
    height: 100%;
}

#footer-pusher
{
    height: 130px;
    clear: both;
}

#footer
{
    height: 130px;
    position: relative;
    background: #1d314b;
    /* text-align: right; */
    /* padding-right: 40px; */
    color: #e4e4e4;
}

.footer_img
{
    margin-top: 11px;
    margin-left: 10px;    
}



#copyright p
{
    margin-top: 11px;
    vertical-align: middle;
}

#left_colomn
{
    float: left;
    width: 270px;
    position: relative;
    z-index: 2;
    margin-top: 180px;
    margin-bottom: 10px;
}

#content-wrapper
{
    float: left;
    width: 100%;
    margin-left: -270px;
    
    /*min-height: 690px;*/
    /*height: 660px;   */ 
}

#content
{
    margin-left: 270px;
    background: #ffffff url(/themes/images/vetfac/background_top.gif) repeat-x;
    min-height: 208px;
    height: 100%;
    /*height: 208px;*/
    padding-left: 20px;
    padding-top: 220px;
    margin-bottom: 20px;
    position: relative;
    z-index: 0;
}

#shapka
{
    position: relative;
    z-index: 1;  
}

#top
{
    margin-left: 1%;
    margin-right: 1%;
    background: #ffffff;
    width: 98%;
    position: absolute;
    background: #ffffff;
}

#part_left
{
    background: url(/themes/images/vetfac/part_left.gif) no-repeat bottom left;
    height: 110px;
    width: 5px;
    
}

#part_right
{
    right: 1%;
    /*margin-left: 1%;
    width: 98%;*/
    background: url(/themes/images/vetfac/part_right.jpg) no-repeat bottom right;
    height: 204px;
    width: 162px;
    position: absolute;
/*    border: 1px solid black; */
}

#main_menu, #main_menu_left
{
    margin-right: 3%;
    margin-left: 1%;
    width: 96%;
    height: 54px;
    position: absolute;
    top: 115px;    
}

#main_menu
{
    background: url(/themes/images/vetfac/main_menu.gif) repeat-x;
    padding-left: 5px;
}

#main_menu a
{
    color: #ffffff;
    text-decoration: none;
}

/*#main_menu a:hover
{
    text-decoration: underline;
}*/

#main_menu_left
{
    background: url(/themes/images/vetfac/main_menu_left.gif) no-repeat;
    width: 4px;   
}

#main_menu ul
{
    margin: 0;
    padding: 0;
    //margin-left: -20px;
}

#main_menu li
{
    background: url(/themes/images/vetfac/vertical_hr.gif) no-repeat right;
    float: left;
   padding-left: 15px;
    padding-right: 15px;
    padding: 15px;
    /*padding-left: 0; */
    font-size: 14pt;
/*    font-weight: bold;*/
    list-style: none;
    color: white;
    height: 24px;
/*    margin-top: 15px;*/
}

#main_menu img
{
    position: absolute;
    margin-top: -15px;
    margin-left: 20px;
}
/*-------------------shadow------------------------*/
.shadow_tr,.shadow_b,.shadow_br,.shadow_bl {
    position: absolute;
	z-index: 0;
	-moz-user-select: none;
	-webkit-user-select: none;
}
.shadow_rbg {
	position: relative;
	margin-right: -18px;
	padding: 0 25px 15px 0;
	margin-bottom: 15px;
	background: url("../images/shadow_grad_right.jpg") top right repeat-y;	
}
.shadow_cont {
	position: relative;
	z-index: 50;
}
.shadow_tr {
	top: 0;
	right: 0;
	width: 32px;
	height: 34px;
	background: #fff url("../images/shadow_3.jpg") bottom right no-repeat;
}
.shadow_b {
	width: 100%;
	height: 32px;
	bottom: 0;
	left: 0;
	background: url("../images/shadow_grad_bottom.jpg") bottom left repeat-x;
}
.shadow_bl {
	width: 95px;
	height: 15px;
	bottom: 0;
	left: 0;
	background: #fff url("../images/shadow_1.jpg") bottom right no-repeat;
}
.shadow_br {
	width: 35px;
	height: 32px;
	bottom: 0;
	right: 0;
	background: url("../images/shadow_2.jpg") bottom right no-repeat;
}
/*-----------------------------Person Card------------------------------------*/
table.person_card,
.person_card table {
	padding: 0 50px 17px 0;
	font-weight: bold;
	width: 100%;
}
	.person_card td,
	.person_card th {
		font-size: 14px;
		vertical-align: top;
	}
	.person_card th {
		width: 220px;
		text-align: left;
	}
	.person_card td {
		padding: 10px 0 0 30px;
	}
		.person_card th p img {
			margin: 0;
		}
		.person_card th img {
			border: 1px #7e7e7e solid;
		}
body .name-color,
body .name-color a {
	color: #cc6600;
	font-weight: normal;
}
	body .name-color strong {
		font-size: 18px;
		font-weight: normal;
	}
/*-----------------------------SubMenu------------------------*/
.submenu {
	position: relative;
	background: #ebebeb;
	padding: 13px 35px 13px 35px;
	margin-bottom: 24px;
}
.submenu .corner_TL,
.submenu .corner_TR,
.submenu .corner_BL,
.submenu .corner_BR {
	position: absolute;
	height: 14px;
	width: 14px;
	overflow: hidden;
	background: url("../images/submenu_bg.jpg") 0px 0px no-repeat;
}
.submenu .corner_TL {
	top: 0;
	left: 0;
}
.submenu .corner_TR{
	top: 0;
	right: 0;
	background: url("../images/submenu_bg.jpg") -14px 0px no-repeat;
}
.submenu .corner_BL{
	bottom: 0;
	left: 0;
	background: url("../images/submenu_bg.jpg") 0px -14px no-repeat;
}
.submenu .corner_BR {
	bottom: 0;
	right: 0;
	background: url("../images/submenu_bg.jpg") -14px -14px no-repeat;
}
.submenu ul {
	padding: 0;
	/*overflow: hidden;*/
	zoom: 1;
}
.submenu li {
	position: relative;
	float: left;
	width: 30%;
	/*height: 20px;*/
	line-height: 28px;
	list-style: none;
	padding-right: 25px;
	background: #ebebeb;
}
.submenu ul ul {
	
}
.submenu li li {
	float: none;
	width: auto;
}
.submenu li a {
	position: relative;
	line-height: 24px;
	overflow: hidden;
	padding-right: 10px;
	display:-moz-inline-stack; 
	display:inline-block; 
	*display:inline;
	vertical-align: top;
	zoom:1; 
	width: 100%;
	z-index: 10;
	height: 28px;
	color: #5f1208;
}
.submenu li a span {
	position: relative;
	width: 100%;
	overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis; /* IE, Chrome*/
	-o-text-overflow: ellipsis; /* Opera */
	-webkit-text-overflow: ellipsis;
	padding: 2px 5px 2px 5px;
	margin: 0 -14px 0 0;
	margin-bottom: 0;
	display:-moz-inline-stack; 
	display:inline-block; 
	*display:inline;
	vertical-align: top;
	zoom:1;
	float: left;
}
.submenu li a em {
	position: relative;
	display: none;
	float: right;
	margin-top: -25px;
	margin-right: -10px;
    background: -moz-linear-gradient(left , rgba(255,255,255,0), rgba(235,235,235,1) 10px);
}
.submenu li a em:after {
	content: "...";
	padding-left: 5px;
}
.submenu li a:hover {
	overflow: visible;
	background-color: #d7d7d7;
	z-index: 50;
	
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	-khtml-border-radius: 5px; 
	border-radius: 5px;
}
.submenu li a:hover em {
	display: none;
}
.submenu li a:hover span {
	background-color: #d7d7d7;
	overflow: visible;
	width: 100%;
    white-space: normal;
	line-height: 28px;
	padding: 0 5px;
	text-decoration: underline;
	
	/*border: 1px #c7c7c7 solid;*/
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	-khtml-border-radius: 5px; 
	border-radius: 5px;
}
/*----------------------------------------------------------------------------*/
#top_img
{
    position: absolute;
    top: 10px;
    right: 40px;
}

#ngau
{
    background: url(/themes/images/vetfac/ngau.gif) no-repeat;
    width: 116px;
    height: 95px;
    position: absolute;
    top: 0;
    left: 35px;    
}

#three_color
{
    background: url(/themes/images/vetfac/three_color.gif) no-repeat;
    width: 19px;
    height: 105px;
    position: absolute;
    left: 170px;    
}

#vet_med
{
    color: #235e87;
    position: absolute;
    text-transform: uppercase;
    font-size: 24px;
    font-family: 'Verdana';
    font-weight: 600;
    left: 210px;
    top: 40px;
}

#search
{
    z-index: 10;
/*    position: absolute;*/
    color: #727272;
    font-size: 14px;
    font-weight: bold;
/*    top: 180px; */
    margin-left: 60px;
    padding-bottom: 20px;
}

.button
{
    position: absolute;
    padding-left: 5px;
}

#button_enter
{
    position: absolute;
    right: 10px;
    margin-top: 10px;
}

.search_input, .search_input_auth
{
    background: url(/themes/images/vetfac/input_search.gif) repeat-x;
    border: 1px solid #a6a3a3;    
}

.search_input_auth
{
    position: absolute;
    right: 10px;
    width: 60%;
}



.white_text
{
    color: #ffffff;
    font-weight: bold;
    padding-left: 20px;
    padding-top: 3px;    
    z-index: 4;
}

#left_blue_head, .left_blue_head2
{
    height: 24px;
    position: absolute;
    top: -1px;
    left: -1px;       
}

#right_blue_head, .right_blue_head2
{
    height: 24px;       
    margin-top: -1px;
    margin-right: -1px;
    top: -1px;
    
    left: -1px;
}

#left_blue_head
{
    background: url(/themes/images/vetfac/left_blue_head.gif) no-repeat top left;    
}

#right_blue_head
{
    background: url(/themes/images/vetfac/right_blue_head.gif) no-repeat top right;
    /*background: none;  */   
}

.left_blue_head2
{
    background: url(/themes/images/vetfac/left_blue_head2.gif) no-repeat top left;    
}

.right_blue_head2
{
    background: url(/themes/images/vetfac/right_blue_head2.gif) no-repeat top right;
    /*background: none;  */   
}

#left_bottom, .left_bottom2
{
    position: absolute;
    height: 5px;
    width: 6px;
    bottom: -1px;
    left: -1px; 
}

#right_bottom, .right_bottom2
{
    position: absolute;
    height: 18px;
    width: 160px;
    bottom: -1px;
    right: -1px;
}

.right_bottom2
{
    background: url(/themes/images/vetfac/categories_bottom2.gif) no-repeat bottom right;
    /*/background: none;*/
}

.left_bottom2
{
    background: url(/themes/images/vetfac/categories_bottom_left2.gif) no-repeat bottom left;
}
#left_bottom
{
    width: 250px;
    background: url(/themes/images/vetfac/categories_bottom_left.gif) no-repeat bottom left;
    
}
#right_bottom
{
    width: 250px;
    background: url(/themes/images/vetfac/categories_bottom.gif) no-repeat bottom right;
    /*bottom: -2px;*/
}

#razdely
{
    background: #fbfaf9 url(/themes/images/vetfac/categories.gif) repeat-x;
    /*position: absolute;*/
    position: relative;
    /*top: 180px;*/
    width: 248px;
    left: 15px;
    border: 1px solid #c1c2bd;
    padding-bottom: 1em;    
    /*height: 423px;*/
}

.center_field, #auth, #contacts
{
    background: #fbfaf9 url(/themes/images/vetfac/categories.gif) repeat-x;
    border: 1px solid #c1c2bd;
    font-style: 'Arial';
    position: relative;        
}

#auth
{
	display: none;
}

.center_field
{
    
    width: 60%;
    
    padding-bottom: 20px;
}

#right_area
{
    float: right;
    margin-bottom: -414px;
    padding-right: 10px;
}  

#left_area
{
    padding-right: 35px;
/*	padding-right: 310px;
    float: right;*/
}
#left_area li ul {
    margin: 0;
}

#auth, #contacts 
{
    min-height: 200px;
    /*height: 200px;*/
    width: 280px;
    /*right: 10px;*/
    padding-left: 10px;
    margin-left: 2em;
}

#auth
{
} 

#contacts
{
    margin-top: 10px;
}

.auth_p
{
    font-size: 14px;
}

#phone
{
    position: absolute;
    right: 10px;
    top: 60px;
}

#adress
{
    font-size: 14px;
    position: absolute;
    top: 30px;
    left: 15px;
}

#email
{
    position: absolute;
    top: 140px;
}

#razdely ul
{
    color: #054670;
    list-style-image: url('/themes/images/vetfac/marker1.gif');
    font-weight: bold;
    margin-left: -10px;
    /*margin-left: 25px;*/
}

#razdely a
{
    color: #054670;    
}
  
#razdely ul li ul li
{
    list-style-image: url('/themes/images/vetfac/marker2.gif');    
    font-weight: normal;
    color: #000000;
    margin-left: -10px;
    /*margin-left: 0px;*/
}
#razdely ul li ul li a
{
    color: #000000;   
}
 
.news_item_text
{
    margin-left: 20px;
    padding-left: 60px;
    text-align: justify;
    margin-right: 20px;
    font-size: 11px;
    border-bottom: 1px solid #dddddc;
}

.news_item_public
{
    color: #7b7b7b;    
    font-size: 12px;
    text-align: right;
    margin: 0;
    padding: 0;
}

.more
{
    color: #5a5a5a;
    text-align: right;
    font-size: 13px;
    margin: 0;
    padding: 0;
    font-weight: bold;
    padding-bottom: 5px;
}

img
{
    border: 0;
}
.footer-left{
	float: left;
	width: 50%;
}
.age_limit{
	font-size: 18px;
	color: #9c0605;
}
.footer-right{
	float: right;
	width: 40%;
	text-align: justify;
}
.wrapper {
	position: relative;
	/*width: 1000px;*/
	min-width: 910px;
	margin: 0 auto;
	padding: 0px 50px 0 40px;
}
#copyright{
	padding-top:10px;
}
.user_menu li{
	float: left;
	list-style-type: none;
	padding-left: 10px;
	
}
#login_search>ul{
	padding-left: 43px!important;
	
}
.user_menu ul{
	display: none;
	background: /*#F2FDFF*/ #E9ECEC;
	position: absolute;
	margin: 0;
    padding:0px;
	z-index: 2000;
	min-width: 160px;
}
.user_menu ul li{
	line-height: 20px;
	list-style-type: square!important;
	float: none;
	list-style-position: inside;
	padding-left: 5px!important;
	
}
.user_menu li:hover ul{
	display: block;
	
	
}
#close{
	color: #acacac;
	font-size: 12px;
	padding-right: 15px;
	float: right;
}
#login{
	position: absolute!important;
	display: block!important;
	top: 70px!important;
	right: 15px!important;
	z-index: 3000;
}

.search{
	/* bottom: 20px!important; */
	position: relative!important;
	width:150px!important;
}
.map{
	width: 80px!important;
}
.user_menu{
    padding: 0px!important;
    height: 20px;
    float: right;
	margin: 0px!important;
	font-size:14px;
}
.office_menu{
margin-right: 70px;
/* float:right; */
height: 20px;/* padding-top: 10px; */}

a.authorized_user {
 font-size:16px;
 color: #000;
position: relative;
top: -1px;
}
.user_menu li a{
	line-height: 16px;
}
.menu_background{
	    width: 100%;
	    height: 20px;
	    padding: 9px 0 9px 0;
	    border-bottom: 2px solid #e4e4e4;
	    background: #F7F7F7;
	    /* margin-bottom: 10px; */
	    position: fixed;
	    top: 0px;
	    z-index: 10000;
}
#login_form {
    display: none;
    position: absolute!important;
    top: 25px;
    /* background: #fff; */
    z-index: 2000;
    width: 270px!important;
    right: 70px;}

#login_form h3{
	float: left;
	color:#000;
	margin:0px;
}
#login_form fieldset{
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px; 
	-khtml-border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px; 
	border-radius: 10px; 
	margin-bottom: 10px;
	border: 2px #a0a0a0 solid!important;
	padding: 4px 2px 10px 8px;
	background: #fff;
	height: 100px;
	}
	#login_form input[type='text'],#login_form input[type='password']{
	width: 120px!important;
}
#login_form fieldset .login {
	width: 94px;
	padding: 0 38px 8px 13px;
}
 #login_form fieldset .login  div {
	width: 38px;
	padding: 0;
	background: url("../images/input_bg_login.png") 0 -38px no-repeat;
}
input:-webkit-autofill {
	background: url("../images/input_bg.gif") center top repeat-x !important;
	color: #c2c2c2 !important;
}
input[type=password],
input[type=text] {
	position: relative;
	padding: 3px 10px 3px 10px;
	border: 1px #d6d6d6 solid;
	border-bottom-width: 3px;
	
	-moz-border-radius: 14px; 
	-webkit-border-radius: 14px; 
	-khtml-border-radius: 14px; 
	border-radius: 14px;
	/*z-index: 10;*/
}
input[type=reset],
input[type=button],
input[type=submit] {
	position: relative;
	font-weight: bold;
	height: 24px;
	padding: 0px 10px 4px 10px;
	margin: 3px 3px 1px 1px;
	color: #fff;
	overflow: visible;
	
	background: #5b0302;
    background: -webkit-linear-gradient(top, bottom, #5b0302, #a83435);
    background: -moz-linear-gradient(top,  #5b0302,  #a83435);  
    background: -ms-linear-gradient(top,  #5b0302,  #a83435);  
    background: -o-linear-gradient(top, #5b0302, #a83435);
	background: linear-gradient(top, #5b0302, #a83435);
	border: none;
	
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	-khtml-border-radius: 5px; 
	-ms-border-radius: 5px; 
	border-radius: 5px;
	
	box-shadow: 1px -1px 1px 1px rgba(0, 0, 0, 0.7), 1px -3px 5px 1px rgba(255, 189, 193, 0.5) inset, 0px -1px 4px 2px rgba(59, 0, 4, 0.7) inset;
	-moz-box-shadow: 1px -1px 0px 1px rgba(0, 0, 0, 0.7), 0px -1px 4px 2px rgba(59, 0, 4, 0.7) inset, 1px -3px 6px 3px rgba(255, 189, 193, 0.7) inset;
    -webkit-box-shadow: 1px -1px 0px 1px rgba(0, 0, 0, 0.7), 0px -1px 4px 2px rgba(59, 0, 4, 0.7) inset, 1px -3px 9px 3px rgba(255, 189, 193, 0.6) inset;
    -sand-box-shadow: 1px -1px 0px 1px rgba(0, 0, 0, 0.7), 0px -1px 4px 2px rgba(59, 0, 4, 0.7) inset, 1px -3px 9px 3px rgba(255, 189, 193, 0.6) inset;
	cursor: pointer;
}
form {
    margin: 0;
    padding: 0}
.message {
        font-weight: bold;
    /* right: -20px; */
    margin-left: 20px;
    padding: 0px;
    margin-top: 0px;
	font-size: 14px;
}
.subject_file_list ul li a,.subject_file_list ul li{
	font-weight: bold;
    font-size: 14px;
}
.subject_file_list ul ul li a, .subject_file_list ul ul li span {
	font-weight: normal;
    font-size: 12px;
}
#copyright a{
	color: #6A7F98;
}
.vsds{
	z-index: 1100;
    position: absolute;
    right: 40px;
    top: 3px;

}
.program {
    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px; 
    -khtml-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px; 
    border-radius: 10px; 
    margin-bottom: 10px;
    border: 2px #a0a0a0 solid;
    padding: 4px 2px 10px 8px;
    background: #fff;   
}

/*===============================Gallery=====================================*/

.gallery-item
{
    float: left;
    /*margin-right: 1%;*/
    width: 299px;
    height: 205px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    text-align: center;
	padding: 9px 9px 9px 10px;
}
.album_title{
	background: rgba(0, 0, 0, 0.5);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#7f000000', endColorstr='#7f000000')"; /* IE */
    color: white;
  	position: absolute;
  	top: 0px;
  	
	width: 299px;
  	
	margin-top: 173px;
    text-align: left;

  	
	line-height: 14px;
  	
	white-space: nowrap;
	height: 32px;
  	
	/* display: inline-block; */
	z-index: 1000;
	text-overflow: ellipsis;
}
.album_title div{
	font-size: 12px;
	font-family: Tahoma;
	font-weight: bold;
	margin: 7px;
	max-width: 208px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.item_content{
	width: 299px;
    height: 205px;
    overflow: hidden;
    position: relative;
    
	/* text-align: left; */
	z-index: 1;
	background: #c4c4c4;
}
.item_content_sub{
	width: 130px;
    height: 88px;
    overflow: hidden;
    position: relative;
    
	text-align: center;
	z-index: 1;
	background: #F1F1F1;
}
	.item_content a img{
	height: 205px;
    text-align: center;}
	
.item_content_sub a img{
	
    text-align: center!important;}
	
h2, .clear
{
    clear: both;
}
.sum_photo{
	display: block;
	height: 10px;
	background: url("../images/landscape/camera.png") no-repeat;
  padding-left: 14px;
  font-weight: bold;
  float:right;
  position: relative;
bottom: 23px;
line-height: 10px;
}

.sig{
    background-image: url(../images/tooltipster/sig_img.png);
    background-size: cover;
    display: inline-block;
    height: 16px;
    width: 16px;
    cursor: pointer;
    margin-bottom: -2px;
}